{% form_tag 'abuse', target %}
  <div class="w-full px-5 text-left">
    {%# 举报类型 %}
    <div class="mt-5">
      <label for="report_type" class="block mb-1">举报类型</label>
      <select
        name="report_type"
        id="report_type"
        class="form-select mt-1.5 w-full rounded-lg border border-slate-300 bg-white px-3 py-2 hover:border-slate-400 focus:border-primary dark:border-navy-450 dark:bg-navy-700 dark:hover:border-navy-400 dark:focus:border-accent">
        <option value="">请选择举报类型</option>
        {% for type in site.abuse_types %}
          <option value="{{ type[0] }}">{{ type[1] }}</option>
        {% endfor %}
      </select>
    </div>
    {%# 举报内容 %}
    <div class="mt-5">
      <label for="report_message" class="block mb-1">举报内容</label>
      <textarea
        class="form-textarea w-full resize-none rounded-lg border border-slate-300 bg-transparent p-2.5 placeholder:text-slate-400/70 hover:border-slate-400 focus:border-primary dark:border-navy-450 dark:hover:border-navy-400 dark:focus:border-accent"
        name="report_message"
        placeholder="请描述举报理由"></textarea>
      <div id="abuse_error" class="text-red-500 text-xs"></div>
    </div>
    {%# 提交按钮 %}
    <input type="submit" class="px-4 py-2 mt-5 text-white bg-blue-500 rounded cursor-pointer" />
  </div>
{% endform_tag %}
