<a
  {% if site.user_detail_enabled %}
  href="{{ user.path }}"
  {% endif %}
  class="items-center justify-center flex-shrink-0 w-8 h-8 lg:w-10 lg:h-10 overflow-hidden rounded-full">
  <img
    src="{{ user.avatar_url }}"
    class="w-8 lg:w-10 h-8 lg:h-10"
    alt="{{ user.nick_name }}" />
</a>
