<div class=" bg-green-100 rounded-md my-1 p-4">
  {%# 标题 %}
  <div class="text-content font-medium mb-2 flex space-s-2 items-center space-x-1">
    {%# icon %}
    <svg t="1686035091139" class="icon w-5 h-5" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="4269" ><path d="M512 512m-512 0a512 512 0 1 0 1024 0 512 512 0 1 0-1024 0Z" fill="#27B800" p-id="4270"></path><path d="M780.170662 322.054449a20.336449 20.336449 0 0 0-28.71028 0l-336.201544 336.201544-140.794799-140.794798a20.336449 20.336449 0 0 0-28.71028 28.71028l155.149939 155.149939a20.336449 20.336449 0 0 0 28.71028 0l350.556684-350.556684a20.336449 20.336449 0 0 0 0-28.710281z" fill="#F9F9F9" p-id="4271"></path></svg>
    <span>最佳回答来自
      <a
        class="hover:text-blue-500"
        {% if site.user_detail_enabled %}
        href="{{ reply.author.path }}"
        {% endif %}>
          {{ reply.author.nick_name }}
      </a>
    </span>
  </div>

  {%# 内容 %}
  <div class="max-w-full break-words mb-2">
    <div class="flex flex-col space-y-3 md:space-y-5">
      <div class="mt-1 text-content">
        <div class="overflow-hidden relative px-6 max-h-[27rem]">
          {{ reply.content }}
        </div>
      </div>
      {%# 查看原文 %}
      <div class="">
        <a
          class="text-sm text-gray-500 hover:text-gray-700"
          href="{{ reply.path }}">
          查看原文
        </a>
      </div>
    </div>
  </div>
</div>
