<div
  class="fixed inset-0 z-[100] flex flex-col items-center justify-center overflow-hidden px-4 py-6 sm:px-5"
  x-show="showModal"
  x-data="{ deletable: false }"
  role="dialog"
  x-cloak
>
  <div
    class="absolute inset-0 bg-slate-900/60 transition-opacity duration-300"
    @click="showModal = false"
    x-show="showModal"
    x-transition:enter="ease-out"
    x-transition:enter-start="opacity-0"
    x-transition:enter-end="opacity-100"
    x-transition:leave="ease-in"
    x-transition:leave-start="opacity-100"
    x-transition:leave-end="opacity-0"
  ></div>

  <div
    class="relative max-w-lg rounded-lg bg-white transition-opacity duration-300 dark:bg-navy-700 sm:px-5"
    x-show="showModal"
    x-transition:enter="ease-out"
    x-transition:enter-start="opacity-0"
    x-transition:enter-end="opacity-100"
    x-transition:leave="ease-in"
    x-transition:leave-start="opacity-100"
    x-transition:leave-end="opacity-0"
  >
    {%# modal主体 %}
    <div class="relative bg-white rounded-lg dark:bg-gray-700">
      <button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white" @click="showModal=false">
          <svg  class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
          <span class="sr-only">Close modal</span>
      </button>
      <div class="p-6">
        {%# 提示信息 %}
        <div class="w-full ">
          <ul role="list" class="mt-6 space-y-6">
            <li class="flow-root">
              <div class="flex p-3 -m-3">
                <div class="flex-1 min-w-0">
                  <h4 class="text-base font-medium text-gray-900 truncate">删除账号</h4>
                  <p class="mt-4 text-sm leading-relaxed text-gray-500 sm:ml-6">删除后账号所有相关的数据将无法恢复，如果您确定要删除，请在下方输入账号密码</p>
                </div>
              </div>
            </li>
            <li class="flow-root">
              <label class="inline-flex items-center space-x-2 text-gray-900">
                <input x-model="deletable" type="checkbox" class="form-checkbox form-checkbox--basic">
                <span class="text-sm cursor-pointer">我已知晓，并继续删除本账号</span>
              </label>
            </li>
            <li class="flow-root">
              {% form_tag 'cancel_account' %}
                <div class="space-y-3">
                  <label for="password" class="block text-sm font-medium text-gray-700">当前账号密码</label>
                  <input class="w-full px-3 py-2 bg-transparent border rounded-lg form-input border-slate-300 placeholder:text-slate-400/70 hover:border-slate-400 focus:border-primary dark:border-navy-450 dark:hover:border-navy-400 dark:focus:border-accent" name="password" type="password"/>
                </div>
                <div class="text-xs text-red-500 mt-3" id="cancel_account_errors"></div>

                <div class="flex items-center space-x-5 mt-6 justify-center">
                  <button @click="" type="submit" class="text-white hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center mr-2" :class="deletable ? 'bg-red-600' : 'pointer-events-none bg-gray-600 opacity-50'" >
                      删除账号
                  </button>
                  <button @click="showModal=false" type="button" class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">取消</button>
                </div>
              {% endform_tag %}
            </li>
          </ul>
        </div>
      </div>
    </div>
    {%# modal主体结束 %}
  </div>
</div>
