<div class="mt-5">
  <label for="start_time" class="block mb-1">活动开始时间</label>
  <input
    type="datetime-local"
    name="start_time"
    value="{{ post.event_start_time }}"
    class="block w-full px-3 py-2 mt-2 border border-gray-200 rounded-md shadow outline-none">
</div>


<div class="mt-5">
  <label for="start_time" class="block mb-1">活动结束时间</label>
  <input
    type="datetime-local"
    name="end_time"
    value="{{ post.event_end_time }}"
    class="block w-full px-3 py-2 mt-2 border border-gray-200 rounded-md shadow outline-none">
</div>
<div class="mt-5">
  <label for="location" class="block mb-1">活动地点</label>
  <input
    type="text"
    name="location"
    value="{{ post.event_location }}"
    class="form-input mt-1.5 w-full rounded-lg border border-slate-300 bg-transparent px-3 py-2 placeholder:text-slate-400/70 hover:border-slate-400 focus:border-primary dark:border-navy-450 dark:hover:border-navy-400 dark:focus:border-accent"
    placeholder="请输入活动地点">
</div>
<div class="mt-5">
  <label for="link" class="block mb-1">活动链接</label>

  <input
    type="text"
    name="link"
    value="{{ post.event_link }}"
    class="form-input mt-1.5 w-full rounded-lg border border-slate-300 bg-transparent px-3 py-2 placeholder:text-slate-400/70 hover:border-slate-400 focus:border-primary dark:border-navy-450 dark:hover:border-navy-400 dark:focus:border-accent"
    placeholder="请输入活动链接">
</div>
<div class="mt-5">
  <label for="link_text" class="block mb-1">活动链接文本</label>
  <input
    type="text"
    name="link_text"
    value="{{ post.event_link_text }}"
    class="form-input mt-1.5 w-full rounded-lg border border-slate-300 bg-transparent px-3 py-2 placeholder:text-slate-400/70 hover:border-slate-400 focus:border-primary dark:border-navy-450 dark:hover:border-navy-400 dark:focus:border-accent"
    placeholder="请输入活动链接文本">
</div>
