{% if child %}
  {% assign child_css = 'pl-5 md:pl-8' %}
{% else %}
  {% assign child_css = '' %}
{% endif %}

<div
  x-data="{open: false}"
  class="space-y-3 md:space-y-5"
  id="reply_{{ reply.id }}">
  <article class="w-full {{ child_css }} space-y-3 md:space-y-5">
    {%# 上下布局 %}
    {%# 头像 | 昵称 | 发布时间 | 操作 %}
    <div class="flex items-center justify-between">
      <div class="flex items-center justify-start space-x-2">
        <a
          {% if site.user_detail_enabled %}
          href="{{ reply.author.path }}"
          {% endif %}
          class="items-center justify-center flex-shrink-0 w-6 h-6 lg:w-8 lg:h-8 overflow-hidden rounded-full">
          <img
            src="{{ reply.author.avatar_url }}"
            class="w-6 h-6 lg:w-8 lg:h-8"
            alt="{{ reply.author.nick_name }}" />
        </a>
        <div class="flex items-center space-x-2">
          <p class="text-lg">
            <a
              {% if site.user_detail_enabled %}
              href="{{ reply.author.path }}"
              {% endif %}>
              {{ reply.author.nick_name }}
            </a>
          </p>

          {% unless reply.active %}
            <div class="tag bg-error text-white">已被管理员隐藏或屏蔽</div>
          {% endunless %}
        </div>
        <div>
          {{ reply.created_at | time_ago }}
        </div>
      </div>
      {%# 操作 %}
      <div class="flex items-center space-x-2">
        {%# 操作 %}
        {% render 'reply_actions', reply: reply, abuse_types: abuse_types, child: child %}
      </div>
    </div>

    {%# 内容 %}
    <div class="w-full space-y-3 md:space-y-5 pb-2 border-b border-slate-200 border-dashed">
      {%# 评论内容主体 %}
      <div class="text-lg break-all ProseMirror">
        {{ reply.content }}
      </div>

      <div class="w-full flex justify-between gap-3 md:gap-5 items-start">
        {%# 回复按钮 %}
        {% if current_user and reply.active and reply.post.can_reply %}
          <div class="cursor-pointer" @click="open = !open">回复</div>
        {% endif %}
        {%# 互动按钮 %}
        <div class="flex items-center">
          {% render 'reaction_actions', target: reply, post: reply.post %}
        </div>
      </div>
    </div>
  </article>

  {%# 子回复评论框 %}
  {% render 'question_reply_form', reply: reply %}

  {%# 子回复 %}
  <div class="mt-2 md:mt-3" id="reply_{{ reply.id }}_child_list">
    {% for rep in reply.replies %}
      {% render 'event_reply', reply: rep, child: true %}
    {% endfor %}
  </div>
</div>
