<div id="feedback_form">
  {% form_tag 'feedback', post: post %}
    <div class="space-y-5">
      <div class="flex space-x-5 justify-center items-center">
        {% if site.plugins.feedback.message_enabled %}
          <div x-data="{ selected: '' }" class="flex space-x-5 justify-center items-center">
            {% for useful_type in site.plugins.feedback.useful_types %}
              <label
                class="flex items-center space-x-1 p-1 rounded"
                :class="{ 'bg-gray-200': selected === '{{ useful_type.emoji }}' }"
                @click="selected = '{{ useful_type.emoji }}'">
                <input
                  type="radio"
                  name="feedback[useful_type]"
                  value="{{ useful_type.emoji }}"
                  class="hidden">
                <div>{{ useful_type.emoji }}</div>
                <div>{{ useful_type.label }}</div>
              </label>
            {% endfor %}
          </div>
        {% else %}
          {% for useful_type in site.plugins.feedback.useful_types %}
            <button name="feedback[useful_type]" value="{{ useful_type.emoji }}">{{ useful_type.emoji }} {{ useful_type.label }}</button>
          {% endfor %}
        {% endif %}
      </div>
      {%# 反馈内容 %}
      {% if site.plugins.feedback.message_enabled %}
        {% if site.plugins.feedback.message_required %}
          <label class="block w-full text-left">内容（*必填）</label>
        {% endif %}
        <textarea
          class="w-full resize-none rounded-lg border border-slate-300 bg-transparent p-2.5 placeholder:text-slate-400/70 hover:border-slate-400 focus:border-primary dark:border-navy-450 dark:hover:border-navy-400 dark:focus:border-accent max-h-20"
          name="feedback[message]"
          placeholder="请输入反馈内容"></textarea>
        {%# 提交按钮 %}
        <div class="flex justify-end ">
          <input
            type="submit"
            class="inline-flex items-center justify-center px-5 py-2 tracking-wide text-center text-white transition-all duration-200 rounded-lg outline-none cursor-pointer focus:outline-none disabled:pointer-events-none bg-primary"
            value="提交" />
        </div>
      {% endif %}
      <div id="feedback_error" class="text-red-500 text-xs"></div>
      <div class="text-center">{{ site.plugins.feedback.useful_label }}</div>
    </div>
  {% endform_tag %}
</div>
