{%# sidebarVisible: 侧边栏展示, searchVisible: 搜索展示 %}
<header
  class="sticky top-0 z-20 flex flex-col self-center w-full h-16 max-w-full space-y-0 border-b shadow border-line-subdued"
  x-data="{sidebarVisible: false, searchVisible: false}"
>
  <div class="bg-white lg:overflow-y-visible" >
    <div class="px-3 sm:px-3.5 md:px-4 lg:px-5">
      <div class="max-w-full mx-auto md:max-w-7xl">
        <div class="grid h-16 grid-cols-12 gap-5" :class="searchVisible ? 'hidden' : 'show'">
          {%# 社区logo和名称开始 %}
          <div class="flex items-center col-span-3">
            {%# 展开侧边栏 %}
            <button class="lg:hidden me-3"
              @click="sidebarVisible = !sidebarVisible"
              :aria-expanded="sidebarVisible"
              aria-controls="mobile-navigation"
              aria-label="Navigation Menu"
            >
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true" class="w-8 h-8"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path></svg>
            </button>
            <div class="">
              <a href="/" class="block ">
                <div class="flex items-center space-x-2">
                  <div class="w-8 h-8 avatar lg:w-10 lg:h-10">
                    <img
                      class="rounded-full"
                      src="{{ site.logo_url }}"
                      alt="avatar"
                    />
                  </div>
                  <div class="hidden font-bold md:block dark:text-white">
                    <a href="/" class="text-xl font-bold text-primary">{{ site.name }}</a>
                  </div>
                </div>
              </a>
            </div>
          </div>
          {%# 社区logo和名称结束 %}
          {%# 搜索栏开始 %}
          <div class="flex items-center justify-center col-span-6">
            <div class="items-center justify-center hidden lg:flex grow">
              {% form_tag 'search' %}
                <label class="relative flex">
                  <input
                    class="w-full px-3 py-2 bg-transparent border rounded-lg peer form-input border-slate-300 pl-9 placeholder:text-slate-400/70 hover:border-slate-400 focus:border-primary dark:border-navy-450 dark:hover:border-navy-400 dark:focus:border-accent"
                    placeholder="搜索"
                    value="{{ params.q }}"
                    type="text"
                    name="q" />
                  <div class="absolute flex items-center justify-center w-10 h-full pointer-events-none text-slate-400 peer-focus:text-primary dark:text-navy-300 dark:peer-focus:text-accent">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="h-4.5 w-4.5 transition-colors duration-200"
                      fill="currentColor"
                      viewBox="0 0 24 24">
                      <path d="M3.316 13.781l.73-.171-.73.171zm0-5.457l.73.171-.73-.171zm15.473 0l.73-.171-.73.171zm0 5.457l.73.171-.73-.171zm-5.008 5.008l-.171-.73.171.73zm-5.457 0l-.171.73.171-.73zm0-15.473l-.171-.73.171.73zm5.457 0l.171-.73-.171.73zM20.47 21.53a.75.75 0 101.06-1.06l-1.06 1.06zM4.046 13.61a11.198 11.198 0 010-5.115l-1.46-.342a12.698 12.698 0 000 5.8l1.46-.343zm14.013-5.115a11.196 11.196 0 010 5.115l1.46.342a12.698 12.698 0 000-5.8l-1.46.343zm-4.45 9.564a11.196 11.196 0 01-5.114 0l-.342 1.46c1.907.448 3.892.448 5.8 0l-.343-1.46zM8.496 4.046a11.198 11.198 0 015.115 0l.342-1.46a12.698 12.698 0 00-5.8 0l.343 1.46zm0 14.013a5.97 5.97 0 01-4.45-4.45l-1.46.343a7.47 7.47 0 005.568 5.568l.342-1.46zm5.457 1.46a7.47 7.47 0 005.568-5.567l-1.46-.342a5.97 5.97 0 01-4.45 4.45l.342 1.46zM13.61 4.046a5.97 5.97 0 014.45 4.45l1.46-.343a7.47 7.47 0 00-5.568-5.567l-.342 1.46zm-5.457-1.46a7.47 7.47 0 00-5.567 5.567l1.46.342a5.97 5.97 0 014.45-4.45l-.343-1.46zm8.652 15.28l3.665 3.664 1.06-1.06-3.665-3.665-1.06 1.06z"></path>
                    </svg>
                  </div>
                </label>
              {% endform_tag %}
            </div>
          </div>
          {%# 搜索栏结束 %}

          {%# 用户信息开始 %}
          <div class="flex items-center justify-end col-span-3 space-x-1 md:space-x-2 lg:space-x-3">

            {%# 搜索按钮: 手机端展示 %}
            <div class="relative inline-flex items-center p-2 text-sm font-medium bg-white border rounded-full shadow-sm lg:hidden focus:outline-none focus-visible:ring hover:bg-slate-200 border-line" @click="searchVisible = true">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true" class="w-4.5 h-4.5"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
            </div>
            {%# 用户头像和下拉菜单 %}
            {% if current_user %}
              <div class="flex items-center flex-shrink-0 space-x-1 md:space-x-2 lg:space-x-3">
                {%# 消息通知按钮 %}
                <div class="relative inline-flex items-center p-2 text-sm font-medium bg-white border rounded-full shadow-sm focus:outline-none focus-visible:ring hover:bg-slate-200 border-line">
                  <a
                    href=""
                    type="button"
                    class="flex-shrink-0 text-gray-400 rounded-full hover:text-gray-600 focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800 dark:bg-gray-800">
                    <span class="sr-only">View notifications</span>
                    <svg
                      class="w-4.5 h-4.5 lg:w-6 lg:h-6"
                      x-description="Heroicon name: outline/bell"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      aria-hidden="true">
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0"></path>
                    </svg>
                  </a>
                </div>

                {%# 添加帖子下拉菜单 %}
                <div
                  x-data="usePopper({placement:'bottom-end',offset:4})"
                  @click.outside="isShowPopper && (isShowPopper = false)"
                  class="relative inline-block">
                  <button
                    x-ref="popperRef"
                    @click="isShowPopper = !isShowPopper"
                    class="relative inline-flex items-center p-2 text-sm font-medium bg-red-500 border rounded-full shadow-sm focus:outline-none focus-visible:ring hover:bg-red-700 border-line">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                      fill="currentColor"
                      class="w-4.5 h-4.5 text-white lg:w-6 lg:h-6">
                      <path
                        fill-rule="evenodd"
                        d="M12 5.25a.75.75 0 01.75.75v5.25H18a.75.75 0 010 1.5h-5.25V18a.75.75 0 01-1.5 0v-5.25H6a.75.75 0 010-1.5h5.25V6a.75.75 0 01.75-.75z"
                        clip-rule="evenodd" />
                    </svg>
                  </button>

                  <div
                    x-ref="popperRoot"
                    class="popper-root"
                    :class="isShowPopper && 'show'"  x-cloak>
                    <div class="popper-box rounded-md border border-slate-150 bg-white py-1.5 font-inter dark:border-navy-500 dark:bg-navy-700">
                      <ul id="header_spaces">
                        {% for space in current_user.spaces %}
                          <a href="/posts/new?space={{ space.id }}">
                            <li class="flex items-center py-2 pl-5 pr-8 text-base md:pr-10 hover:bg-slate-100 hover:text-slate-800 focus:bg-slate-100 focus:text-slate-800 dark:hover:bg-navy-600 dark:hover:text-navy-100 dark:focus:bg-navy-600 dark:focus:text-navy-100">
                                {{ space.name_with_icon }}
                            </li>
                          </a>
                        {% else %}
                          <li class="py-2 pl-5 pr-8 text-base md:pr-10 hover:bg-slate-100 hover:text-slate-800 focus:bg-slate-100 focus:text-slate-800 dark:hover:bg-navy-600 dark:hover:text-navy-100 dark:focus:bg-navy-600 dark:focus:text-navy-100">
                            <a href="/spaces">点击加入空间</a>
                          </li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                </div>

                {%# 用户头像 %}
                <div
                  x-data="usePopper({placement:'bottom-end',offset:4})"
                  @click.outside="isShowPopper && (isShowPopper = false)"
                  class="relative inline-block"
                >
                  <button
                    x-ref="popperRef"
                    @click="isShowPopper = !isShowPopper"
                    class="flex items-center text-sm font-medium bg-red-500 border rounded-full shadow-sm focus:outline-none focus-visible:ring hover:bg-red-700 border-line"
                  >
                    <div class="items-center justify-center flex-shrink-0 w-8 h-8 overflow-hidden rounded-full lg:w-10 lg:h-10" id="current_user_avatar_in_header">
                      <img
                        src="{{ current_user.avatar_url }}"
                        class="w-8 h-8 lg:w-10 lg:h-10"
                        alt="{{ current_user.nick_name }}" />
                    </div>
                  </button>
                  <div x-ref="popperRoot" class="popper-root" :class="isShowPopper && 'show'" x-cloak>
                    <div class="popper-box rounded-md border border-slate-150 bg-white py-1.5 font-inter dark:border-navy-500 dark:bg-navy-700">
                      <ul class="text-base">
                        <li>
                          <a
                            href="/profile"
                            class="flex items-center py-2 pl-3 pr-8 space-x-2 font-medium tracking-wide transition-all outline-none md:pr-10 hover:bg-slate-100 hover:text-slate-800 focus:bg-slate-100 focus:text-slate-800 dark:hover:bg-navy-600 dark:hover:text-navy-100 dark:focus:bg-navy-600 dark:focus:text-navy-100"
                          >
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                              <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z" />
                            </svg>
                            <p>个人主页</p>
                          </a>
                        </li>
                        <li>
                          <a
                            href="/profile/edit"
                            class="flex items-center py-2 pl-3 pr-8 space-x-2 font-medium tracking-wide transition-all outline-none md:pr-10 hover:bg-slate-100 hover:text-slate-800 focus:bg-slate-100 focus:text-slate-800 dark:hover:bg-navy-600 dark:hover:text-navy-100 dark:focus:bg-navy-600 dark:focus:text-navy-100"
                          >
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                              <path stroke-linecap="round" stroke-linejoin="round" d="M9.594 3.94c.09-.542.56-.94 1.11-.94h2.593c.55 0 1.02.398 1.11.94l.213 1.281c.063.374.313.686.645.87.074.04.147.083.22.127.324.196.72.257 1.075.124l1.217-.456a1.125 1.125 0 011.37.49l1.296 2.247a1.125 1.125 0 01-.26 1.431l-1.003.827c-.293.24-.438.613-.431.992a6.759 6.759 0 010 .255c-.007.378.138.75.43.99l1.005.828c.424.35.534.954.26 1.43l-1.298 2.247a1.125 1.125 0 01-1.369.491l-1.217-.456c-.355-.133-.75-.072-1.076.124a6.57 6.57 0 01-.22.128c-.331.183-.581.495-.644.869l-.213 1.28c-.09.543-.56.941-1.11.941h-2.594c-.55 0-1.02-.398-1.11-.94l-.213-1.281c-.062-.374-.312-.686-.644-.87a6.52 6.52 0 01-.22-.127c-.325-.196-.72-.257-1.076-.124l-1.217.456a1.125 1.125 0 01-1.369-.49l-1.297-2.247a1.125 1.125 0 01.26-1.431l1.004-.827c.292-.24.437-.613.43-.992a6.932 6.932 0 010-.255c.007-.378-.138-.75-.43-.99l-1.004-.828a1.125 1.125 0 01-.26-1.43l1.297-2.247a1.125 1.125 0 011.37-.491l1.216.456c.356.133.751.072 1.076-.124.072-.044.146-.087.22-.128.332-.183.582-.495.644-.869l.214-1.281z" />
                              <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                            </svg>
                            <p>个人设置</p>
                          </a>
                        </li>
                        <li>
                          {%# sign_out class: "flex" %}
                          {% form_tag 'sign_out' %}
                            <button class="flex items-center w-full py-2 pl-3 pr-8 space-x-2 font-medium tracking-wide transition-all outline-none md:pr-10 hover:bg-slate-100 hover:text-slate-800 focus:bg-slate-100 focus:text-slate-800 dark:hover:bg-navy-600 dark:hover:text-navy-100 dark:focus:bg-navy-600 dark:focus:text-navy-100">
                              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15M12 9l-3 3m0 0l3 3m-3-3h12.75" />
                              </svg>
                              <p>退出登录</p>
                            </button>
                          {%# endsign_out %}
                          {% endform_tag %}
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                {%# 用户头像结束 %}
              </div>
            {% else %}
            {%# 用户未登录显示登录按钮 %}
              <div class="hidden space-x-4 lg:relative lg:z-10 lg:ml-4 lg:flex lg:items-center">
                <a class="inline-block px-5 py-2 bg-white border rounded cursor-pointer border-slate-150 hover:bg-slate-150" href="/sign_in" data-turbo="false">登录</a>
              </div>
              <div class="relative inline-flex items-center p-2 text-sm font-medium bg-white border rounded-full shadow-sm lg:hidden focus:outline-none focus-visible:ring hover:bg-slate-200 border-line">
                <a href="/sign_in">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4.5 h-4.5">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z" class="w-6 h-6 " />
                </svg>
                </a>
              </div>
            {% endif %}
          </div>
          {%# 用户信息结束 %}
        </div>

        {%# 搜索栏 %}
        <div class="grid h-16 grid-cols-12 gap-5" :class="searchVisible ? 'show' : 'hidden'" x-cloak>
          <div class="flex items-center justify-center col-span-11">
            <label class="relative flex w-full rounded-md shadow-sm isolate">
              <input
                class="w-full px-3 py-2 bg-transparent border rounded-md form-input border-slate-300 pl-9 placeholder:text-slate-400/70 hover:border-slate-400 focus:border-primary dark:border-navy-450 dark:hover:border-navy-400 dark:focus:border-accent"
                placeholder="Search here..."
                type="text"
                name="community[query_str]" />
              <div class="absolute flex items-center justify-center w-10 h-full pointer-events-none text-slate-400 peer-focus:text-primary dark:text-navy-300 dark:peer-focus:text-accent">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-4.5 w-4.5 transition-colors duration-200"
                  fill="currentColor"
                  viewBox="0 0 24 24">
                  <path d="M3.316 13.781l.73-.171-.73.171zm0-5.457l.73.171-.73-.171zm15.473 0l.73-.171-.73.171zm0 5.457l.73.171-.73-.171zm-5.008 5.008l-.171-.73.171.73zm-5.457 0l-.171.73.171-.73zm0-15.473l-.171-.73.171.73zm5.457 0l.171-.73-.171.73zM20.47 21.53a.75.75 0 101.06-1.06l-1.06 1.06zM4.046 13.61a11.198 11.198 0 010-5.115l-1.46-.342a12.698 12.698 0 000 5.8l1.46-.343zm14.013-5.115a11.196 11.196 0 010 5.115l1.46.342a12.698 12.698 0 000-5.8l-1.46.343zm-4.45 9.564a11.196 11.196 0 01-5.114 0l-.342 1.46c1.907.448 3.892.448 5.8 0l-.343-1.46zM8.496 4.046a11.198 11.198 0 015.115 0l.342-1.46a12.698 12.698 0 00-5.8 0l.343 1.46zm0 14.013a5.97 5.97 0 01-4.45-4.45l-1.46.343a7.47 7.47 0 005.568 5.568l.342-1.46zm5.457 1.46a7.47 7.47 0 005.568-5.567l-1.46-.342a5.97 5.97 0 01-4.45 4.45l.342 1.46zM13.61 4.046a5.97 5.97 0 014.45 4.45l1.46-.343a7.47 7.47 0 00-5.568-5.567l-.342 1.46zm-5.457-1.46a7.47 7.47 0 00-5.567 5.567l1.46.342a5.97 5.97 0 014.45-4.45l-.343-1.46zm8.652 15.28l3.665 3.664 1.06-1.06-3.665-3.665-1.06 1.06z"></path>
                </svg>
              </div>
            </label>
          </div>
          {%# 关闭按钮 %}
          <div class="flex items-center justify-center col-span-1" @click="searchVisible = false">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>

  {%# 侧边栏 %}
  <div class="fixed top-0 bottom-0 left-0 right-0 z-10 backdrop-blur-sm" :class="sidebarVisible ? 'show' : 'hidden'" x-cloak>
    {%# 关闭按钮 %}
    <button
      class="absolute top-0 bottom-0 left-0 right-0"
      @click="sidebarVisible = !sidebarVisible"
      :aria-expanded="sidebarVisible"
      aria-controls="mobile-navigation"
      aria-label="Close Navigation Menu"
    >
    </button>
    <div class="w-1/2 h-full p-3 bg-white">
      {% render 'sidebar', header: true %}
    </div>
  </div>
</header>
