{% assign vote_status = post.vote_status %}

{% if current_user %}
  <div class="flex-col items-center justify-center space-y-2" id="idea_{{ post.id }}_vote">
    {%# 顶 %}
    <div class="cursor-pointer">
      {% form_tag 'vote', post, action: 'upvote' %}
        {%# vote为upvote时 %}
        <button type="submit" class="{% if vote_status == 'upvote' %}bg-primary/50 text-white{% endif %}">
          <svg t="1686241092416" class="icon w-6 h-6" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="12876" ><path d="M147.936 754.048c-14.88 0-28.272-11.904-39.68-23.312-11.904-11.904-37.2-37.2-11.904-63.488l377.952-377.952c8.928-8.928 22.816-19.84 37.696-19.84s28.768 10.912 37.696 19.84l377.952 377.952c10.416 10.416 13.392 21.824 8.928 34.224-3.472 9.424-11.408 18.352-21.824 28.768-14.384 14.384-28.768 21.824-41.168 21.824-7.936 0-15.872-2.976-21.824-9.424L512 402.88l-340.256 340.256c-7.44 6.944-15.376 10.912-23.808 10.912z" fill="#2C2C2C" p-id="12877"></path></svg>
        </button>
      {% endform_tag %}
    </div>
    <div class="text-center">{{ post.vote_count | default: 0 }}</div>
    {%# 踩 %}
    <div class="cursor-pointer">
      {% form_tag 'vote', post, action: 'downvote' %}
        <button type="submit" class="{% if vote_status == 'downvote' %}bg-primary/50 text-white{% endif %}">
          <svg t="1686241092416" class="icon w-6 h-6 transform rotate-180" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="12876" ><path d="M147.936 754.048c-14.88 0-28.272-11.904-39.68-23.312-11.904-11.904-37.2-37.2-11.904-63.488l377.952-377.952c8.928-8.928 22.816-19.84 37.696-19.84s28.768 10.912 37.696 19.84l377.952 377.952c10.416 10.416 13.392 21.824 8.928 34.224-3.472 9.424-11.408 18.352-21.824 28.768-14.384 14.384-28.768 21.824-41.168 21.824-7.936 0-15.872-2.976-21.824-9.424L512 402.88l-340.256 340.256c-7.44 6.944-15.376 10.912-23.808 10.912z" fill="#2C2C2C" p-id="12877"></path></svg>
        </button>
      {% endform_tag %}
    </div>
  </div>
{% else %}
  <div class="flex-col items-center justify-center space-y-2" id="idea_{{ post.id }}_vote">
    {%# 顶 %}
    <div class="cursor-pointer">
      <svg t="1686241092416" class="icon w-6 h-6 cursor-not-allowed" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="12876" ><path d="M147.936 754.048c-14.88 0-28.272-11.904-39.68-23.312-11.904-11.904-37.2-37.2-11.904-63.488l377.952-377.952c8.928-8.928 22.816-19.84 37.696-19.84s28.768 10.912 37.696 19.84l377.952 377.952c10.416 10.416 13.392 21.824 8.928 34.224-3.472 9.424-11.408 18.352-21.824 28.768-14.384 14.384-28.768 21.824-41.168 21.824-7.936 0-15.872-2.976-21.824-9.424L512 402.88l-340.256 340.256c-7.44 6.944-15.376 10.912-23.808 10.912z" fill="#2C2C2C" p-id="12877"></path></svg>
    </div>
    <div class="text-center">{{ post.vote_count | default: 0 }}</div>
    {%# 踩 %}
    <div class="cursor-pointer">
      <svg t="1686241092416" class="icon w-6 h-6 transform rotate-180  cursor-not-allowed" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="12876" ><path d="M147.936 754.048c-14.88 0-28.272-11.904-39.68-23.312-11.904-11.904-37.2-37.2-11.904-63.488l377.952-377.952c8.928-8.928 22.816-19.84 37.696-19.84s28.768 10.912 37.696 19.84l377.952 377.952c10.416 10.416 13.392 21.824 8.928 34.224-3.472 9.424-11.408 18.352-21.824 28.768-14.384 14.384-28.768 21.824-41.168 21.824-7.936 0-15.872-2.976-21.824-9.424L512 402.88l-340.256 340.256c-7.44 6.944-15.376 10.912-23.808 10.912z" fill="#2C2C2C" p-id="12877"></path></svg>
    </div>
  </div>
{% endif %}
