<div
  class="fixed inset-0 z-[100] flex flex-col items-center justify-center overflow-hidden px-4 py-6 sm:px-5"
  x-show="showModal"
  role="dialog"
  x-cloak
>
  <div
    class="absolute inset-0 bg-slate-900/60 transition-opacity duration-300"
    @click="showModal = false"
    x-show="showModal"
    x-transition:enter="ease-out"
    x-transition:enter-start="opacity-0"
    x-transition:enter-end="opacity-100"
    x-transition:leave="ease-in"
    x-transition:leave-start="opacity-100"
    x-transition:leave-end="opacity-0"
  ></div>

  <div
    class="relative max-w-lg rounded-lg bg-white text-center transition-opacity duration-300 dark:bg-navy-700 sm:px-5"
    x-show="showModal"
    x-transition:enter="ease-out"
    x-transition:enter-start="opacity-0"
    x-transition:enter-end="opacity-100"
    x-transition:leave="ease-in"
    x-transition:leave-start="opacity-100"
    x-transition:leave-end="opacity-0"
  >
    {%# modal主体 %}
    <div class="relative bg-white rounded-lg dark:bg-gray-700">
      <button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white" @click="showModal=false">
          <svg  class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
          <span class="sr-only">Close modal</span>
      </button>
      <div class="p-6 text-center">
        <svg  class="mx-auto mb-4 text-gray-400 w-14 h-14 dark:text-gray-200" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>

        {%# 退出空间|删除帖子|删除回复 %}
        {% if action == 'space' %}
          <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">确定要退出空间 <span class="inline-flex items-center">{{ space.name_with_icon }}</span> 吗？</h3>
          <div class="flex items-center space-x-5 justify-center">
            {% form_tag 'quit_space', space %}
              <button @click="showModal=false" type="submit" class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center mr-2">
                  确定
              </button>
            {% endform_tag %}
            <button @click="showModal=false" type="button" class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">取消</button>
          </div>
        {% elsif action == 'post' %}
          <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">确定要删除该帖子吗？</h3>
          <div class="flex items-center space-x-5 justify-center">
            {% form_tag 'destroy', post %}
              <button @click="showModal=false" type="submit" class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center mr-2">
                  确定
              </button>
            {% endform_tag %}
            <button @click="showModal=false" type="button" class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">取消</button>
          </div>
        {% elsif action == 'reply' %}
          <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">确定要删除该回复吗？</h3>
          <div class="flex items-center space-x-5 justify-center">
            {% form_tag 'destroy', reply %}
              <button @click="showModal=false" type="submit" class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center mr-2">
                  确定
              </button>
            {% endform_tag %}
            <button @click="showModal=false" type="button" class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">取消</button>
          </div>
        {% elsif action == 'adopt' %}
          <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">确定要采纳该回答吗？</h3>
          <div class="flex items-center space-x-5 justify-center">
            {% form_tag 'adopt', reply %}
              <button @click="showModal=false" type="submit" class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center mr-2">
                  确定
              </button>
            {% endform_tag %}
            <button @click="showModal=false" type="button" class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">取消</button>
          </div>
        {% elsif action == 'reset_avatar' %}
          <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">确定要恢复默认头像吗？</h3>
          <div class="flex items-center space-x-5 justify-center">
            {% form_tag 'reset_avatar' %}
              <button @click="showModal=false" type="submit" class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center mr-2">
                  确定
              </button>
            {% endform_tag %}
            <button @click="showModal=false" type="button" class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">取消</button>
          </div>
        {% endif %}
      </div>
    </div>
    {%# modal主体结束 %}
  </div>
</div>
