{% if paginate.series.size > 1 %}
  {% assign href_suffix = "?" %}
  {% if suffix %}
    {% assign href_suffix = href_suffix | append: suffix | append: '&' %}
  {% endif %}

  <nav aria-label="Page navigation example">
    <ul class="flex items-center -space-x-px h-10 text-base">
      {%# 上一页 %}
      {% if paginate.prev %}
        <li>
          <a href="{{ href_suffix }}page={{ paginate.prev }}" class="flex items-center justify-center px-4 h-10 ml-0 leading-tight text-gray-500 border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
            <span class="sr-only">Previous</span>
            <svg
              class="w-3 h-3"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 6 10">
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M5 1 1 5l4 4" />
            </svg>
          </a>
        </li>
      {% else %}
        <li>
          <span class="flex items-center justify-center cursor-not-allowed px-4 h-10 ml-0 leading-tight text-gray-500  border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
            <span class="sr-only">Previous</span>
            <svg
              class="w-3 h-3"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 6 10">
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M5 1 1 5l4 4" />
            </svg>
          </span>
        </li>
      {% endif %}

      {%# 页码列表 %}
      {% for i in paginate.series %}
        {% assign type = i | typeof %}
        {% case type %}
          {% when 'string' %}
          {% if i == 'gap' %}
            <span class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500  border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">...</span>
          {% else %}
            <span class="flex items-center justify-center cursor-not-allowed px-4 h-10 leading-tight text-gray-500  border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">{{ i }}</span>
          {% endif %}

          {% when 'integer' %}
          <a href="{{ href_suffix }}page={{ i }}" class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500  border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">{{ i }}</a>
        {% endcase %}
      {% endfor %}

      {%# 下一页 %}
      {% if paginate.next %}
        <li>
          <a href="{{ href_suffix }}page={{ paginate.next }}" class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500  border border-gray-300 rounded-r-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
            <span class="sr-only">Next</span>
            <svg
              class="w-3 h-3"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 6 10">
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m1 9 4-4-4-4" />
            </svg>
          </a>
        </li>
      {% else %}
        <li>
          <span class="flex items-center justify-center cursor-not-allowed px-4 h-10 leading-tight text-gray-500  border border-gray-300 rounded-r-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
            <span class="sr-only">Next</span>
            <svg
              class="w-3 h-3"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 6 10">
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m1 9 4-4-4-4" />
            </svg>
          </span>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}
