<div class="flex flex-col -my-2.5 space-y-5" x-data="{ type: '{{ current_space.type }}' }">
  {% if action == 'create' %}
    {% assign checked_space = current_space.id %}
    {% assign disable = "" %}
  {% else %}
    {% assign checked_space = post.space.id %}
    {% assign disable = "disabled" %}
    <input
      type="hidden"
      name="space_id"
      value="{{ post.space.id }}" />
  {% endif %}
  {%# 选择空间 %}
  <div class="py-2.5 empty:hidden">
    <div class="space-y-1">
      <label class="block font-medium text-content">
        <span>空间</span>
      </label>
      <select
        {{ disable }}
        name="space_id"
        @change="type = $event.target.options[$event.target.selectedIndex].attributes.type.value, space_type = $event.target.options[$event.target.selectedIndex].attributes.type_name.value"
        class="form-select w-full rounded-lg border border-slate-300 bg-white px-3 py-2 hover:border-slate-400 focus:border-primary dark:border-navy-450 dark:bg-navy-700 dark:hover:border-navy-400 dark:focus:border-accent">
        {% if action == 'create' %}
          {% for space in spaces %}
            <option
              value="{{ space.id }}"
              type="{{ space.type }}"
              type_name="{{ space.type_name }}"
              {% if space.id == checked_space %}selected{%endif%}>
              {{ space.name_with_icon }}
            </option>
          {% endfor %}
        {% else %}
          <option value="{{ post.space.id }}">
            {{ post.space.name_with_icon }}
          </option>
        {% endif %}
      </select>
    </div>
  </div>

  {%# 标题 %}
  <div>
    <label for="title" class="block mb-1">标题</label>
    <input
      type="text"
      name="title"
      value="{{ post.title | escape }}"
      class="form-input mt-1.5 w-full rounded-lg border border-slate-300 bg-transparent px-3 py-2 placeholder:text-slate-400/70 hover:border-slate-400 focus:border-primary dark:border-navy-450 dark:hover:border-navy-400 dark:focus:border-accent"
      placeholder="请输入内容标题" />
    {%# 提示 %}

  </div>
  {%# 内容 %}
  {% comment %} <div>
  <label for="content" class="block mb-1">内容</label>
  <textarea
  name="content"
  class="form-textarea h-48 w-full rounded-lg border border-slate-300 bg-transparent p-2.5 placeholder:text-slate-400/70 hover:border-slate-400 focus:border-primary dark:border-navy-450 dark:hover:border-navy-400 dark:focus:border-accent"
  placeholder="请输入内容">{{ post.content }}</textarea>
  </div> {% endcomment %}<div>
    <label for="content" class="block mb-1">内容</label>
    {% assign content = post.content %}
    {% richtext_field_tag 'content', content, toolbar: 'full' %}
  </div>
  {% comment %} {%# postable_type %}
  <div class="hidden">
  <input
  type="text"
  name="type"
  value="{{ type }}">
  </div> {% endcomment %}{%# 根据传入的类型, 渲染对应类型的特有字段 %}
  <div x-show="type === 'event'">
    {% render 'event_form', post: post, action: 'create' %}
  </div>
</div>
<div class="my-5">
  {% if action == 'edit' %}
    {% assign submit_value = '编辑帖子' %}
  {% endif %}

  <button type="submit" class="px-5 py-2 text-white bg-blue-500 rounded cursor-pointer">{{ submit_value | default: '创建帖子' }}</button>
</div>
