{% case post.pin %}
  {% when 'site' %}
  <span class="text-xs p-1 font-normal rounded-md ml-1 md:ml-2 inline-block align-middle bg-success text-white">全站置顶</span>
  {% when 'space' %}
  <span class="text-xs p-1 font-normal rounded-md ml-1 md:ml-2 inline-block align-middle bg-success text-white">空间置顶</span>
{% endcase %}
{% unless post.active %}
  <span class="text-xs p-1 font-normal rounded-md ml-1 md:ml-2 inline-block align-middle bg-error text-white">仅作者可见</span>
{% endunless %}
{% if post.locked %}
  <span class="text-xs p-1 font-normal rounded-md ml-1 md:ml-2 inline-block align-middle bg-warning text-white">已锁定</span>
{% endif %}
