{%# local variables: post, current_user %}

<li class="px-4 py-5 bg-white shadow sm:rounded-lg" x-data="{ showToast: false }" id="post_{{ post.id }}">
  <div class="flex items-center justify-between">
    <div class="flex items-center space-x-3">
      {% # 用户头像 %}
      {% render 'avatar', user: post.author %}

      <div class="flex-1 min-w-0">
        <a class="mb-1 text-sm font-medium text-gray-900" {% if site.user_detail_enabled %} href="{{ post.author.path }}" {% endif %}>
          {{ post.author.nick_name }}
        </a>
        <p class="space-x-2 text-sm text-gray-500 flex items-center">
          {% # 显示空间 %}
          <a href="/spaces/{{ post.space.slug }}" class="flex items-center">{{ post.space.name_with_icon }}</a>
          {% # 只显示日期, 不展示具体时间 %}
          <span>{{ post.created_at | time_ago }}</span>
        </p>
      </div>
    </div>
    {%# Post DropDown %}
    {% render 'post_actions', post: post %}
  </div>
  <h2 class="mt-2 text-lg lg:text-xl xl:text-2xl font-medium text-gray-900 break-all">
    <a href="{{ post.path }}">{{ post.title }}</a>
    {% render 'post_status', post: post %}
  </h2>

  {%# 内容 %}
  <div class="mt-2 text-sm text-gray-700 line-clamp-3">
    {{ post.content | strip_html }}
  </div>

  {%# 互动数据 %}
  <div class="flex items-center justify-between mt-6 space-x-8">
    <div class="flex items-center space-x-6">
      <div type="button" class="inline-flex space-x-2 text-gray-400 hover:text-gray-500">
        <svg fill="currentColor" class="w-5 h-5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
          <path clip-rule="evenodd" fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm-2.625 6c-.54 0-.828.419-.936.634a1.96 1.96 0 00-.189.866c0 .298.059.605.189.866.108.215.395.634.936.634.54 0 .828-.419.936-.634.13-.26.189-.568.189-.866 0-.298-.059-.605-.189-.866-.108-.215-.395-.634-.936-.634zm4.314.634c.108-.215.395-.634.936-.634.54 0 .828.419.936.634.13.26.189.568.189.866 0 .298-.059.605-.189.866-.108.215-.395.634-.936.634-.54 0-.828-.419-.936-.634a1.96 1.96 0 01-.189-.866c0-.298.059-.605.189-.866zm2.023 6.828a.75.75 0 10-1.06-1.06 3.75 3.75 0 01-5.304 0 .75.75 0 00-1.06 1.06 5.25 5.25 0 007.424 0z"></path>
        </svg>
        <span class="font-medium text-gray-900">{{ post.reactions_count }}</span>
        <span class="sr-only">likes</span>
      </div>
      <div type="button" class="inline-flex space-x-2 text-gray-400 hover:text-gray-500">
        <svg
          class="w-5 h-5"
          x-description="Heroicon name: mini/chat-bubble-left-ellipsis"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          aria-hidden="true"
        >
          <path
            fill-rule="evenodd"
            d="M10 2c-2.236 0-4.43.18-6.57.524C1.993 2.755 1 4.014 1 5.426v5.148c0 1.413.993 2.67 2.43 2.902.848.137 1.705.248 2.57.331v3.443a.75.75 0 001.28.53l3.58-3.579a.78.78 0 01.527-.224 41.202 41.202 0 005.183-.5c1.437-.232 2.43-1.49 2.43-2.903V5.426c0-1.413-.993-2.67-2.43-2.902A41.289 41.289 0 0010 2zm0 7a1 1 0 100-2 1 1 0 000 2zM8 8a1 1 0 11-2 0 1 1 0 012 0zm5 1a1 1 0 100-2 1 1 0 000 2z"
            clip-rule="evenodd"
          ></path>
        </svg>
        <span class="font-medium text-gray-900">{{ post.replies_count }}</span>
        <span class="sr-only">replies</span>
      </div>
      <div class="inline-flex items-center text-sm">
        <button type="button" class="inline-flex space-x-2 text-gray-400 hover:text-gray-500">
          <svg
            class="w-5 h-5"
            x-description="Heroicon name: mini/eye"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
          >
            <path d="M10 12.5a2.5 2.5 0 100-5 2.5 2.5 0 000 5z"></path>
            <path
              fill-rule="evenodd"
              d="M.664 10.59a1.651 1.651 0 010-1.186A10.004 10.004 0 0110 3c4.257 0 7.893 2.66 9.336 6.41.147.381.146.804 0 1.186A10.004 10.004 0 0110 17c-4.257 0-7.893-2.66-9.336-6.41zM14 10a4 4 0 11-8 0 4 4 0 018 0z"
              clip-rule="evenodd"
            ></path>
          </svg>
          <span class="font-medium text-gray-900">{{ post.views_count }}</span>
          <span class="sr-only">views</span>
        </button>
      </div>
    </div>
    <div class="flex text-sm">
      <div class="inline-flex space-x-2 text-gray-400 hover:text-gray-500">
        {% render 'share', path: post.path %}
      </div>
    </div>
  </div>

  {% render 'share_toast' %}
</li>
