{%# local variables: post, current_user, site %}
{% if current_user %}
  <div x-data="{ showModal: false, showToast: false }" x-cloak>
    <div
      x-data="usePopper({placement:'bottom-end',offset:4})"
      @click.outside="isShowPopper && (isShowPopper = false)"
      class="inline-flex">
      <button
        x-ref="popperRef"
        @click="isShowPopper = !isShowPopper"
        class="w-8 h-8 p-0 rounded-full btn hover:bg-slate-300/20 focus:bg-slate-300/20 active:bg-slate-300/25 dark:hover:bg-navy-300/20 dark:focus:bg-navy-300/20 dark:active:bg-navy-300/25">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="w-5 h-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M12 5v.01M12 12v.01M12 19v.01M12 6a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
        </svg>
      </button>
      <div
        x-ref="popperRoot"
        class="popper-root"
        :class="isShowPopper && 'show'"
        x-cloak>
        <div class="popper-box rounded-md border border-slate-150 bg-white py-1.5 font-inter dark:border-navy-500 dark:bg-navy-700">
          {%# 分享帖子 %}
          {% comment %} <p
          class="flex items-center px-4 py-2 space-x-2 text-sm text-gray-700 cursor-pointer hover:bg-slate-100"
          @click="isShowPopper = false, copyToClipboard(), showToast=true, setTimeout(() => { showToast = false }, 2000)"
          x-data="{ textToCopy: '', copyToClipboard: function() { const textarea = document.createElement('textarea'); textarea.value = this.textToCopy; document.body.appendChild(textarea); textarea.select(); document.execCommand('copy'); document.body.removeChild(textarea); } }"
          x-init="textToCopy = `${window.location.href}`">
          <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6">
          <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M7.217 10.907a2.25 2.25 0 100 2.186m0-2.186c.18.324.283.696.283 1.093s-.103.77-.283 1.093m0-2.186l9.566-5.314m-9.566 7.5l9.566 5.314m0 0a2.25 2.25 0 103.935 2.186 2.25 2.25 0 00-3.935-2.186zm0-12.814a2.25 2.25 0 103.933-2.185 2.25 2.25 0 00-3.933 2.185z" />
          </svg>
          <span class="ml-2">分享内容</span>
          </p> {% endcomment %}
          <div class="flex items-center px-4 py-2 space-x-2 text-sm text-gray-700 cursor-pointer hover:bg-slate-100">
            {% render 'share', path: post.path, message: '分享内容' %}
          </div>
          {% if post.author.id == current_user.id %}
            <a href="{{ post.edit_path }}" class="flex items-center px-4 py-2 space-x-2 text-sm text-gray-700 hover:bg-slate-100">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
              </svg>
              <span>编辑内容</span>
            </a>

            <button
              class="flex items-center px-4 py-2 space-x-2 text-sm text-gray-700 hover:bg-slate-100"
              type="button"
              @click="showModal=true, isShowPopper = false">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
              </svg>
              <span>删除内容</span>
            </button>
          {% else %}
            <a
              data-turbo-method="get"
              data-turbo-stream="true"
              href="{{ post.abuse_path }}">
              <div @click="isShowPopper = false" class="flex items-center px-4 py-2 space-x-2 text-sm text-gray-700 cursor-pointer hover:bg-slate-100">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-6 h-6">
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 9v3.75m0-10.036A11.959 11.959 0 013.598 6 11.99 11.99 0 003 9.75c0 5.592 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.57-.598-3.75h-.152c-3.196 0-6.1-1.249-8.25-3.286zm0 13.036h.008v.008H12v-.008z" />
                </svg>
                <span>举报内容</span>
              </div>
            </a>
          {% endif %}
        </div>
      </div>
    </div>
    {% render 'modal', action: 'post', post: post %}
    {% render 'share_toast' %}
  </div>
{% endif %}
