<div class="bg-surface text-content-subdued shadow flex flex-col justify-between sm:rounded-lg">
  <div class="flex-1 px-4 py-5 sm:p-6">
    <ul class="flex flex-col -my-4 divide-line-subdued divide-y">
      {% paginate_tag posts, per: 5, page: params.page %}
        {% for post in posts %}
          <li class="py-4 empty:hidden">
            <div class="cursor-pointer flex flex-wrap items-center gap-y-2 gap-x-5">
              {%# 头像 %}
              {% render 'avatar', user: post.author %}
              {%# title %}
              <div class="space-y-2 min-w-0 flex-1">
                <a class="text-base font-semibold" {% if site.user_detail_enabled %} href="{{ post.author.path }}" {% endif %}>
                  {{ post.author.nick_name }}
                </a>
                <p>
                  <a href="{{ post.path }}" class="cursor-pointer transition duration-100 ease-in-out break-words min-w-0">
                    <span class="line-clamp-1 text-lg font-semibold break-all">{{ post.title }}{% render 'post_status', post: post %}</span>
                  </a>
                </p>
              </div>
              <div class="flex items-center space-x-3">
                {%# 是否已解决 %}
                {% if post.question_resolved %}
                  <div class="tag bg-success text-white hover:bg-success-focus focus:bg-success-focus active:bg-success-focus/90">已解决</div>
                {% endif %}
                {%# 回复数 %}
                <a class="flex space-x-2 text-content-subdued items-center" href="{{ post.path }}#post_{{ post.id }}_replies_list">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true" class="h-5 w-5"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 10h.01M12 10h.01M16 10h.01M9 16H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-5l-5 5v-5z"></path></svg>
                  <span>{{ post.replies_count }}</span>
                </a>
              </div>
            </div>
          </li>
        {% else %}
          {% render 'empty', message: '暂无问题' %}
        {% endfor %}

        <div class="flex items-center py-8">
          {% render 'paginate', paginate: paginate %}
        </div>
      {% endpaginate_tag %}
    </ul>
  </div>
</div>
