{% if reply.post.question_resolved and reply.post.best_answer.id == reply.id %}
  {% assign best_answer_css = 'bg-green-100 py-2 rounded-md' %}
{% else %}
  {% assign best_answer_css = '' %}
{% endif %}

{% if child %}
  {% assign child_css = 'pl-12 md:pl-18' %}
{% else %}
  {% assign child_css = '' %}
{% endif %}

<div x-data="{open: false}" class="space-y-3 md:space-y-5">
  <article class="w-full flex {{ child_css }} {{ best_answer_css }} px-2 md:px-4 space-x-1 md:space-x-3 justify-between items-start" id="reply_{{ reply.id }}">
    {%# 左右布局: 头像 - 内容 %}
    {%# 头像 %}
    {% render 'avatar', user: reply.author %}
    {%# 内容 %}
    <div class="w-full space-y-2 md:space-y-3 pb-2 border-b border-slate-200 border-dashed">
      {%# 用户名 | 时间 | 操作 %}
      <div>
        <div class="flex justify-between items-center w-full">
          <div class="flex items-center space-x-2">
            <p class="text-lg">
              <a
                {% if site.user_detail_enabled %}
                href="{{ reply.author.path }}"
                {% endif %}>
                {{ reply.author.nick_name }}
              </a>
            </p>

            {% unless reply.active %}
              <div class="tag bg-error text-white">已被管理员隐藏或屏蔽</div>
            {% endunless %}
          </div>
          {%# 操作 %}
          <div class="flex items-center space-x-2">
            {%# 操作 %}
            {% render 'reply_actions', reply: reply, abuse_types: abuse_types, child: child %}
          </div>
        </div>

        {%# 时间 %}
        <p class="text-gray-500 text-sm">
          <span>{{ reply.created_at | time_ago }}</span>
        </p>
      </div>

      {%# 评论内容主体 %}
      <div class="text-lg break-all ProseMirror">
        {{ reply.content }}
      </div>

      <div class="w-full flex justify-between gap-3 md:gap-5 items-start">
        {%# 回复按钮 %}
        {% if current_user and reply.active and reply.post.can_reply %}
          <div class="cursor-pointer" @click="open = !open">回复</div>
        {% endif %}
        {%# 互动按钮 %}
        <div class="flex items-center">
          {% render 'reaction_actions', target: reply, post: reply.post %}
        </div>
      </div>
    </div>
  </article>

  {%# 子回复评论框 %}
  {% render 'question_reply_form', reply: reply %}

  {%# 子回复 %}
  <div class="mt-2 md:mt-3" id="reply_{{ reply.id }}_child_list">
    {% for rep in reply.replies %}
      {% render 'question_reply', reply: rep, child: true %}
    {% endfor %}
  </div>
</div>
