<article
  id="create_reply_{{ target.id }}_form"
  class="w-full p-4 mx-auto space-y-4 md:space-y-8 md:px-8"
  x-show="open"
  x-cloak
  x-data="{content: ''}">
  <div class="text-lg text-gray-400 flex justify-start items-center space-x-3">
    <span>评论
      <span id="post_{{ target.id }}_replies_count">{{ target.replies_count }}</span>
    </span>
    <span class="text-sm">文明上网理性发言，请遵守评论服务协议</span>
  </div>
  <div class="flex space-x-3">
    {% render 'avatar', user: current_user %}
    <div class="w-full">
      {%# 评论框 %}
      {% form_tag 'reply', target %}
        {% richtext_field_tag 'content' %}
        <div id="reply_post_error" class="text-xs text-red-500"></div>
        <div class="flex items-center space-x-3">
          <input
            type="submit"
            value="提交"
            @click="open = false"
            class="mt-2 font-medium text-white inline-flex items-center justify-center px-5 py-2 tracking-wide text-center transition-all duration-200 rounded-lg outline-none cursor-pointer focus:outline-none disabled:pointer-events-none bg-primary hover:bg-primary-focus focus:bg-primary-focus active:bg-primary-focus/90 dark:bg-accent dark:hover:bg-accent-focus dark:focus:bg-accent-focus dark:active:bg-accent/90" />
          <div class="mt-2 inline-flex items-center justify-center px-5 py-2 tracking-wide text-center transition-all duration-200 rounded-lg outline-none cursor-pointer focus:outline-none disabled:pointer-events-none bg-slate-150 font-medium text-slate-800 hover:bg-slate-200 focus:bg-slate-200 active:bg-slate-200/80 dark:bg-navy-500 dark:text-navy-50 dark:hover:bg-navy-450 dark:focus:bg-navy-450 dark:active:bg-navy-450/90" x-on:click="open = false; content=''">
            取消
          </div>
        </div>
      {% endform_tag %}
    </div>
  </div>
</article>
