{% if reply.post.type == 'question' %}
  {% assign padding_css = 'pl-12 md:pl-18' %}
{% else %}
  {% assign padding_css = 'pl-5 md:pl-8' %}
{% endif %}

<div
  x-show="open"
  x-cloak
  x-data="{content: ''}"
  class="w-full {{ padding_css }} pr-2 md:pr-4 mt-2 md:mt-3"
  id="create_reply_{{ reply.id }}_id">
  <div class="flex space-x-3">
    {% if reply.post.type == 'question' %}
      {% render 'avatar', user: current_user %}
    {% else %}
      <a href="{{ current_user.path }}" class="items-center justify-center flex-shrink-0 w-6 h-6 lg:w-8 lg:h-8 overflow-hidden rounded-full">
        <img
          src="{{ current_user.avatar_url }}"
          class="w-6 h-6 lg:w-8 lg:h-8"
          alt="{{ current_user.nick_name }}" />
      </a>
    {% endif %}
    <div class="w-full">
      {%# 评论框 %}
      {% form_tag 'reply', reply %}
        {% richtext_field_tag 'content' %}
        <div id="reply_{{ reply.id }}_error" class="text-xs text-red-500"></div>
        <div class="flex items-center space-x-3">
          <input
            type="submit"
            value="提交"
            @click="open = false"
            class="mt-2 font-medium text-white inline-flex items-center justify-center px-5 py-2 tracking-wide text-center transition-all duration-200 rounded-lg outline-none cursor-pointer focus:outline-none disabled:pointer-events-none bg-primary hover:bg-primary-focus focus:bg-primary-focus active:bg-primary-focus/90 dark:bg-accent dark:hover:bg-accent-focus dark:focus:bg-accent-focus dark:active:bg-accent/90" />
          <div class="mt-2 inline-flex items-center justify-center px-5 py-2 tracking-wide text-center transition-all duration-200 rounded-lg outline-none cursor-pointer focus:outline-none disabled:pointer-events-none bg-slate-150 font-medium text-slate-800 hover:bg-slate-200 focus:bg-slate-200 active:bg-slate-200/80 dark:bg-navy-500 dark:text-navy-50 dark:hover:bg-navy-450 dark:focus:bg-navy-450 dark:active:bg-navy-450/90" x-on:click="open = false; content=''">
            取消
          </div>
        </div>
      {% endform_tag %}
    </div>
  </div>
</div>
