<div class="w-full flex items-center" id="reaction_{{ target.id }}_actions">
  {%# 互动列表 %}
  {% form_tag 'reaction', target %}
    <div class="flex flex-wrap leading-6 justify-start items-center gap-y-5" id="reaction_{{ target.id }}_list">
      {% for reaction in target.reactions %}
        {%# 互动数为0时不显示 %}
        {% if reaction.count == 0 %}
          {% continue %}
        {% endif %}
        {% if reaction.reacted %}
          {% if target.active and post.can_reaction %}
            {% assign css_classes = 'cursor-pointer' %}
          {% else %}
            {% assign css_classes = 'cursor-not-allowed' %}
          {% endif %}
          <button
            class="box-border flex flex-row flex-wrap items-center {{ css_classes }} mr-2 md:mr-4"
            {% unless target.active and post.can_reaction %} disabled {% endunless %}
            name="reaction"
            value="{{ reaction.type }}">
            <div class="py-0.5 px-2 hover:bg-primary rounded-3xl bg-primary/10 flex items-center space-x-1">
              <p class="text-xs md:text-base">{{ reaction.type }}</p>
              <p class="text-xs md:text-base">{{ reaction.count }}</p>
            </div>
          </button>
        {% else %}
          <div class="box-border flex flex-row flex-wrap items-center mr-2 md:mr-4">
            <div class="py-0.5 px-2 hover:bg-slate-400 cursor-not-allowed bg-slate-200 rounded-3xl flex items-center space-x-1">
              <p class="text-xs md:text-base">{{ reaction.type }}</p>
              <p class="text-xs md:text-base">{{ reaction.count }}</p>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  {% endform_tag %}

  {%# action动作列表 %}
  {% if post.can_reaction and target.active %}
    <button
      x-ref="popperRef"
      x-data="usePopper({placement:'top-start',offset:4})"
      @click.outside="if(isShowPopper) isShowPopper = false"
      @click="isShowPopper = !isShowPopper"
      class="flex items-center space-x-1 text-gray-400 duration-500 hover:text-primary"
    >
      <svg fill="currentColor" class="w-5 h-5 md:w-7 md:h-7" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
        <path clip-rule="evenodd" fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm-2.625 6c-.54 0-.828.419-.936.634a1.96 1.96 0 00-.189.866c0 .298.059.605.189.866.108.215.395.634.936.634.54 0 .828-.419.936-.634.13-.26.189-.568.189-.866 0-.298-.059-.605-.189-.866-.108-.215-.395-.634-.936-.634zm4.314.634c.108-.215.395-.634.936-.634.54 0 .828.419.936.634.13.26.189.568.189.866 0 .298-.059.605-.189.866-.108.215-.395.634-.936.634-.54 0-.828-.419-.936-.634a1.96 1.96 0 01-.189-.866c0-.298.059-.605.189-.866zm2.023 6.828a.75.75 0 10-1.06-1.06 3.75 3.75 0 01-5.304 0 .75.75 0 00-1.06 1.06 5.25 5.25 0 007.424 0z"></path>
      </svg>
      {%# 展示互动数量 %}
      {% comment %} {% if target.reactions_count > 0 %}
        <span class="text-base md:text-lg">{{ target.reactions_count }}</span>
      {% endif %} {% endcomment %}
      <div x-ref="popperRoot" class="popper-root" :class="isShowPopper && 'show'" x-cloak>
        <div
          class="max-w-md lg:max-w-xl flex flex-wrap leading-6 justify-start items-center gap-y-3 gap-x-2 sm:gap-x-4 px-2 popper-box rounded-md border border-slate-150 bg-white py-1.5 font-inter dark:border-navy-500 dark:bg-navy-700"
          id="reaction_{{ target.id }}_action_list"
        >
          {% for reaction in target.reactions %}
            {% form_tag 'reaction', target %}
              {% if reaction.reacted %}
                {% assign css_classes = 'bg-primary/10' %}
              {% else %}
                {% assign css_classes = 'bg-slate-100' %}
              {% endif %}
              <input name="reaction" class="cursor-pointer px-2 py-1 text-lg rounded-md {{ css_classes }}" type="submit" value="{{ reaction.type }}" />
            {% endform_tag %}
          {% endfor %}
        </div>
      </div>
    </button>
  {% endif %}
</div>
