<button
  class="box-border flex flex-row flex-wrap items-center"
  name="reaction"
  value="{{ reaction.type }}">
  <div class="py-0.5 px-2 border border-primary border-solid hover:bg-primary rounded-3xl bg-primary flex items-center space-x-1">
    <p class="text-xs md:text-base">{{ reaction.type }}</p>
    <p class="text-xs md:text-base">{{ reaction.count }}</p>
  </div>
</button>
