<div class="rounded-lg bg-white shadow">
  <div class="p-3 xl:p-5 2xl:p-6">
    <h2 id="trending-heading" class="text-base font-bold text-gray-900">最新评论</h2>
    <div class="mt-6 flow-root">
      <ul role="list" class="-my-4 divide-y divide-gray-200">
        {% for reply in replies %}
          <li class="flex space-x-3 py-2 xl:py-4">
            {% render 'avatar', user: reply.author %}
            <div class="min-w-0 flex-1">
              <a class="text-sm text-gray-800 line-clamp-1 xl:line-clamp-2" href="{{ reply.post.path }}">
                {{ reply.content | strip_html }}
              </a>
              <div class="mt-2 flex">
                <span class="inline-flex items-center text-sm">
                  <button type="button" class="inline-flex space-x-2 text-gray-400 hover:text-gray-500">
                    <svg
                      class="w-3 h-3 xl:w-5 xl:h-5"
                      x-description="Heroicon name: mini/chat-bubble-left-ellipsis"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M10 2c-2.236 0-4.43.18-6.57.524C1.993 2.755 1 4.014 1 5.426v5.148c0 1.413.993 2.67 2.43 2.902.848.137 1.705.248 2.57.331v3.443a.75.75 0 001.28.53l3.58-3.579a.78.78 0 01.527-.224 41.202 41.202 0 005.183-.5c1.437-.232 2.43-1.49 2.43-2.903V5.426c0-1.413-.993-2.67-2.43-2.902A41.289 41.289 0 0010 2zm0 7a1 1 0 100-2 1 1 0 000 2zM8 8a1 1 0 11-2 0 1 1 0 012 0zm5 1a1 1 0 100-2 1 1 0 000 2z"
                        clip-rule="evenodd"
                      ></path>
                    </svg>
                    <span class="font-medium text-gray-900">{{ reply.replies_count }}</span>
                  </button>
                </span>
              </div>
            </div>
          </li>
        {% else %}
          <span class="text-sm text-gray-400">暂无评论</span>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
