<article
  x-data="{open: false, content: ''}"
  x-cloak
  id="create_reply_{{ reply.id }}_id">
  <span
    @click="open = true"
    x-show="!open"
    class="cursor-pointer">回复</span>
  <div
    x-show="open"
    class="flex space-x-3"
    x-cloak>
    {% render 'avatar', user: current_user %}
    <div class="w-full">
      {%# 评论框 %}
      {% form_tag 'reply', reply %}

        {% richtext_field_tag 'content' %}
        <div id="reply_{{ reply.id }}_error" class="text-xs text-red-500"></div>
        <div class="flex items-center space-x-3">
          <input
            type="submit"
            value="提交"
            class="mt-2 font-medium text-white inline-flex items-center justify-center px-5 py-2 tracking-wide text-center transition-all duration-200 rounded-lg outline-none cursor-pointer focus:outline-none disabled:pointer-events-none bg-primary hover:bg-primary-focus focus:bg-primary-focus active:bg-primary-focus/90 dark:bg-accent dark:hover:bg-accent-focus dark:focus:bg-accent-focus dark:active:bg-accent/90" />
          <div class="mt-2 inline-flex items-center justify-center px-5 py-2 tracking-wide text-center transition-all duration-200 rounded-lg outline-none cursor-pointer focus:outline-none disabled:pointer-events-none bg-slate-150 font-medium text-slate-800 hover:bg-slate-200 focus:bg-slate-200 active:bg-slate-200/80 dark:bg-navy-500 dark:text-navy-50 dark:hover:bg-navy-450 dark:focus:bg-navy-450 dark:active:bg-navy-450/90" x-on:click="open = false; content=''">
            取消
          </div>
        </div>
      {% endform_tag %}
    </div>
  </div>
</article>
