{% if reply.post.question_resolved and reply.post.best_answer.id == reply.id %}
  {% assign best_answer_css = 'bg-green-100' %}
{% else %}
  {% assign best_answer_css = '' %}
{% endif %}

<article class=" flex space-x-1 md:space-x-3 justify-between items-start" id="reply_{{ reply.id }}">
  {%# 左右布局: 头像 - 内容 %}
  {%# 头像 %}
  {% render 'avatar', user: reply.author %}
  {%# 内容 %}
  <div class="w-full space-y-2 md:space-y-3">
    <div class="w-full border {{ best_answer_css }} border-slate-100 rounded-lg px-2 md:px-5 py-3 space-y-2 md:space-y-3">
      {%# 用户名 | 时间 | 操作 %}
      <div class="flex justify-between items-center w-full">
        <div class="flex items-center space-x-2">
          <p class="text-lg">
            <a
              {% if site.user_detail_enabled %}
              href="{{ reply.author.path }}"
              {% endif %}>
              {{ reply.author.nick_name }}
            </a>
          </p>

          <p class="text-gray-600 text-sm">
            <time datetime="{{ reply.created_at }}">{{ reply.created_at | time_ago }}</time>
          </p>
          {% unless reply.active %}
            <div class="tag bg-error text-white">已被管理员隐藏或屏蔽</div>
          {% endunless %}
        </div>
        {%# 操作 %}
        <div class="flex items-center space-x-2">
          {%# 操作 %}
          {% render 'reply_actions', reply: reply, abuse_types: abuse_types, child: child %}
        </div>
      </div>

      {%# 评论内容主体 %}
      <div class="text-lg break-all ProseMirror">
        {{ reply.content }}
      </div>

      {%# 评论互动列表 %}
      <div class="flex items-center">
        {% render 'reaction_actions', target: reply, post: reply.post %}
      </div>
    </div>
    {%# 回复按钮 %}
    {% if current_user and reply.active and reply.post.can_reply %}
      {% render 'reply_form', reply: reply %}
    {% endif %}

    {%# 子回复 %}
    {% unless child %}
      <div id="reply_{{ reply.id }}_child_list" class="mt-2 md:mt-3 space-y-2 md:space-y-3">
        {%# 获取子回复 %}
        {% for rep in reply.replies %}
          {% render "reply", reply: rep, child: true %}
        {% endfor %}
      </div>
    {% endunless %}
  </div>
</article>

{% if child %}
  <div id="reply_{{ reply.id }}_child_list" class="mt-2 md:mt-3 space-y-2 md:space-y-3">
    {%# 获取子回复 %}
    {% for rep in reply.replies %}
      {% render "reply", reply: rep, child: true %}
    {% endfor %}
  </div>
{% endif %}
