{% if current_user %}
  {% if reply.post.type == "question" %}
    {% unless child %}
      {% assign reply_name = '回答' %}
    {% else %}
      {% assign reply_name = '评论' %}
    {% endunless %}
  {% else %}
    {% assign reply_name = '评论' %}
  {% endif %}
  <div x-data="{ showModal: false, action: 'reply', showToast: false }" x-cloak>
    <div
      x-data="usePopper({placement:'bottom-end',offset:4})"
      @click.outside="isShowPopper && (isShowPopper = false)"
      class="inline-flex">
      <button
        x-ref="popperRef"
        @click="isShowPopper = !isShowPopper"
        class="w-8 h-8 p-0 rounded-full btn hover:bg-slate-300/20 focus:bg-slate-300/20 active:bg-slate-300/25 dark:hover:bg-navy-300/20 dark:focus:bg-navy-300/20 dark:active:bg-navy-300/25">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="w-5 h-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M12 5v.01M12 12v.01M12 19v.01M12 6a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
        </svg>
      </button>
      <div
        x-ref="popperRoot"
        class="popper-root"
        :class="isShowPopper && 'show'">
        <div class="popper-box rounded-md border border-slate-150 bg-white py-1.5 font-inter dark:border-navy-500 dark:bg-navy-700">
          <div class="flex items-center px-4 py-2 space-x-2 text-sm text-gray-700 cursor-pointer hover:bg-slate-100">
            {% assign message = '分享' | append: reply_name %}
            {% render 'share', path: reply.path, message: message %}
          </div>
          {% if reply.author.id == current_user.id %}

            {% comment %}
            <a href="/replies/{{ reply.id }}/edit" class="flex items-center px-4 py-2 space-x-2 text-sm text-gray-700 hover:bg-slate-100">
            <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6">
            <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
            </svg>
            <span>编辑评论</span>
            </a>
            {% endcomment %}

            <button
              class="flex items-center px-4 py-2 space-x-2 text-sm text-gray-700 hover:bg-slate-100"
              type="button"
              @click="showModal=true, isShowPopper = false">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
              </svg>
              <span>删除{{ reply_name }}</span>
            </button>
          {% else %}
            <a
              data-turbo-method="get"
              data-turbo-stream="true"
              href="{{ reply.abuse_path }}">
              <div class="flex items-center px-4 py-2 space-x-2 text-sm text-gray-700 cursor-pointer hover:bg-slate-100" @click="isShowPopper = false">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-6 h-6">
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 9v3.75m0-10.036A11.959 11.959 0 013.598 6 11.99 11.99 0 003 9.75c0 5.592 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.57-.598-3.75h-.152c-3.196 0-6.1-1.249-8.25-3.286zm0 13.036h.008v.008H12v-.008z" />
                </svg>
                <span>举报{{ reply_name }}</span>
              </div>
            </a>
          {% endif %}
          {%# 采纳回答 - 针对question类型帖子 %}
          {% if reply.post.type == "question" and current_user.id == reply.post.author.id and reply.post.question_resolved == false and reply.active %}
            {% unless child %}
              <button
                class="flex items-center px-4 py-2 space-x-2 text-sm text-gray-700 hover:bg-slate-100"
                type="button"
                @click="showModal=true, action='adopt', isShowPopper = false">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-6 h-6">
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
                <span>采纳{{ reply_name }}</span>
              </button>
            {% endunless %}
          {% endif %}
        </div>
      </div>
    </div>
    <div x-show="action === 'reply'">
      {% render 'modal', action: 'reply', reply: reply %}
    </div>
    <div x-show="action === 'adopt'">
      {% render 'modal', action: 'adopt', reply: reply %}
    </div>
    {% render 'share_toast' %}
  </div>
{% endif %}
