{%# 分享帖子 %}
<p
  class="flex items-center space-x-2 text-sm cursor-pointer"
  @click="isShowPopper = false, copyToClipboard(), showToast=true, setTimeout(() => { showToast = false }, 2000)"
  x-data="{ textToCopy: '', copyToClipboard: function() { const textarea = document.createElement('textarea'); textarea.value = this.textToCopy; document.body.appendChild(textarea); textarea.select(); document.execCommand('copy'); document.body.removeChild(textarea); } }"
  x-init="textToCopy = window.location.origin+'{{ path }}'">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    stroke-width="1.5"
    stroke="currentColor"
    class="w-6 h-6">
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      d="M7.217 10.907a2.25 2.25 0 100 2.186m0-2.186c.18.324.283.696.283 1.093s-.103.77-.283 1.093m0-2.186l9.566-5.314m-9.566 7.5l9.566 5.314m0 0a2.25 2.25 0 103.935 2.186 2.25 2.25 0 00-3.935-2.186zm0-12.814a2.25 2.25 0 103.933-2.185 2.25 2.25 0 00-3.933 2.185z" />
  </svg>
  <span class="ml-2">{{ message | default: 'Share' }}</span>
</p>
