<ul role="list" class="pt-3 sm:pt-3.5 md:pt-4 lg:pt-5">
  {% for space in sidebar_spaces %}
    <li>
      <a
        @click="activeTab = '{{ space.name }}';localStorage.setItem('activeTab', '{{ space.name }}')"
        :class="{ 'bg-gray-200 text-gray-900': activeTab === '{{ space.name }}', 'text-gray-700 hover:bg-gray-300': activeTab !== '{{ space.name }}' }"
        href="{{ space.path }}"
        class="cursor-pointer transition duration-100 ease-in-out group flex items-center leading-5 rounded-md w-full px-3 py-2">
        <span class="flex items-center truncate">{{ space.name_with_icon }}</span>
      </a>
    </li>
  {% else %}
    {%# 提示用户暂无空间, 点击添加空间 %}
    <div class="flex items-center px-3 py-2 text-xs font-medium text-gray-400 rounded-md group">
      <a href="/spaces" @click="activeTab = 'spaces';localStorage.setItem('activeTab', 'spaces')">点击加入空间</a>
    </div>
  {% endfor %}
</ul>
