{% if header %}
  {% assign space_id = 'sidebar_spaces_mobile' %}
  {% assign hide_css = 'block z-50' %}
{% else %}
  {% assign space_id = 'sidebar_spaces' %}
  {% assign hide_css = 'hidden' %}
{% endif %}
<div class="{{ hide_css }} w-full py-5 my-5 text-lg font-bold border-b-2 border-gray-300">菜单栏</div>
<aside
  class="{{ hide_css }} w-full lg:flex flex-col col-span-1 sm:col-span-2 max-w-full md:max-w-sm justify-self-center sticky top-0 divide-y divide-gray-300 scrollbar-hide"
  aria-label="Sidebar">
  {%# 导航部分 %}
  <div
    class="w-full flex flex-col max-w-full md:max-w-sm self-center space-y-3 sm:space-y-3.5 md:space-y-4 lg:space-y-5 pb-3 sm:pb-3.5 md:pb-4 lg:pb-5"
    x-data="{ activeTab: localStorage.getItem('activeTab') || 'home' }">
    {%# Home|Members|Spaces %}
    <nav class="flex flex-col w-full isolate block-main-menu">
      <div class="space-y-1">
        <a @click="activeTab = 'home';localStorage.setItem('activeTab', 'home')" :class="{
            'bg-gray-200 text-gray-900': activeTab === 'home',
            'text-gray-700 hover:bg-gray-300': activeTab !== 'home'
          }" href="/"
          class="cursor-pointer transition duration-100 ease-in-out group flex items-center leading-5 rounded-md w-full px-3 py-2">
          <svg class="flex-shrink-0 w-6 h-6 mr-3 -ml-1 text-gray-500" x-description="Heroicon name: outline/home"
            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25">
            </path>
          </svg>
          <span class="truncate">Home</span>
        </a>
        <a @click="activeTab = 'spaces';localStorage.setItem('activeTab', 'spaces')" :class="{
            'bg-gray-200 text-gray-900': activeTab === 'spaces',
            'text-gray-700 hover:bg-gray-300': activeTab !== 'spaces'
          }" href="/spaces"
          class="cursor-pointer transition duration-100 ease-in-out group flex items-center leading-5 rounded-md w-full px-3 py-2">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="flex-shrink-0 w-6 h-6 mr-3 -ml-1 text-gray-400 group-hover:text-gray-500">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M3.75 6A2.25 2.25 0 016 3.75h2.25A2.25 2.25 0 0110.5 6v2.25a2.25 2.25 0 01-2.25 2.25H6a2.25 2.25 0 01-2.25-2.25V6zM3.75 15.75A2.25 2.25 0 016 13.5h2.25a2.25 2.25 0 012.25 2.25V18a2.25 2.25 0 01-2.25 2.25H6A2.25 2.25 0 013.75 18v-2.25zM13.5 6a2.25 2.25 0 012.25-2.25H18A2.25 2.25 0 0120.25 6v2.25A2.25 2.25 0 0118 10.5h-2.25a2.25 2.25 0 01-2.25-2.25V6zM13.5 15.75a2.25 2.25 0 012.25-2.25H18a2.25 2.25 0 012.25 2.25V18A2.25 2.25 0 0118 20.25h-2.25A2.25 2.25 0 0113.5 18v-2.25z" />
          </svg>
          <span class="truncate">Spaces</span>
        </a>
        {% if site.user_list_enabled %}
          <a @click="activeTab = 'users';localStorage.setItem('activeTab', 'users')" :class="{
              'bg-gray-200 text-gray-900': activeTab === 'users',
              'text-gray-700 hover:bg-gray-300': activeTab !== 'users'
            }" href="/users"
            class="cursor-pointer transition duration-100 ease-in-out group flex items-center leading-5 rounded-md w-full px-3 py-2">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="flex-shrink-0 w-6 h-6 mr-3 -ml-1 text-gray-400 group-hover:text-gray-500">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M15 19.128a9.38 9.38 0 002.625.372 9.337 9.337 0 004.121-.952 4.125 4.125 0 00-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 018.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0111.964-3.07M12 6.375a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zm8.25 2.25a2.625 2.625 0 11-5.25 0 2.625 2.625 0 015.25 0z" />
            </svg>
            <span class="truncate">Members</span>
          </a>
        {% endif %}
      </div>
    </nav>

    {%# 用户已加入的空间列表 %}
    <nav class="flex flex-col isolate w-full block-collection-menu">
      <div class="flex items-center px-3 py-2 border-y border-gray-300 text-sm font-medium text-gray-700 group">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          class="flex-shrink-0 w-6 h-6 mr-3 -ml-1 text-gray-400 group-hover:text-gray-500">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="M13.5 16.875h3.375m0 0h3.375m-3.375 0V13.5m0 3.375v3.375M6 10.5h2.25a2.25 2.25 0 002.25-2.25V6a2.25 2.25 0 00-2.25-2.25H6A2.25 2.25 0 003.75 6v2.25A2.25 2.25 0 006 10.5zm0 9.75h2.25A2.25 2.25 0 0010.5 18v-2.25a2.25 2.25 0 00-2.25-2.25H6a2.25 2.25 0 00-2.25 2.25V18A2.25 2.25 0 006 20.25zm9.75-9.75H18a2.25 2.25 0 002.25-2.25V6A2.25 2.25 0 0018 3.75h-2.25A2.25 2.25 0 0013.5 6v2.25a2.25 2.25 0 002.25 2.25z" />
        </svg>
        <span class="truncate">社区空间</span>
      </div>
      {%# 空间列表 %}
      {% if current_user %}
        {% assign sidebar_spaces = current_user.spaces %}
      {% else %}
        {% assign sidebar_spaces = site.spaces %}
      {% endif %}
      <div id="{{ space_id }}">
        {% render 'sidebar_spaces', sidebar_spaces: sidebar_spaces %}
      </div>
    </nav>
  </div>
  {%# 导航部分结束 %}
  {%# PowerBy %}
  <div class="w-full flex flex-col max-w-full md:max-w-sm self-center space-y-1 sm:space-y-1 lg:space-y-1 py-3 sm:py-3.5 md:py-4 lg:py-5 px-2 sm:px-2.5 lg:px-3 pt-0 sm:pt-0 md:pt-0 lg:pt-0">
    <p class="py-2 text-sm">技术支持：<a href="#">Baklib</a></p>
    <div class="flex flex-wrap space-x-1 text-xs text-basicMain-600" len="595">
      <span aria-label="Copyright" len="24">
        <font lang="zh-CHS" style="">© 版权所有 </font>
        <font lang="zh-CHS" style="">2023</font>
      </span>
    </div>
  </div>
</aside>
