<li class="col-span-1 bg-white shadow sm:rounded-lg" id="space_{{ space.id }}" x-data="{ showModal: false }">
  <div class="flex flex-col p-8 sm:flex-row">
    <div class="hidden sm:inline-flex items-center border border-gray-200 justify-center flex-shrink-0 w-16 h-16 mb-4 text-indigo-500 rounded-full sm:mr-8 sm:mb-0">
      <span class="text-2xl">{{ space.icon }}</span>
    </div>
    <div class="flex-grow">
      <div class="flex items-center justify-between">
        <h2 class="mb-3 text-lg font-medium text-gray-900 title-font flex items-center truncate">
          {{ space.name }}
        </h2>
        {%# 加入按钮 %}
        {% if current_user %}
          <div>
            {% case space.joined %}
              {% when "joined" %}
                {%# 已加入, 不在这里做退出空间操作 %}
                <span>已加入</span>
              {% when "not_joined" %}
                {% form_tag "join_space", space %}
                  <button type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                    </svg>
                  </button>
                {% endform_tag %}
              {% when "pending" %}
                {%# 等待审核 %}
                <p>待审核</p>
              {% when "rejected" %}
                {%# 已拒绝 %}
                <p>拒绝加入</p>
            {% endcase %}
          </div>
        {% endif %}
      </div>
      <p class="mb-3 flex justify-start items-center space-x-2">
        <span>{{ space.posts_count }} 篇文章</span>
        <span class="tag cursor-auto rounded-full border border-warning/30 bg-warning/10 text-warning hover:bg-warning/20 focus:bg-warning/20 active:bg-warning/25">
          {{ space.type_name }}
        </span>
        {% case space.visibility %}
          {% when 'internal' %}
            <span
              class="border border-gray-400 badge rounded-full text-slate-800 dark:text-navy-100"
            >
              内部空间
            </span>
          {% when 'private' %}
            <span
              class="border border-gray-400 badge rounded-full text-slate-800 dark:text-navy-100"
            >
              私密空间
            </span>
        {% endcase %}
      </p>

      <p class="h-20 text-base leading-relaxed line-clamp-3">{{ space.description }}</p>
      <a href="{{ space.path }}" class="inline-flex items-center mt-3 text-indigo-500">浏览更多
        <svg
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          class="w-4.5 h-4.5 ml-2"
          viewBox="0 0 24 24">
          <path d="M5 12h14M12 5l7 7-7 7"></path>
        </svg>
      </a>
    </div>
  </div>

  {%# 退出空间确认框 %}
  {% render 'modal', space: space, action: 'space' %}
</li>
