{% if current_user %}
  <div class="flex items-center flex-shrink-0 w-full space-x-3 sm:w-auto" id="space_{{ space.id }}_actions" x-data="{ showModal: false, showToast: false }">
    {%# 加入空间后才能订阅通知和发布帖子 %}
    {% case space.joined %}
      {% when "joined" %}
        {%# 添加帖子 %}
        <a href="/posts/new?space={{ space.id }}" class="inline-flex items-center relative bg-red-500 hover:bg-red-700 font-medium shadow-sm px-4 py-2 text-white text-base rounded-md border border-transparent">
          发布{{ space.type_name }}
        </a>
        {%# 通知 %}
        <button class="relative inline-flex items-center px-4 py-2 text-base font-medium border rounded-md shadow-sm border-line">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            aria-hidden="true"
            focusable="false"
            class="w-6 h-6"><path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9"></path>
          </svg>
        </button>
        {%# 退出 %}
        {% comment %} <div class="relative inline-flex items-center px-4 py-2 text-base font-medium border rounded-md shadow-sm border-line cursor-pointer" @click="showModal = true">
          <span>退出</span>
        </div> {% endcomment %}
        <div
          x-data="usePopper({placement:'bottom-end',offset:4})"
          @click.outside="isShowPopper && (isShowPopper = false)"
          class="inline-flex"
        >
          <button
            x-ref="popperRef"
            @click="isShowPopper = !isShowPopper"
            class="btn inline-flex items-center px-4 py-2 text-base font-medium border rounded-md shadow-sm border-line cursor-pointer hover:bg-slate-300/20 focus:bg-slate-300/20 active:bg-slate-300/25 dark:hover:bg-navy-300/20 dark:focus:bg-navy-300/20 dark:active:bg-navy-300/25"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-6 w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-width="2"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12 5v.01M12 12v.01M12 19v.01M12 6a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z"
              />
            </svg>
          </button>

          <div x-ref="popperRoot" class="popper-root" :class="isShowPopper && 'show'">
            <div
              class="popper-box rounded-md border border-slate-150 bg-white py-1.5 font-inter dark:border-navy-500 dark:bg-navy-700"
            >
              <ul class=" space-y-2">
                <li>
                  <div class="flex items-center px-3 h-8 pr-12 tracking-wide outline-none transition-all hover:bg-slate-100 hover:text-slate-800 focus:bg-slate-100 focus:text-slate-800 dark:hover:bg-navy-600 dark:hover:text-navy-100 dark:focus:bg-navy-600 dark:focus:text-navy-100 cursor-pointer">
                    {% render 'share', path: space.path, message: '分享空间' %}
                  </div>
                </li>
                <li>
                  <p class="flex items-center px-3 h-8 pr-12 font-medium tracking-wide outline-none transition-all hover:bg-slate-100 hover:text-slate-800 focus:bg-slate-100 focus:text-slate-800 dark:hover:bg-navy-600 dark:hover:text-navy-100 dark:focus:bg-navy-600 dark:focus:text-navy-100 cursor-pointer" @click="showModal = true, isShowPopper = false">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15M12 9l-3 3m0 0l3 3m-3-3h12.75" />
                    </svg>
                    <span class="ml-2">退出空间</span>
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      {% when "not_joined" %}
        <div class="relative inline-flex items-center px-4 py-2 text-base font-medium border rounded-md shadow-sm border-line">
          {% form_tag "join_space", space %}
            <button type="submit">加入</button>
          {% endform_tag %}
        </div>
      {% when "pending" %}
        <div class="relative inline-flex items-center px-4 py-2 text-base font-medium border rounded-md shadow-sm border-line">
          <button type="button" class="cursor-not-allowed">待审核</button>
        </div>
      {% when "rejected" %}
        <div class="relative inline-flex items-center px-4 py-2 text-base font-medium border rounded-md shadow-sm border-line">
          <button type="button" class="cursor-not-allowed">拒绝加入</button>
        </div>
    {% endcase %}

    {%# 退出空间确认框 %}
    {% render 'modal', space: space, action: 'space' %}
    {%# 复制剪切板提示 %}
    {% render 'share_toast' %}
  </div>
{% endif %}
