<div class="rounded-lg bg-white shadow">
  <div class="p-3 xl:p-5 2xl:p-6">
    <h2 id="who-to-follow-heading" class="text-base font-bold text-gray-900">活跃成员</h2>
    <div class="mt-6 flow-root">
      <ul role="list" class="-my-4 divide-y divide-gray-200">
        {% for user in users %}
          <li class="flex items-center space-x-3 py-4">
            {% render 'avatar', user: user %}
            <div class="min-w-0 flex-1">
              <p class="text-sm font-medium text-gray-900">
                <a
                  {% if site.user_detail_enabled %}
                  href="{{ user.path }}"
                  {% endif %}>{{ user.nick_name }}</a>
              </p>
              <p class="text-sm text-gray-500 line-clamp-1">
                <a href="#">{{ user.description }}</a>
              </p>
            </div>
          </li>
        {% else %}
          <span class="text-sm text-gray-400">暂无活跃成员</span>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
