<div class="w-full flex flex-col max-w-full md:max-w-8xl self-center">
  {%# 顶部 %}
  <div class="bg-white shadow flex flex-col justify-between sm:rounded-b-lg overflow-hidden pb-3 md:pb-5">
    {%# 背景 %}
    <div class="h-24 overflow-hidden rounded-t-md shadow-sm md:h-32 xl:h-48 bg-[#2563eb]"></div>
    {%# 用户信息 %}
    <div class="relative z-10 flex flex-col items-center justify-between -mb-12 -translate-y-12 md:-mb-20 md:-translate-y-16">
      {%# 头像 %}
      <div class="avatar h-24 w-24 md:w-32 md:h-32">
        <img
          class="rounded-full w-full"
          src="{{ user.avatar_url }}"
          alt="{{ user.nick_name }}" />
      </div>
      {%# 用户名和简介 %}
      <div class="flex-1">
        <div class="py-3 space-y-3 text-center">
          <h2 class="text-3xl font-extrabold text-gray-800">{{ user.nick_name }}</h2>
          <p class="line-clamp-1">{{ user.description }}</p>
          <div class="flex space-x-2 items-center">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-5 h-5">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12 8.25v-1.5m0 1.5c-1.355 0-2.697.056-4.024.166C6.845 8.51 6 9.473 6 10.608v2.513m6-4.87c1.355 0 2.697.055 4.024.165C17.155 8.51 18 9.473 18 10.608v2.513m-3-4.87v-1.5m-6 1.5v-1.5m12 9.75l-1.5.75a3.354 3.354 0 01-3 0 3.354 3.354 0 00-3 0 3.354 3.354 0 01-3 0 3.354 3.354 0 00-3 0 3.354 3.354 0 01-3 0L3 16.5m15-3.38a48.474 48.474 0 00-6-.37c-2.032 0-4.034.125-6 .37m12 0c.39.049.777.102 1.163.16 1.07.16 1.837 1.094 1.837 2.175v5.17c0 .62-.504 1.124-1.125 1.124H4.125A1.125 1.125 0 013 20.625v-5.17c0-1.08.768-2.014 1.837-2.174A47.78 47.78 0 016 13.12M12.265 3.11a.375.375 0 11-.53 0L12 2.845l.265.265zm-3 0a.375.375 0 11-.53 0L9 2.845l.265.265zm6 0a.375.375 0 11-.53 0L15 2.845l.265.265z" />
            </svg>
            <span class="text-sm font-medium">Joined on {{ user.registered_at | date: "%Y 年 %m 月 %d 日" }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  {%# 内容 %}
  <div>
    <div class="mt-3 sm:mt-3.5 md:mt-4 lg:mt-5">
      <div class="w-full grid grid-cols-1 md:grid-cols-5 max-w-full md:max-w-8xl self-center gap-3 sm:gap-3.5 md:gap-4 lg:gap-5">
        {%# 内容列表 %}
        <div class="w-full flex flex-col col-span-1 md:col-span-3 max-w-full justify-self-center space-y-3 sm:space-y-3.5 md:space-y-4 lg:space-y-5 order-2 md:order-1 lg:order-1">
          <ul
            id="post"
            role="list"
            class="w-full flex flex-col col-span-1 md:col-span-4 max-w-full justify-self-center space-y-3 sm:space-y-3.5 md:space-y-4 lg:space-y-5 order-1 md:order-1 lg:order-1">
            {% for post in user.posts | limit: 10 %}
              {% render 'post', post: post %}
            {% else %}
              {% render "empty", message: "暂无内容" %}
            {% endfor %}
          </ul>
        </div>
        {%# 右侧 %}
          <div class="w-full flex flex-col col-span-1 sm:col-span-2 max-w-full md:max-w-3xl justify-self-center space-y-3 sm:space-y-3.5 md:space-y-4 lg:space-y-5 order-1 md:order-2 lg:order-2 ">
          {%# 最新动态 %}
          {% comment %} <div class="w-full flex flex-col max-w-full md:max-w-8xl self-center bg-white rounded-md shadow-sm ">
          <div class="flex items-center justify-between px-4 py-3 lg:px-6">
          <h2 class="text-base font-semibold text-gray-800">最新动态</h2>
          </div>
          <div class="px-4 pt-6 pb-6 lg:pb-8 border-t border-gray-200 lg:px-6">
          <ol class="max-w-full timeline line-space">
          {% for reply in user.replies | limit: 5 %}
          <li class="timeline-item">
          <div class="rounded-full timeline-item-point bg-success">
          <span class="inline-flex w-full h-full rounded-full bg-success opacity-80"></span>
          </div>
          <div class="flex-1 pl-4 timeline-item-content sm:pl-8">
          <div class="flex flex-col justify-between pb-2 xl:flex-row xl:pb-0">
          <p class="pb-2 font-medium leading-5 line-clamp-2 text-slate-600 dark:text-navy-100 xl:pb-0">
          {{ reply.post.title }}
          </p>
          <span class="text-xs text-slate-400 dark:text-navy-300">
          {{ reply.created_at | time_ago }}
          </span>
          </div>
          <p class="py-1">
          {{ reply.content | escape }}
          </p>
          </div>
          </li>
          {% else %}
          <div class="text-sm text-gray-500">暂未发表动态</div>
          {% endfor %}
          </ol>
          </div>

          </div> {% endcomment %}
          {%# 加入的空间 %}
          <div class="w-full flex flex-col max-w-full md:max-w-8xl self-center bg-white rounded-md shadow-sm">
            <div class="flex items-center justify-between px-4 py-3 lg:px-6">
              <h2 class="text-base font-semibold text-gray-800">加入的空间</h2>
            </div>
            <div class="px-4 pt-6 pb-6 lg:pb-8 border-t border-gray-200 lg:px-6">
              <ul class="max-w-full">
                {% for space in user.spaces %}
                  <li class="px-4 pt-6 pb-8 space-y-4 border-t border-gray-200 lg:px-6">
                    <div class="flex items-start col-span-1 space-x-4">
                      <a href="{{ space.path }}" class="space-y-3">
                        <div class="text-base font-semibold text-gray-800 transition-colors duration-300 hover:text-primary flex items-center truncate">{{ space.name_with_icon }}</div>
                        <div class="w-full text-sm text-gray-500 line-clamp-2">{{ space.description }}</div>
                      </a>
                    </div>
                  </li>
                {% else %}
                  <div class="text-sm text-gray-500">暂未加入空间</div>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
