<!DOCTYPE html>
<html lang="en" class="tailwindcss-loading">
  <head>
    {% meta_tags %}
    {{ 'css/editor.css' | asset_url | stylesheet_tag: data-turbo-track: 'reload' }}
    {{ 'editor.js' | asset_url | script_tag: defer: true, data-turbo-track: 'reload' }}
    {{ 'javascripts/main.js' | asset_url | script_tag: defer: true, data-turbo-track: 'reload' }}
    <style type="text/css">
      [x-cloak] { display: none !important; }
      body > .tailwindcss-loader { display: none; }
      html.tailwindcss-loading body > * { display: none; }
      html.tailwindcss-loading .tailwindcss-loader {
        display: flex;
        flex-direction: column;
        flex: 1;
        align-items: center;
        justify-content: center;
        position: fixed;
        inset: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
      }
      :root {
        --theme-bg-color: {{ theme.colors_background_body | default: '#f3f4f6' }};
        {{ site.theme_colors_css }}
      }
      body {
        background-color: var(--theme-bg-color);
      }
    </style>
    <!-- Tailwind -->
    {{ 'javascripts/cdn.tailwindcss.js' | asset_url | script_tag: data-turbo-track: 'reload' }}
    <script>
      window.onload = function(){
        tailwind.config = {
          theme: {
            extend: {
              colors: () => {
                return {
                  "slate-150": "#E9EEF5",
                  "primary": 'rgb(var(--theme-color-primary) / <alpha-value>)',
                  "primary-focus": 'rgb(var(--theme-color-primary-focus) / <alpha-value>)',
                  "secondary": 'rgb(var(--theme-color-secondary) / <alpha-value>)',
                  "secondary_light": 'rgb(var(--theme-color-secondary-light) / <alpha-value>)',
                  "secondary_focus": 'rgb(var(--theme-color-secondary-focus) / <alpha-value>)',
                  "accent": 'rgb(var(--theme-color-accent) / <alpha-value>)',
                  "accent_light": 'rgb(var(--theme-color-accent-light) / <alpha-value>)',
                  "accent_focus": 'rgb(var(--theme-color-accent-focus) / <alpha-value>)',
                  "warning": 'rgb(var(--theme-color-warning) / <alpha-value>)',
                  "warning_focus": 'rgb(var(--theme-color-warning-focus) / <alpha-value>)',
                  "info": 'rgb(var(--theme-color-info) / <alpha-value>)',
                  "info_focus": 'rgb(var(--theme-color-info-focus) / <alpha-value>)',
                  "error": 'rgb(var(--theme-color-error) / <alpha-value>)',
                  "error_focus": 'rgb(var(--theme-color-error-focus) / <alpha-value>)',
                  "success": 'rgb(var(--theme-color-success) / <alpha-value>)',
                  "success_focus": 'rgb(var(--theme-color-success-focus) / <alpha-value>)',
                }
              },
              spacing: {
                4.5: "1.125rem",
                5.5: "1.375rem",
                18: "4.5rem",
              },
            }
          }
        }
      }
    </script>
  </head>

<body class="flex flex-col min-h-screen" id="body">
  <div class="relative">
    {% render 'header', keywords: keywords %}
    <div class="w-full flex flex-col max-w-full self-center space-y-0 p-3 sm:p-3.5 md:p-4 lg:p-5">
      <div class="w-full grid grid-cols-1 md:grid-cols-6 lg:grid-cols-8 max-w-full md:max-w-7xl self-center gap-3 sm:gap-3.5 md:gap-4 lg:gap-5">
        {%# 侧边栏 %}
        {% render 'sidebar' %}

        <main class="w-full flex flex-col col-span-1 md:col-span-6 max-w-full md:max-w-5xl justify-self-center space-y-0">
          {{ content_for_layout }}</main>
      </div>
    </div>
  </div>
  <div class="tailwindcss-loader">Loading...</div>
</body></html>
