.editor::-webkit-scrollbar {
  width: 2px;
  /* 设置滚动条宽度 */
}

.editor::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  /* 设置滚动条轨道背景色 */
}

.editor::-webkit-scrollbar-thumb {
  background-color: #4f46e5;
  /* 设置滚动条滑块背景色 */
  border-radius: 5px;
  /* 设置滚动条滑块圆角 */
}

.editor::-webkit-scrollbar-thumb:hover {
  background-color: #555;
  /* 设置滚动条滑块鼠标悬停时的背景色 */
}

.ProseMirror-hideselection *::-moz-selection {
  background: transparent;
}

.ProseMirror-hideselection *::selection {
  background: transparent;
}

.ProseMirror-hideselection *::-moz-selection {
  background: transparent;
}

.ProseMirror-hideselection {
  caret-color: transparent;
}

.ProseMirror-selectednode {
  border-color: #3b82f6;
  background-color: #e5e7eb;
}

.ProseMirror p.is-empty::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.ProseMirror:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.ProseMirror h1 {
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 700;
}

.ProseMirror h2 {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 700;
}

.ProseMirror h3 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}

.ProseMirror h4 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
}

.ProseMirror h5 {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 700;
}

.ProseMirror > * + * {
  margin-top: 0.75em;
}

.ProseMirror a {
  color: #68cef8;
  cursor: pointer;
}

.ProseMirror ul {
  padding: 0 1rem;
  list-style: disc;
}

.ProseMirror ol {
  padding: 0 1rem;
  list-style: decimal;
}

/* task-list */

.ProseMirror ul[data-type="taskList"] {
  list-style: none;
  padding: 0;
}

.ProseMirror ul[data-type="taskList"] p {
  margin: 0;
}

.ProseMirror ul[data-type="taskList"] li {
  display: flex;
}

.ProseMirror ul[data-type="taskList"] li > label {
  flex: 0 0 auto;
  margin-right: 0.5rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.ProseMirror ul[data-type="taskList"] li > div {
  flex: 1 1 auto;
}

/* codeBlock */

.ProseMirror pre {
  background: #0d0d0d;
  border-radius: 0.5rem;
  color: #fff;
  font-family: "JetBrainsMono", monospace;
  padding: 0.75rem 1rem;
}

.ProseMirror pre code {
  background: none;
  color: inherit;
  font-size: 0.8rem;
  padding: 0;
}

.ProseMirror pre .hljs-comment,
    .ProseMirror pre .hljs-quote {
  color: #616161;
}

.ProseMirror pre .hljs-variable,
    .ProseMirror pre .hljs-template-variable,
    .ProseMirror pre .hljs-attribute,
    .ProseMirror pre .hljs-tag,
    .ProseMirror pre .hljs-name,
    .ProseMirror pre .hljs-regexp,
    .ProseMirror pre .hljs-link,
    .ProseMirror pre .hljs-name,
    .ProseMirror pre .hljs-selector-id,
    .ProseMirror pre .hljs-selector-class {
  color: #f98181;
}

.ProseMirror pre .hljs-number,
    .ProseMirror pre .hljs-meta,
    .ProseMirror pre .hljs-built_in,
    .ProseMirror pre .hljs-builtin-name,
    .ProseMirror pre .hljs-literal,
    .ProseMirror pre .hljs-type,
    .ProseMirror pre .hljs-params {
  color: #fbbc88;
}

.ProseMirror pre .hljs-string,
    .ProseMirror pre .hljs-symbol,
    .ProseMirror pre .hljs-bullet {
  color: #b9f18d;
}

.ProseMirror pre .hljs-title,
    .ProseMirror pre .hljs-section {
  color: #faf594;
}

.ProseMirror pre .hljs-keyword,
    .ProseMirror pre .hljs-selector-tag {
  color: #70cff8;
}

.ProseMirror pre .hljs-emphasis {
  font-style: italic;
}

.ProseMirror pre .hljs-strong {
  font-weight: 700;
}

/* code */

.ProseMirror code {
  /* background-color: rgba(#616161, 0.1); */
  background-color: #e9eef5;
  border-radius: 0.25em;
  -webkit-box-decoration-break: clone;
          box-decoration-break: clone;
  font-size: 0.9rem;
  padding: 0.25em;
}

/* fragment */

.ProseMirror .fragment {
  border-width: 1px;
  border-style: dashed;
  border-color: #fb923c;
  padding: 0.5rem;
}

/* dam-link */

.ProseMirror .dam-link {
  border-width: 1px;
  border-style: dashed;
  border-color: #fb923c;
  padding: 0.5rem;
}

.ProseMirror .link_card {
  display: block;
  border-width: 1px;
  border-style: dashed;
  border-color: #fb923c;
  padding: 0.5rem;
}

/* file */

.ProseMirror .file {
  border-width: 1px;
  border-style: dashed;
  border-color: #fb923c;
  padding: 0.5rem;
}

.ProseMirror table {
  border-collapse: collapse;
  margin: 0;
  overflow: hidden;
  table-layout: fixed;
  width: 100%;
}

.ProseMirror table td,
    .ProseMirror table th {
  border: 2px solid #ced4da;
  box-sizing: border-box;
  min-width: 1em;
  padding: 3px 5px;
  position: relative;
  vertical-align: top;
}

.ProseMirror table td > *, .ProseMirror table th > * {
  margin-bottom: 0;
}

.ProseMirror table th {
  background-color: #f1f3f5;
  font-weight: bold;
  text-align: left;
}

.ProseMirror table .selectedCell:after {
  background: rgba(200, 200, 255, 0.4);
  content: "";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  pointer-events: none;
  position: absolute;
  z-index: 2;
}

.ProseMirror table .column-resize-handle {
  background-color: #adf;
  bottom: -2px;
  position: absolute;
  right: -2px;
  pointer-events: none;
  top: 0;
  width: 4px;
}

.ProseMirror table p {
  margin: 0;
}

.ProseMirror .tableWrapper {
  padding: 1rem 0;
  overflow-x: auto;
}

.ProseMirror .resize-cursor {
  cursor: ew-resize;
  cursor: col-resize;
}

.ProseMirror blockquote {
  border-left: 3px solid rgb(230, 230, 230);
  padding-left: 1rem;
}

.editor {
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
}

.editor.editing {
  border-radius: 0.25rem;
  border-width: 1px;
  border-color: #cbd5e1;
  padding: 0.5rem;
}

.editor__toolbar {
  display: flex;
  grid-auto-columns: max-content;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.25rem;
  border-bottom-width: 1px;
  border-color: #cbd5e1;
  padding: 0.5rem;
}

.editor__toolbar__item > * {
  transition: background-color 0.2s ease-in-out;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
  padding: 0.5rem;
}

.editor__divider {
  height: 1.5rem;
  width: 0.125rem;
  background-color: #E9EEF5;
  padding: 0px;
}

.editor__floating_menu {
  display: flex;
  align-items: center;
}

.editor__floating_menu > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(0.5rem * var(--tw-space-x-reverse));
  margin-left: calc(0.5rem * calc(1 - var(--tw-space-x-reverse)));
}

.editor__dropdown_menu {
  width: 12rem;
}

.editor__dropdown_menu > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
}

.editor__dropdown_menu {
  padding: 0.5rem;
}

.ProseMirror-hideselection *::-moz-selection {
  background: transparent;
}

.ProseMirror-hideselection *::selection {
  background: transparent;
}

.ProseMirror-hideselection *::-moz-selection {
  background: transparent;
}

.ProseMirror-hideselection {
  caret-color: transparent;
}

.ProseMirror-selectednode {
  border-color: #3b82f6;
  background-color: #e5e7eb;
}

.editor--full-height .ProseMirror {
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
}

.ProseMirror p.is-empty::before, .editor__content p.is-empty::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.ProseMirror,
.editor__content {
  margin-top: 0.5rem;
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
}

.ProseMirror:focus,
.editor__content:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.ProseMirror h1, .editor__content h1 {
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 700;
}

.ProseMirror h2, .editor__content h2 {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 700;
}

.ProseMirror h3, .editor__content h3 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}

.ProseMirror h4, .editor__content h4 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
}

.ProseMirror > * + *, .editor__content > * + * {
  margin-top: 0.75em;
}

.ProseMirror a, .editor__content a {
  color: #68cef8;
}

.ProseMirror ul, .editor__content ul {
  padding: 0 1rem;
  list-style: disc;
}

.ProseMirror ol, .editor__content ol {
  padding: 0 1rem;
  list-style: decimal;
}

/* task-list */

.ProseMirror ul[data-type="taskList"], .editor__content ul[data-type="taskList"] {
  list-style: none;
  padding: 0;
}

.ProseMirror ul[data-type="taskList"] p, .editor__content ul[data-type="taskList"] p {
  margin: 0;
}

.ProseMirror ul[data-type="taskList"] li, .editor__content ul[data-type="taskList"] li {
  display: flex;
}

.ProseMirror ul[data-type="taskList"] li > label, .editor__content ul[data-type="taskList"] li > label {
  flex: 0 0 auto;
  margin-right: 0.5rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.ProseMirror ul[data-type="taskList"] li > div, .editor__content ul[data-type="taskList"] li > div {
  flex: 1 1 auto;
}

/* codeBlock */

.ProseMirror pre, .editor__content pre {
  background: #0d0d0d;
  border-radius: 0.5rem;
  color: #fff;
  font-family: "JetBrainsMono", monospace;
  padding: 0.75rem 1rem;
}

.ProseMirror pre code, .editor__content pre code {
  background: none;
  color: inherit;
  font-size: 0.8rem;
  padding: 0;
}

.ProseMirror pre .hljs-comment,
    .ProseMirror pre .hljs-quote,
    .editor__content pre .hljs-comment,
    .editor__content pre .hljs-quote {
  color: #616161;
}

.ProseMirror pre .hljs-variable,
    .ProseMirror pre .hljs-template-variable,
    .ProseMirror pre .hljs-attribute,
    .ProseMirror pre .hljs-tag,
    .ProseMirror pre .hljs-name,
    .ProseMirror pre .hljs-regexp,
    .ProseMirror pre .hljs-link,
    .ProseMirror pre .hljs-name,
    .ProseMirror pre .hljs-selector-id,
    .ProseMirror pre .hljs-selector-class,
    .editor__content pre .hljs-variable,
    .editor__content pre .hljs-template-variable,
    .editor__content pre .hljs-attribute,
    .editor__content pre .hljs-tag,
    .editor__content pre .hljs-name,
    .editor__content pre .hljs-regexp,
    .editor__content pre .hljs-link,
    .editor__content pre .hljs-name,
    .editor__content pre .hljs-selector-id,
    .editor__content pre .hljs-selector-class {
  color: #f98181;
}

.ProseMirror pre .hljs-number,
    .ProseMirror pre .hljs-meta,
    .ProseMirror pre .hljs-built_in,
    .ProseMirror pre .hljs-builtin-name,
    .ProseMirror pre .hljs-literal,
    .ProseMirror pre .hljs-type,
    .ProseMirror pre .hljs-params,
    .editor__content pre .hljs-number,
    .editor__content pre .hljs-meta,
    .editor__content pre .hljs-built_in,
    .editor__content pre .hljs-builtin-name,
    .editor__content pre .hljs-literal,
    .editor__content pre .hljs-type,
    .editor__content pre .hljs-params {
  color: #fbbc88;
}

.ProseMirror pre .hljs-string,
    .ProseMirror pre .hljs-symbol,
    .ProseMirror pre .hljs-bullet,
    .editor__content pre .hljs-string,
    .editor__content pre .hljs-symbol,
    .editor__content pre .hljs-bullet {
  color: #b9f18d;
}

.ProseMirror pre .hljs-title,
    .ProseMirror pre .hljs-section,
    .editor__content pre .hljs-title,
    .editor__content pre .hljs-section {
  color: #faf594;
}

.ProseMirror pre .hljs-keyword,
    .ProseMirror pre .hljs-selector-tag,
    .editor__content pre .hljs-keyword,
    .editor__content pre .hljs-selector-tag {
  color: #70cff8;
}

.ProseMirror pre .hljs-emphasis, .editor__content pre .hljs-emphasis {
  font-style: italic;
}

.ProseMirror pre .hljs-strong, .editor__content pre .hljs-strong {
  font-weight: 700;
}

/* code */

.ProseMirror code, .editor__content code {
  /* background-color: rgba(#616161, 0.1); */
  background-color: #e9eef5;
  border-radius: 0.25em;
  -webkit-box-decoration-break: clone;
          box-decoration-break: clone;
  font-size: 0.9rem;
  padding: 0.25em;
}

/* fragment */

.ProseMirror .fragment, .editor__content .fragment {
  border-width: 1px;
  border-style: dashed;
  border-color: #fb923c;
  padding: 0.5rem;
}

/* file */

.ProseMirror .file, .editor__content .file {
  border-width: 1px;
  border-style: dashed;
  border-color: #fb923c;
  padding: 0.5rem;
}

.ProseMirror table, .editor__content table {
  border-collapse: collapse;
  margin: 0;
  overflow: hidden;
  table-layout: fixed;
  width: 100%;
}

.ProseMirror table td,
    .ProseMirror table th,
    .editor__content table td,
    .editor__content table th {
  border: 2px solid #ced4da;
  box-sizing: border-box;
  min-width: 1em;
  padding: 3px 5px;
  position: relative;
  vertical-align: top;
}

.ProseMirror table td > *, .ProseMirror table th > *, .editor__content table td > *, .editor__content table th > * {
  margin-bottom: 0;
}

.ProseMirror table th, .editor__content table th {
  background-color: #f1f3f5;
  font-weight: bold;
  text-align: left;
}

.ProseMirror table .selectedCell:after, .editor__content table .selectedCell:after {
  background: rgba(200, 200, 255, 0.4);
  content: "";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  pointer-events: none;
  position: absolute;
  z-index: 2;
}

.ProseMirror table .column-resize-handle, .editor__content table .column-resize-handle {
  background-color: #adf;
  bottom: -2px;
  position: absolute;
  right: -2px;
  pointer-events: none;
  top: 0;
  width: 4px;
}

.ProseMirror table p, .editor__content table p {
  margin: 0;
}

.ProseMirror .tableWrapper, .editor__content .tableWrapper {
  padding: 1rem 0;
  overflow-x: auto;
}

.ProseMirror .resize-cursor, .editor__content .resize-cursor {
  cursor: ew-resize;
  cursor: col-resize;
}

.ProseMirror blockquote, .editor__content blockquote {
  border-left: 3px solid rgb(230,230,230);
  padding-left: 1rem;
  color: #999;
}

.popper-root {
  position: absolute;
  visibility: hidden;
  z-index: 1000
}

.popper-root.show {
  visibility: visible
}

.popper-root>.popper-box {
  color: #64748b;
  opacity: 0;
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(0,0,.2,1)
}

:is(.dark .popper-root>.popper-box) {
  color: #a3adc2
}

.popper-root>.popper-box {
  transition-property: transform,visibility,opacity
}

.popper-root.show>.popper-box {
  opacity: 1;
  transform: translate(0)!important;
  transition-timing-function: cubic-bezier(.4,0,1,1)
}

.popper-root[data-popper-placement^=right]>.popper-box {
  --tw-translate-x: 0.75rem

}

.popper-root[data-popper-placement^=bottom]>.popper-box,.popper-root[data-popper-placement^=right]>.popper-box {
  transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.popper-root[data-popper-placement^=bottom]>.popper-box {
  --tw-translate-y: 0.75rem

}

.popper-root[data-popper-placement^=top]>.popper-box {
  --tw-translate-y: -0.75rem

}

.popper-root[data-popper-placement^=left]>.popper-box,.popper-root[data-popper-placement^=top]>.popper-box {
  transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.popper-root[data-popper-placement^=left]>.popper-box {
  --tw-translate-x: -0.75rem

}

.popper-root[data-popper-placement^=top] [data-popper-arrow] {
  bottom: .25rem
}

.popper-root[data-popper-placement^=top] [data-popper-arrow]>svg {
  --tw-rotate: 180deg;
  top: .875rem;
  transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.popper-root[data-popper-placement^=bottom] [data-popper-arrow] {
  top: .25rem
}

.popper-root[data-popper-placement^=bottom] [data-popper-arrow]>svg {
  bottom: .875rem
}

.popper-root[data-popper-placement^=left] [data-popper-arrow] {
  right: .125rem
}

.popper-root[data-popper-placement^=left] [data-popper-arrow] svg {
  left: 13px;
  top: calc(50% - 5px);
  transform: rotate(90deg)
}

.popper-root[data-popper-placement^=right] [data-popper-arrow] {
  left: .125rem
}

.popper-root[data-popper-placement^=right] [data-popper-arrow] svg {
  right: 13px;
  top: calc(50% - 5px);
  transform: rotate(-90deg)
}
