{% layout none %}
{{ 'main.css' | asset_url | stylesheet_tag: data-turbo-track: 'reload' }}
<section class="bg-white dark:bg-gray-900 min-h-full">
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-24 lg:px-6">
    <div class="mx-auto max-w-screen-sm text-center">
      <h1 class="mb-4 text-7xl tracking-tight font-extrabold lg:text-9xl text-primary-600 dark:text-primary-500">403</h1>
      <p class="mb-4 text-3xl tracking-tight font-bold text-gray-900 md:text-4xl dark:text-white">{{ message | default: 'Access Forbidden' }}</p>
      <p class="mb-4 text-lg font-light text-gray-500 dark:text-gray-400">Sorry, There is no access to this page.
      </p>
    </div>
  </div>
</section>
