{% layout none %}

{% render 'toast', type: 'success', message: '已成功采纳为最佳答案' %}

{%# 在更新当前回复样式的同时, 应该将最佳答案放在所有回复的顶部 %}
{%# 直接更新回复列表, 上述方法存在缺陷: 采纳按钮依然存在 %}
<turbo-stream action="replace" target="post_{{ reply.post.id }}_replies_list">
  <template>
    <div id="post_{{ reply.post.id }}_replies_list">
      {% for rep in reply.post.replies %}
        {% render 'reply', reply: rep %}
      {% endfor %}
    </div>
  </template>
</turbo-stream>

{%# 将最佳答案添加到问答内容下方 %}
<turbo-stream action="replace" target="post_{{ reply.post.id }}_best_answer">
  <template>
    <div id="post_{{ reply.post.id }}_best_answer">
      {% render 'best_answer', reply: reply %}
    </div>
  </template>
</turbo-stream>

{%# 在标题后方添加 已解决 tag %}
<turbo-stream action="replace" target="post_{{ reply.post.id }}_title">
  <template>
    <h1 id="post_{{ reply.post.id }}_title" class="text-xl font-bold md:text-2xl lg:text-3xl xl:text-4xl md:tracking-tight break-all">
      {{ reply.post.title }}
      <span class="text-sm font-normal px-3 py-2 rounded-md bg-primary text-white ml-1 md:ml-2 inline-block align-middle">已解决</span>
    </h1>
  </template>
</turbo-stream>
