<div class="w-full flex flex-col max-w-full md:max-w-5xl self-center space-y-3 sm:space-y-3.5 md:space-y-4 lg:space-y-5">
  {%# 顶部 %}
  <div class="flex flex-col justify-between overflow-hidden bg-white shadow sm:rounded-t-lg">
    {%# 背景图 %}
    <div class="w-full">
      {% assign banner_url = 'images/article_space.png' | asset_url %}
      <img src="{{ space.banner_url | default: banner_url }}" class="object-cover w-full h-32 lg:h-48" />
    </div>
    {%# 空间信息及操作 %}
    <div class="w-full px-4 lg:px-8 ">
      <div class="flex flex-col items-center mb-5 space-y-3 sm:flex-row sm:space-y-0 sm:space-x-3">
        {%# 空间图标 %}
        <div class="relative flex -mt-12 sm:-mt-16">
          <div class="flex items-center justify-center w-24 h-24 bg-white rounded-full shadow sm:h-32 sm:w-32">
            <span class="text-3xl">{{ space.icon }}</span>
          </div>
        </div>
        {%# 空间信息 %}
        <div class="mt-5 space-y-3 sm:flex-1 sm:min-w-0 sm:flex sm:items-center sm:justify-end sm:space-x-6 sm:pb-1">
          {%# 空间名称 %}
          <div class="flex-1 min-w-0">
            <h1 class="text-2xl font-bold space-x-5 text-gray-900 flex items-center truncate">
              {{ space.name }}
            </h1>
          </div>
          {%# 操作 %}
          {% render 'space_actions', space: space %}
        </div>
      </div>
    </div>
  </div>

  {% assign space_posts = posts | posts_of_space: space %}
  {%# 列表 %}
  <section class="">
    <div class="py-4 mx-auto max-w-screen-xl md:py-5">
      {% paginate_tag space_posts, per: 5, page: params.page %}
        <div class="grid gap-5 md:grid-cols-2">
          {% for post in space_posts %}
            <article class="p-4 space-y-5 bg-white border border-gray-200 rounded-lg dark:bg-gray-800 dark:border-gray-700">
              {%# 封面 %}
              <img
                class="rounded-lg"
                src="{{ 'images/article_cover.png' | asset_url }}"
                alt="{{ post.title }}" />
              {%# 标题 %}
              <h2 class="text-2xl font-bold tracking-tight text-gray-900 dark:text-white break-all">
                <a href="{{ post.path }}">{{ post.title }}</a>
                {% render 'post_status', post: post %}
              </h2>
              <div class="font-light text-gray-500 dark:text-gray-400 line-clamp-3">{{ post.content | strip_html }}</div>
              <div class="flex items-center space-x-4">
                {% render 'avatar', user: post.author %}
                <div class="space-y-1">
                  <a
                    class="font-semibold"
                    {% if site.user_detail_enabled %}
                    href="{{ post.author.path }}"
                    {% endif %}>
                    {{ post.author.nick_name }}
                  </a>
                  <p class="">{{ post.created_at | time_ago }}</p>
                </div>
              </div>
            </article>
          {% else %}
            <div class="col-span-2">
              {% render 'empty', message: '暂无内容' %}
            </div>
          {% endfor %}
        </div>

        <div class="flex items-center py-8">
          {% render 'paginate', paginate: paginate %}
        </div>
      {% endpaginate_tag %}
    </div>
  </section>
</div>
