{% layout none %}
{%# 子回复 %}
{% comment %}
子回复添加后需要完成的操作:
1、重置评论框
2、更改回复总数
3、将新增子回复置于回复对象下方
4、toast提示

{% endcomment %}{%# %}

{% assign type = target.post.type %}

{%# 隐藏评论框 %}
<turbo-stream action="replace" target="create_reply_{{ target.id }}_id">
  <template>
    {% case type %}
      {% when 'article', 'note', 'discussion', 'idea' %}
      {% render 'reply_form', reply: target %}
      {% when 'question', 'event' %}
      {% render 'question_reply_form', reply: target %}
    {% endcase %}
  </template>
</turbo-stream>

{%# 更改回复总数 %}
<turbo-stream action="replace" target="post_{{ target.post.id }}_replies_count">
  <template>
    <span id="post_{{ target.post.id }}_replies_count">{{ target.post.replies_count }}</span>
  </template>
</turbo-stream>

{%# 侧边操作栏回复总数 %}
<turbo-stream action="replace" target="post_{{ target.post.id }}_replies_sidebar_count">
  <template>
    <p class="text-slate-500" id="post_{{ target.post.id }}_replies_sidebar_count">{{ target.post.replies_count }}</p>
  </template>
</turbo-stream>

{%# 将新增评论添加至根评论的子回复最上方 %}
<turbo-stream action="prepend" target="reply_{{ target.id }}_child_list">
  <template>
    {% case type %}
      {% when 'article', 'note', 'discussion', 'idea' %}
      {% render 'reply', reply: reply, child: true %}
      {% when 'question' %}
      {% render 'question_reply', reply: reply, child: true %}
      {% when 'event' %}
      {% render 'event_reply', reply: reply, child: true %}
    {% endcase %}
  </template>
</turbo-stream>

{%# toast %}
{% render 'toast', type: 'success', message: '评论成功' %}
