{% layout none %}
{% render 'common_error' %}

<turbo-stream action="replace" target="reply_post_error">
  <template>
    <div id="reply_post_error" class="text-xs text-red-500">
      {{ errors }}
    </div>
  </template>
</turbo-stream>
