{%# 子回复 %}
{% layout none %}
{% render 'common_error' %}

<turbo-stream action="replace" target="reply_{{ target.id }}_error">
  <template>
    <div id="reply_{{ target.id }}_error" class="text-xs text-red-500">
      {{ errors }}
    </div>
  </template>
</turbo-stream>
