{% layout none %}
{%# 根评论 %}
{% comment %}
根评论添加后需要完成的操作:
1、重置评论框
2、更改回复总数
3、如果是第一条评论, 则替换列表, 以删除暂无评论(可能存在)的提示, 如果执行了第4步, 则不需要执行此步
4、将新增评论置于评论列表最上方, 如果执行了第3步, 则不需要执行此步
5、toast提示

{% endcomment %}{%# %}

{% assign type = target.type %}

{%# 替换评论框 %}
<turbo-stream action="replace" target="create_reply_{{ target.id }}_form">
  <template>
    {% case type %}
      {% when 'article', 'event', 'note', 'discussion', 'idea' %}
      {% render 'reply_post_form', target: target %}
      {% when 'question' %}
      {% render 'question_reply_post_form', target: target %}
    {% endcase %}
  </template>
</turbo-stream>

{%# 更改回复总数 %}
<turbo-stream action="replace" target="post_{{ target.id }}_replies_count">
  <template>
    <span id="post_{{ target.id }}_replies_count">{{ target.replies_count }}</span>
  </template>
</turbo-stream>

{%# 侧边操作栏中的回复总数 %}
<turbo-stream action="replace" target="post_{{ target.id }}_replies_sidebar_count">
  <template>
    <p class="text-slate-500" id="post_{{ target.id }}_replies_sidebar_count">{{ target.replies_count }}</p>
  </template>
</turbo-stream>

{%# 将新增评论添加至回复列表最上面 %}
{%# 如果当前只有一条评论, 则直接替换列表, 以删除暂无评论的提示 %}
{% if target.replies_count == 1 %}
  <turbo-stream action="replace" target="post_{{ target.id }}_replies_list">
    <template>
      <div id="post_{{ target.id }}_replies_list">
        {% for reply in target.replies %}
          {%# render 'question_reply', reply: reply %}
          {% case type %}
            {% when 'article', 'discussion', 'note', 'idea' %}
            {% render 'reply', reply: reply %}
            {% when 'question' %}
            {% render 'question_reply', reply: reply %}
            {% when 'event' %}
            {% render 'event_reply', reply: reply %}
          {% endcase %}
        {% else %}
          <div>
            <p class="text-center text-sm text-gray-400">暂无回答</p>
          </div>
        {% endfor %}
      </div>
    </template>
  </turbo-stream>
{% else %}
  <turbo-stream action="prepend" target="post_{{ target.id }}_replies_list">
    <template>
      {% case type %}
        {% when 'article', 'discussion', 'note', 'idea' %}
        {% render 'reply', reply: reply %}
        {% when 'question' %}
        {% render 'question_reply', reply: reply %}
        {% when 'event' %}
        {% render 'event_reply', reply: reply %}
      {% endcase %}
    </template>
  </turbo-stream>
{% endif %}
{%# toast %}
{% if target.type == 'question' %}
  {% assign message = '回答成功' %}
{% else %}
  {% assign message = '评论成功' %}
{% endif %}
{% render 'toast', type: 'success', message: message %}
