{% layout none %}

{% render 'toast', type: 'success', message: '删除帖子成功' %}

{%# 在列表页处理: 从列表中删除 %}
<turbo-stream action="remove" target="post_{{ post.id }}"></turbo-stream>

{%# 获取浏览器路径, 如果包含posts则代表详情页, 跳转至空间详情页 %}
<div x-data="{ pathname: '/', isPostPage: false }" x-init="pathname = window.location.pathname; isPostPage = pathname.includes('posts')">
  <template x-if="isPostPage">
    <div>
      <a x-init="setTimeout(() => window.location.href='{{ post.space.path }}', 1000)"></a>
      {% render 'toast', type: 'success', message: '删除帖子成功, 即将跳转...' %}
    </div>
  </template>
</div>
