{% layout none %}

{% render 'toast', type: 'error', message: '注销失败' %}

<turbo-stream action="replace" target="cancel_account_errors">
  <template>
    <div class="text-xs text-red-500 mt-3" id="cancel_account_errors">
      {% for error in errors %}
        <p>{{ error }}</p>
      {% endfor %}
    </div>
  </template>
</turbo-stream>
