{% layout none %}

{%# 删除 %}
{% comment %}
删除评论后需要完成的操作:
1、删除该评论
2、更改回复总数
3、如果是最后一条评论, 则替换列表, 以增加暂无评论(可能存在)的提示
4、如果是最佳答案, 则删除最佳答案
5、toast提示

{% endcomment %}{%# %}


{%# 该回复可能是最佳答案, 所以直接更新回复列表 %}
{% assign type = reply.post.type %}

<turbo-stream action="replace" target="post_{{ reply.post.id }}_replies_list">
  <template>
    <div id="post_{{ reply.post.id }}_replies_list">
      {% for rep in reply.post.replies %}
        {%# render 'reply', reply: rep %}
        {% case type %}
          {% when 'article', 'discussion', 'note', 'idea' %}
          {% render 'reply', reply: rep %}
          {% when 'question' %}
          {% render 'question_reply', reply: rep %}
          {% when 'event' %}
          {% render 'event_reply', reply: rep %}
        {% endcase %}
      {% else %}
        <div class="text-center text-gray-400">
          暂无评论
        </div>
      {% endfor %}
    </div>
  </template>
</turbo-stream>

{%# 判断该回复如果是最佳答案, 还需要删除内容下方的最佳答案 %}
{% unless reply.post.question_resolved %}
  <turbo-stream action="replace" target="post_{{ reply.post.id }}_best_answer">
    <template>
      <div id="post_{{ reply.post.id }}_best_answer"></div>
    </template>
  </turbo-stream>

  {%# 在标题后方删除 已解决 tag %}
  <turbo-stream action="replace" target="post_{{ reply.post.id }}_title">
    <template>
      <h1 id="post_{{ post.id }}_title" class="text-xl font-bold md:text-2xl lg:text-3xl xl:text-4xl md:tracking-tight break-all">
        {{ post.title }}
      </h1>
    </template>
  </turbo-stream>
{% endunless %}

{%# 更改回复总数 %}
<turbo-stream action="replace" target="post_{{ reply.post.id }}_replies_count">
  <template>
    <span id="post_{{ reply.post.id }}_replies_count">{{ reply.post.replies_count }}</span>
  </template>
</turbo-stream>

{%# 侧边操作栏中的回复总数 %}
<turbo-stream action="replace" target="post_{{ reply.post.id }}_replies_sidebar_count">
  <template>
    <p class="text-slate-500" id="post_{{ reply.post.id }}_replies_sidebar_count">{{ reply.post.replies_count }}</p>
  </template>
</turbo-stream>

{%# 提示 %}
{% render 'toast', type: 'success', message: '删除成功' %}
