<div class="w-full flex flex-col max-w-full md:max-w-5xl self-center space-y-3 sm:space-y-3.5 md:space-y-4 lg:space-y-5">
  {%# 顶部 %}
  <div class="flex flex-col justify-between overflow-hidden bg-white shadow sm:rounded-t-lg">
    {%# 背景图 %}
    <div class="w-full">
      {% assign banner_url = 'images/discussion_space.jpg' | asset_url %}
      <img src="{{ space.banner_url | default: banner_url }}" class="object-cover w-full h-32 lg:h-48" />
    </div>
    {%# 空间信息及操作 %}
    <div class="w-full px-4 lg:px-8 ">
      <div class="flex flex-col items-center mb-5 space-y-3 sm:flex-row sm:space-y-0 sm:space-x-3">
        {%# 空间图标 %}
        <div class="relative flex -mt-12 sm:-mt-16">
          <div class="flex items-center justify-center w-24 h-24 bg-white rounded-full shadow sm:h-32 sm:w-32">
            <span class="text-3xl">{{ space.icon }}</span>
          </div>
        </div>
        {%# 空间信息 %}
        <div class="mt-5 space-y-3 sm:flex-1 sm:min-w-0 sm:flex sm:items-center sm:justify-end sm:space-x-6 sm:pb-1">
          {%# 空间名称 %}
          <div class="flex-1 min-w-0">
            <h1 class="text-2xl font-bold text-center flex items-center space-x-3 text-gray-900 truncate sm:text-left">
              {{ space.name }}
            </h1>
          </div>
          {%# 操作 %}
          {% render 'space_actions', space: space %}
        </div>
      </div>
    </div>
  </div>

  {% assign space_posts = posts | posts_of_space: space %}
  {% if params.q.size > 0 %}
    {% assign space_posts = space_posts | posts_of_search: params.q %}
    <p>搜索结果</p>
  {% endif %}
  {%# 讨论列表 %}
  <div class="w-full">
    <div x-data="{activeTab:'tabLatest'}" class="flex flex-col w-full tabs">
      {%# Tab %}
      <div class="w-full overflow-x-auto is-scrollbar-hidden">
        <div class="grid grid-cols-3 bg-white tabs-list">
          <button
            @click="activeTab = 'tabLatest'"
            :class="activeTab === 'tabLatest' ? 'border-slate-300' : 'border-transparent'"
            class="py-5 font-medium border-b-2 rounded-none btn shrink-0 cols-span-1">
            最新
          </button>
          <button
            @click="activeTab = 'tabReaction'"
            :class="activeTab === 'tabReaction' ? 'border-slate-300' : 'border-transparent'"
            class="py-5 font-medium border-b-2 rounded-none btn shrink-0 cols-span-1">
            互动最多
          </button>
          <button
            @click="activeTab = 'tabAnswer'"
            :class="activeTab === 'tabAnswer' ? 'border-slate-300' : 'border-transparent'"
            class="py-5 font-medium border-b-2 rounded-none btn shrink-0 cols-span-1">
            讨论最多
          </button>
        </div>
      </div>

      {%# 讨论列表 %}
      <div class="pt-4 tab-content">
        <div
          x-show="activeTab === 'tabLatest'"
          x-transition:enter="transition-all duration-500 easy-in-out"
          x-transition:enter-start="opacity-0 [transform:translate3d(1rem,0,0)]"
          x-transition:enter-end="opacity-100 [transform:translate3d(0,0,0)]">
          <ul
            id="post"
            role="list"
            class="w-full flex flex-col col-span-1 md:col-span-4 max-w-full justify-self-center space-y-3 sm:space-y-3.5 md:space-y-4 lg:space-y-5 order-1 md:order-1 lg:order-1">
            {% assign space_posts_by_created = space_posts | order_by: '-created_at' %}
            {% paginate_tag space_posts_by_created, per: 5, page: params.page %}
              {% for post in space_posts_by_created %}
                {% render 'post', post: post %}
              {% else %}
                {% render 'empty', message: '暂无内容' %}
              {% endfor %}
              <div class="flex items-center py-8">
                {% render 'paginate', paginate: paginate %}
              </div>
            {% endpaginate_tag %}
          </ul>
        </div>
        <div
          x-show="activeTab === 'tabReaction'"
          x-transition:enter="transition-all duration-500 easy-in-out"
          x-transition:enter-start="opacity-0 [transform:translate3d(1rem,0,0)]"
          x-transition:enter-end="opacity-100 [transform:translate3d(0,0,0)]">
          <ul
            id="post"
            role="list"
            class="w-full flex flex-col col-span-1 md:col-span-4 max-w-full justify-self-center space-y-3 sm:space-y-3.5 md:space-y-4 lg:space-y-5 order-1 md:order-1 lg:order-1">
            {% assign space_posts_by_reactions = space_posts | order_by: '-reactions_count' %}
            {% paginate_tag space_posts_by_reactions, per: 5, page: params.page %}
              {% for post in space_posts_by_reactions %}
                {% render 'post', post: post %}
              {% else %}
                {% render 'empty', message: '暂无内容' %}
              {% endfor %}
              <div class="flex items-center py-8">
                {% render 'paginate', paginate: paginate %}
              </div>
            {% endpaginate_tag %}
          </ul>
        </div>
        <div
          x-show="activeTab === 'tabAnswer'"
          x-transition:enter="transition-all duration-500 easy-in-out"
          x-transition:enter-start="opacity-0 [transform:translate3d(1rem,0,0)]"
          x-transition:enter-end="opacity-100 [transform:translate3d(0,0,0)]">
          <ul
            id="post"
            role="list"
            class="w-full flex flex-col col-span-1 md:col-span-4 max-w-full justify-self-center space-y-3 sm:space-y-3.5 md:space-y-4 lg:space-y-5 order-1 md:order-1 lg:order-1">
            {% assign space_posts_by_replies = space_posts | order_by: '-replies_count' %}
            {% paginate_tag space_posts_by_replies, per: 5, page: params.page %}
              {% for post in space_posts_by_replies %}
                {% render 'post', post: post %}
              {% else %}
                {% render 'empty', message: '暂无内容' %}
              {% endfor %}
              <div class="flex items-center py-8">
                {% render 'paginate', paginate: paginate %}
              </div>
            {% endpaginate_tag %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
