<div class="flex justify-between w-full space-x-3 md:space-x-5">
  <div class="w-full">
    <div class="w-full text-base text-black bg-white rounded-lg">
      {%# 如果当前帖子已经被隐藏或者屏蔽, 只有作者能够查看, 则展示提示信息 %}
      {% unless post.active %}
        <div class="text-base bg-error p-2 text-white">当前帖子已被管理员隐藏或屏蔽</div>
      {% endunless %}
      {% if post.locked %}
        <div class="text-base bg-error p-2 text-white">当前帖子已被管理员锁定</div>
      {% endif %}
      {%# 顶部 %}
      <div class="w-full justify-between items-center hidden px-4 py-8 pb-0 space-x-2 md:px-6 lg:flex">
      {%# 面包屑导航栏 %}
        <ul class="flex-wrap items-center flex">
          <a class="py-2 px-2 rounded-full hover:bg-slate-200" href="javascript:history.back()">
            <svg t="1686125948100" class="icon w-7 h-7 " viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="4084" ><path d="M139.636364 520.067879a31.030303 31.030303 0 0 1 31.030303-31.030303h682.666666a31.030303 31.030303 0 1 1 0 62.060606H170.666667a31.030303 31.030303 0 0 1-31.030303-31.030303z" fill="#8a8a8a" p-id="4085"></path><path d="M471.877818 218.856727a31.030303 31.030303 0 0 1 0 43.876849L214.543515 520.067879l257.334303 257.334303a31.030303 31.030303 0 0 1-43.876848 43.876848l-279.272728-279.272727a31.030303 31.030303 0 0 1 0-43.876848l279.272728-279.272728a31.030303 31.030303 0 0 1 43.876848 0z" fill="#8a8a8a" p-id="4086"></path></svg>
          </a>
          {%# 空间 %}
          <a href="{{ post.space.path }}"><span class="flex items-center py-1 px-4 rounded-full hover:bg-slate-200">{{ post.space.name_with_icon }}</span></a>
        </ul>
        {%# Post DropDown %}
        {% render 'post_actions', post: post %}
      </div>

      {%# 内容信息 %}
      <div class="w-full p-4 mx-auto space-y-4 md:space-y-8 md:px-8">
        {%# 作者信息 %}
        <div class="flex items-center space-x-3">
          {%# 用户头像 %}
          {% include 'avatar', user: post.author %}
          <div class="flex-1 min-w-0">
            {%# 用户名 %}
            <p class="mb-1 text-sm font-medium text-gray-900">
              <a class="text-lg"
                {% if site.user_detail_enabled %}
                href="{{ post.author.path }}"
                {% endif %}>
                  {{ post.author.nick_name }}
              </a>
            </p>
            <p class="text-sm text-gray-500">
              {%# 只显示日期, 不展示具体时间 %}
              {{ post.created_at | time_ago }}
            </p>
          </div>
        </div>

        {%# 内容 %}
        <article class="space-y-3 md:space-y-5 dark:bg-gray-800 dark:text-gray-50">
          {%# 互动表情列表 %}
          {% form_tag 'reaction', post %}
            <div class="flex flex-wrap leading-6 justify-start items-center gap-y-5 gap-x-2 sm:gap-x-4" id="reaction_{{ post.id }}_list">
              {% for reaction in post.reactions %}
                {%# 互动数为0时不显示 %}
                {% if reaction.count == 0 %}
                  {% continue %}
                {% endif %}
                {% if reaction.reacted %}
                  {% if post.can_reaction %}
                    {% assign css_classes = 'cursor-pointer' %}
                  {% else %}
                    {% assign css_classes = 'cursor-not-allowed' %}
                  {% endif %}
                  <button
                    class="box-border flex flex-row flex-wrap items-center cursor-not-allowed {{ css_classes }}"
                    {% unless post.can_reaction %} disabled {% endunless %}
                    name="reaction"
                    value="{{ reaction.type }}">
                    <div class="py-0.5 px-2 hover:bg-primary rounded-3xl bg-primary/10 flex items-center space-x-1">
                      <p class="text-xs md:text-base">{{ reaction.type }}</p>
                      <p class="text-xs md:text-base">{{ reaction.count }}</p>
                    </div>
                  </button>
                {% else %}
                  <div class="box-border flex flex-row flex-wrap items-center">
                    <div class="py-0.5 px-2 hover:bg-slate-400 cursor-not-allowed bg-slate-200 rounded-3xl flex items-center space-x-1">
                      <p class="text-xs md:text-base">{{ reaction.type }}</p>
                      <p class="text-xs md:text-base">{{ reaction.count }}</p>
                    </div>
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          {% endform_tag %}

          <h1 class="text-xl font-bold md:text-2xl lg:text-3xl xl:text-4xl md:tracking-tight break-all">
            {{ post.title }}
          </h1>

          {%# 标签 %}
          {% assign tags_count = post.tags | size %}
          {% if tags_count > 0 %}
            <div class="flex flex-wrap space-x-2 dark:border-gray-400">
              {% for tag in post.tags %}
                <a href="{{ tag.path }}" class="text-primary/50">
                  #{{ tag.name }}
                </a>
              {% endfor %}
            </div>
          {% endif %}

          {%# 内容 %}
          <div class="text-base leading-7 dark:text-gray-100 ProseMirror">
            {{ post.content }}
          </div>

          <hr />

          {%# 互动和评论 %}
          {%# 添加评论 %}
          <div class="my-3 md:my-5 text-lg text-gray-400 flex justify-start items-center space-x-3">
            <span>评论 <span id="post_{{ post.id }}_replies_count">{{ post.replies_count }}</span></span>
            <span class="text-sm">文明上网理性发言，请遵守评论服务协议</span>
          </div>
          <section class="space-y-3 md:space-y-5">
            {% render 'reply_post_form', target: post %}
          </section>
        </article>
      </div>
    </div>

    {%# 评论列表 %}
    <div class="w-full text-base text-black bg-white rounded-lg mt-5 p-4 md:p-8">
      <div id="post_{{ post.id }}_replies_list">
      {% for reply in post.replies %}
        {% render 'reply', reply: reply %}
      {% else %}
        <div class="text-center text-gray-400">
          暂无评论
        </div>
      {% endfor %}
      </div>
    </div>
  </div>

  {%# 互动 回复 数据 %}
  <div class="mt-10 md:mt-20 space-y-3 md:space-y-5" x-data="{ showToast: false }">
    {%# 互动 %}
    <button
      x-ref="popperRef"
      x-data="usePopper({placement:'top-start',offset:4})"
      @click.outside="if(isShowPopper) isShowPopper = false"
      @click="isShowPopper = !isShowPopper"
      {% unless post.can_reaction %}disabled{% endunless %}
      class="w-full duration-500"
    >
      <div class="space-y-1 md:space-y-2">
        <svg fill="currentColor" class="w-7 h-7 text-slate-500" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
          <path clip-rule="evenodd" fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm-2.625 6c-.54 0-.828.419-.936.634a1.96 1.96 0 00-.189.866c0 .298.059.605.189.866.108.215.395.634.936.634.54 0 .828-.419.936-.634.13-.26.189-.568.189-.866 0-.298-.059-.605-.189-.866-.108-.215-.395-.634-.936-.634zm4.314.634c.108-.215.395-.634.936-.634.54 0 .828.419.936.634.13.26.189.568.189.866 0 .298-.059.605-.189.866-.108.215-.395.634-.936.634-.54 0-.828-.419-.936-.634a1.96 1.96 0 01-.189-.866c0-.298.059-.605.189-.866zm2.023 6.828a.75.75 0 10-1.06-1.06 3.75 3.75 0 01-5.304 0 .75.75 0 00-1.06 1.06 5.25 5.25 0 007.424 0z"></path>
        </svg>
        <p class="text-sm text-gray-500" id="target_{{ post.id }}_reactions_count">{{ post.reactions_count }}</p>
      </div>
      <div x-ref="popperRoot" class="popper-root" :class="isShowPopper && 'show'" x-cloak>
        <div
          class="max-w-md lg:max-w-xl flex flex-wrap leading-6 justify-start items-center gap-y-3 gap-x-2 sm:gap-x-4 px-2 popper-box rounded-md border border-slate-150 bg-white py-1.5 font-inter dark:border-navy-500 dark:bg-navy-700"
          id="reaction_{{ post.id }}_action_list"
        >
          {% for reaction in post.reactions %}
            {% form_tag 'reaction', post %}
              {% if reaction.reacted %}
                {% assign css_classes = 'bg-primary/10' %}
              {% else %}
                {% assign css_classes = 'bg-slate-100' %}
              {% endif %}
              <input name="reaction" class="cursor-pointer px-2 py-1 text-lg rounded-md {{ css_classes }}" type="submit" value="{{ reaction.type }}" />
            {% endform_tag %}
          {% endfor %}
        </div>
      </div>
    </button>
    {%# 回复数量 %}
    <a href="#post_{{ post.id }}_replies_list" class="block space-y-1 md:space-y-2 text-center">
      <svg t="1686131639485" class="w-7 h-7 text-slate-500" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="6920"><path d="M512 928a31.912 31.912 0 0 1-22.624-9.376l-96-96c-12.512-12.512-12.512-32.736 0-45.248s32.736-12.512 45.248 0L512 850.752l73.376-73.376C591.36 771.36 599.488 768 608 768h224c17.664 0 32-14.336 32-32V224c0-17.632-14.336-32-32-32H192c-17.632 0-32 14.368-32 32v512c0 17.664 14.368 32 32 32h96c17.664 0 32 14.304 32 32s-14.336 32-32 32h-96c-52.928 0-96-43.072-96-96V224c0-52.928 43.072-96 96-96h640c52.928 0 96 43.072 96 96v512c0 52.928-43.072 96-96 96H621.248l-86.624 86.624A31.912 31.912 0 0 1 512 928z" p-id="6921"></path><path d="M336 512c-26.464 0-48-21.536-48-48s21.536-48 48-48 48 21.536 48 48-21.536 48-48 48zM528 512c-26.464 0-48-21.536-48-48s21.536-48 48-48 48 21.536 48 48-21.536 48-48 48zM720 512c-26.464 0-48-21.536-48-48s21.536-48 48-48 48 21.536 48 48-21.536 48-48 48z" p-id="6922"></path></svg>
      <p class="text-slate-500" id="post_{{ post.id }}_replies_sidebar_count">{{ post.replies_count }}</p>
    </a>
    {%# 分享 %}
    <div class="space-y-1 md:space-y-2 text-center"
      @click="isShowPopper = false, copyToClipboard(), showToast=true, setTimeout(() => { showToast = false }, 2000)"
      x-data="{ textToCopy: '', copyToClipboard: function() { const textarea = document.createElement('textarea'); textarea.value = this.textToCopy; document.body.appendChild(textarea); textarea.select(); document.execCommand('copy'); document.body.removeChild(textarea); } }"
      x-init="textToCopy = window.location.origin+'{{ post.path }}'"
    >
      <svg t="1686131691679" class="w-7 h-7 text-slate-500" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="7902" width="200" height="200"><path d="M736 800c-35.296 0-64-28.704-64-64s28.704-64 64-64 64 28.704 64 64-28.704 64-64 64M288 576c-35.296 0-64-28.704-64-64s28.704-64 64-64 64 28.704 64 64-28.704 64-64 64m448-352c35.296 0 64 28.704 64 64s-28.704 64-64 64-64-28.704-64-64 28.704-64 64-64m0 384a127.776 127.776 0 0 0-115.232 73.28L415.872 564.224a30.848 30.848 0 0 0-9.696-3.2A127.68 127.68 0 0 0 416 512c0-6.656-0.992-13.088-1.984-19.456 0.608-0.32 1.28-0.416 1.856-0.768l219.616-125.472A127.328 127.328 0 0 0 736 416c70.592 0 128-57.408 128-128s-57.408-128-128-128-128 57.408-128 128c0 6.72 0.992 13.152 1.984 19.616-0.608 0.288-1.28 0.256-1.856 0.608L388.512 433.696A127.328 127.328 0 0 0 288 384c-70.592 0-128 57.408-128 128s57.408 128 128 128a126.912 126.912 0 0 0 84.544-32.64 31.232 31.232 0 0 0 11.584 12.416l224 128c0.352 0.224 0.736 0.256 1.12 0.448C615.488 812.992 669.6 864 736 864c70.592 0 128-57.408 128-128s-57.408-128-128-128" p-id="7903"></path></svg>
    </div>
    {% render 'share_toast' %}
  </div>
</div>
{% render 'feedback', post: post %}
