<div class="w-full" x-data="{ showModal: false, avatarModal: false }">
  <div class="flex flex-col w-full space-y-4 rounded-lg sm:space-y-5 lg:space-y-6">
    {%# 个人信息修改: 头像 | 昵称 | 简介 %}
    {% if site.user_detail_enabled %}
      <div x-data="{ expanded:false }" class="w-full bg-white border rounded-lg border-slate-150 dark:border-navy-500">
        <div class="px-4 py-4 text-base font-medium cursor-pointer text-slate-700 dark:text-navy-100 sm:px-5">
          {%# 标题 %}
          <div @click="expanded = !expanded" class="flex items-center justify-between text-base font-medium cursor-pointer text-slate-700 dark:text-navy-100">
            <p class="text-lg font-semibold">个人信息修改</p>
            {%# 图标 %}
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-5 h-5 transition-transform duration-300 text-slate-400 dark:text-navy-300"
              :class="expanded && '-rotate-180'">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M4.5 15.75l7.5-7.5 7.5 7.5" />
            </svg>
          </div>
          {%# 默认打开 %}
          <div class="py-4 space-y-6" x-show="!expanded">
            <p class="text-sm text-slate-500">以下的资料将会公开显示，请小心您的分享内容</p>
            {% if site.user_avatar_enabled %}
              <div class="space-y-5">
                <span class="block text-sm font-medium text-gray-700">头像</span>
                <div class="relative flex items-center space-x-3">
                  {%# 头像 %}
                  <div class="flex items-center">
                    <div class="w-12 h-12" id="current_user_avatar">
                      <img
                        class="w-12 h-12 rounded-full"
                        src="{{ current_user.avatar_url }}"
                        alt="avatar" />
                    </div>
                  </div>

                  <button
                    type="submit"
                    class="font-medium text-white border text-sm inline-flex items-center justify-center px-5 py-2 tracking-wide text-center transition-all duration-200 rounded-lg outline-none cursor-pointer focus:outline-none disabled:pointer-events-none border-primary bg-primary"
                    @click="avatarModal = true">
                    选择头像
                  </button>

                  <button
                    type="submit"
                    class="font-medium border text-sm inline-flex items-center justify-center px-5 py-2 tracking-wide text-center transition-all duration-200 rounded-lg outline-none cursor-pointer focus:outline-none disabled:pointer-events-none border-slate-300 text-slate-800 hover:bg-slate-150 focus:bg-slate-150 active:bg-slate-150/80 dark:border-navy-450 dark:text-navy-50 dark:hover:bg-navy-500 dark:focus:bg-navy-500 dark:active:bg-navy-500/90"
                    @click="showModal = true">恢复默认</button>
                </div>
              </div>
            {% endif %}

            {%# 昵称 | 简介 %}
            {% if site.user_name_enabled %}
              <div class="space-y-5" id="edit_profile_info_container">
                {% form_tag 'update_profile' %}
                  {%# 昵称 %}
                  <div class="space-y-3">
                    <label for="nick_name" class="block text-sm font-medium text-gray-700">昵称</label>
                    {% if current_user.nick_name_initialized %}
                      <input
                        type="text"
                        name="nick_name"
                        placeholder=""
                        class="w-full h-10 p-2.5 text-sm bg-transparent border border-gray-300 rounded-md"
                        value="{{ current_user.nick_name }}">
                    {% else %}
                      <input
                        type="text"
                        name="nick_name"
                        placeholder="{{ current_user.nick_name }}"
                        class="w-full h-10 p-2.5 text-sm bg-transparent border border-gray-300 rounded-md"
                        value="">
                    {% endif %}
                  </div>
                  {%# 简介 %}
                  <div class="mt-5 space-y-3">
                    <label for="description" class="block text-sm font-medium text-gray-700">个人简介</label>
                    <textarea
                      cols="20"
                      rows="4"
                      class="mt-1.5 w-full rounded-lg border border-slate-300 bg-transparent p-2.5 placeholder:text-slate-400/70 hover:border-slate-400 focus:border-primary dark:border-navy-450 dark:hover:border-navy-400 dark:focus:border-accent"
                      name="description"
                      placeholder="个人简介">{{ current_user.description }}</textarea>
                  </div>
                  {%# 错误信息提示 %}
                  <div class="mt-5" id="edit_profile_info_errors"></div>
                  {%# 更新按钮 %}
                  <div class="mt-5">
                    <button type="submit" class="text-sm inline-flex items-center justify-center px-5 py-2 tracking-wide text-center transition-all duration-200 rounded-lg outline-none cursor-pointer focus:outline-none disabled:pointer-events-none  font-medium text-white bg-primary hover:bg-primary-focus focus:bg-primary-focus active:bg-primary-focus/90">更新</button>
                  </div>
                {% endform_tag %}
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    {% endif %}

    {%# 修改密码 %}
    <div x-data="{ expanded:false }" class="w-full bg-white border rounded-lg border-slate-150 dark:border-navy-500">
      <div class="px-4 py-4 text-base font-medium cursor-pointer text-slate-700 dark:text-navy-100 sm:px-5">
        {%# 标题 %}
        <div @click="expanded = !expanded" class="flex items-center justify-between text-base font-medium cursor-pointer text-slate-700 dark:text-navy-100">
          <p class="text-lg font-semibold">修改密码</p>
          {%# 图标 %}
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-5 h-5 transition-transform duration-300 text-slate-400 dark:text-navy-300"
            :class="expanded && '-rotate-180'">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
          </svg>

        </div>
        {%# 显示主体 %}
        <div class="py-4 space-y-6" x-show="expanded">
          <p class="text-sm text-slate-500">使用安全的密码来保护您的账号</p>
          {% form_tag 'update_password' %}
            <div class="w-full space-y-4 md:w-3/4">
              <div class="space-y-2">
                <span class="text-sm font-medium text-gray-700">输入当前密码</span>
                {%# 判断是否是初始化密码 %}
                {% if current_user.password_initialized %}
                  <label class="block">
                    <input
                      class="w-full px-3 py-2 bg-transparent border rounded-lg form-input border-slate-300 placeholder:text-slate-400/70 hover:border-slate-400 focus:border-primary dark:border-navy-450 dark:hover:border-navy-400 dark:focus:border-accent"
                      type="password"
                      readonly
                      name="current_password"
                      placeholder="您还未设置过密码，请直接输入新密码" />
                  </label>
                  <span class="text-tiny+ text-slate-400 dark:text-navy-300">您还未设置过密码，请直接输入新密码</span>
                {% else %}
                  <label class="block">
                    <input
                      class="w-full px-3 py-2 bg-transparent border rounded-lg form-input border-slate-300 placeholder:text-slate-400/70 hover:border-slate-400 focus:border-primary dark:border-navy-450 dark:hover:border-navy-400 dark:focus:border-accent"
                      type="password"
                      name="current_password" />
                  </label>
                  <span class="text-tiny+ text-slate-400 dark:text-navy-300">请输入您当前的密码</span>
                {% endif %}
              </div>
              <div class="space-y-2">
                <span class="text-sm font-medium text-gray-700">输入新密码</span>
                <label class="block">
                  <input
                    class="w-full px-3 py-2 bg-transparent border rounded-lg form-input border-slate-300 placeholder:text-slate-400/70 hover:border-slate-400 focus:border-primary dark:border-navy-450 dark:hover:border-navy-400 dark:focus:border-accent"
                    type="password"
                    name="password" />
                </label>
                <span class="text-tiny+ text-slate-400 dark:text-navy-300">请确保您的密码至少包含6个字符</span>
              </div>
              <div class="space-y-2">
                <span class="text-sm font-medium text-gray-700">确认新密码</span>
                <label class="block">
                  <input
                    class="w-full px-3 py-2 bg-transparent border rounded-lg form-input border-slate-300 placeholder:text-slate-400/70 hover:border-slate-400 focus:border-primary dark:border-navy-450 dark:hover:border-navy-400 dark:focus:border-accent"
                    type="password"
                    name="password_confirmation" />
                </label>
                <span class="text-tiny+ text-slate-400 dark:text-navy-300">重新输入您的新密码以进行验证。</span>
              </div>
              {%# 错误提示 %}
              <div class="space-y-2 text-xs text-red-500" id="edit_password_errors"></div>
              <button type="submit" class="text-sm inline-flex items-center justify-center px-5 py-2 tracking-wide text-center transition-all duration-200 rounded-lg outline-none cursor-pointer focus:outline-none disabled:pointer-events-none  font-medium text-white bg-primary hover:bg-primary-focus focus:bg-primary-focus active:bg-primary-focus/90">更新</button>
            </div>
          {% endform_tag %}
        </div>
      </div>
    </div>

    {%# 删除账号 %}
    <div class="w-full bg-white border rounded-lg border-slate-150 dark:border-navy-500" x-data="{ showModal: false }">
      <div class="px-4 py-4 text-base font-medium cursor-pointer text-slate-700 dark:text-navy-100 sm:px-5">
        {%# 标题 %}
        <div class="text-base font-medium text-slate-700 dark:text-navy-100">
          <p class="text-lg font-semibold">删除账号</p>
        </div>
        {%# 显示主体 %}
        <div class="py-4">
          <div class="flex items-center justify-between text-sm font-normal leading-none text-slate-400 dark:text-navy-300">
            <p class="text-sm text-slate-500">从社区中停用并删除您的账号</p>
            <button class="btn btn--danger" @click="showModal = true">删除账号</button>
          </div>
        </div>
      </div>
      {% render 'cancel_account_modal' %}
    </div>
  </div>
  {% render 'modal', action: "reset_avatar" %}
  <div
    id="update_avatar_modal"
    class="fixed inset-0 z-[100] flex flex-col items-center justify-center overflow-hidden px-4 py-6 sm:px-5"
    x-show="avatarModal"
    :class="avatarModal ? 'show' : 'hidden'"
    role="dialog"
    x-cloak>
    <div
      class="absolute inset-0 transition-opacity duration-300 bg-slate-900/60"
      @click="avatarModal = false"
      x-show="avatarModal"
      x-transition:enter="ease-out"
      x-transition:enter-start="opacity-0"
      x-transition:enter-end="opacity-100"
      x-transition:leave="ease-in"
      x-transition:leave-start="opacity-100"
      x-transition:leave-end="opacity-0"></div>
    <div
      class="relative w-full max-w-lg px-4 py-10 transition-opacity duration-300 bg-white rounded-lg dark:bg-navy-700 sm:px-5"
      x-show="avatarModal"
      x-transition:enter="ease-out"
      x-transition:enter-start="opacity-0"
      x-transition:enter-end="opacity-100"
      x-transition:leave="ease-in"
      x-transition:leave-start="opacity-100"
      x-transition:leave-end="opacity-0">
      <div class="flex justify-end w-full px-5 mb-5 cursor-pointer" @click="avatarModal = false">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6 18L18 6M6 6l12 12" />
        </svg>
      </div>
      <h3 class="mb-5 text-2xl font-bold text-gray-900 dark:text-gray-100">修改头像</h3>
      {%# 修改头像 %}
      <div class="w-full" x-data="{ selected: null, avatar: '' }">

        {%# 头像列表 %}
        <div class="grid grid-cols-3 gap-4 md:grid-cols-6">
          {% for avatar in avatars %}
            <div class="flex flex-col items-center justify-center space-y-2">
              <div
                class="overflow-hidden rounded-full cursor-pointer w-14 h-14 lg:w-16 lg:h-16"
                :class=" selected === {{ forloop.index }} && 'border-4 border-primary'"
                @click="selected={{ forloop.index }}, avatar='{{ avatar }}'">
                <img
                  src="{{ avatar }}"
                  class="w-14 lg:w-16 h-14 lg:h-16"
                  alt="avatar" />
              </div>
              <p class="text-gray-400" :class="selected==={{ forloop.index }} ? 'opacity-100' : 'opacity-0'">已选择</p>
            </div>
          {% endfor %}
        </div>
        {% form_tag 'update_avatar' %}
          <input
            type="hidden"
            name="avatar"
            x-model="avatar">
          {%# 按钮 %}
          <input
            type="submit"
            value="选择"
            @click="avatarModal = false"
            class="px-4 py-2 mt-5 text-white rounded cursor-pointer bg-primary" />
        {% endform_tag %}
      </div>
    </div>
  </div>
</div>
