<div class="w-full flex flex-col max-w-full bg-white rounded-lg">
  <div class="bg-surface text-content-subdued shadow flex flex-col justify-between sm:rounded-lg">
    {%# 面包屑导航栏 %}
    <ul class="flex-wrap items-center hidden pb-0 space-x-2 sm:flex px-4 py-5 sm:p-6">
      <li class="flex items-center space-x-2">
        <a href="/" class="transition-colors text-primary hover:text-primary-focus dark:text-accent-light dark:hover:text-accent">
          首页
        </a>
      </li>
      <svg
        x-ignore=""
        xmlns="http://www.w3.org/2000/svg"
        class="w-4.5 h-4.5"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor">
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M9 5l7 7-7 7"></path>
      </svg>
      <li>
        编辑帖子
      </li>
    </ul>
    <div class="flex-1 px-4 py-5 sm:px-6 sm:py-0">
    {% form_tag 'update_post', post %}
      {% render 'post_form', post: post, current_space: post.space, action: "edit" %}
    {% endform_tag %}
    </div>
  </div>
</div>
