<div class="flex flex-col self-center w-full max-w-full space-y-5 md:max-w-5xl sm:space-y-6 md:space-y-7 lg:space-y-8">
  {%# 顶部 %}
  <div class="flex flex-col items-center space-y-3 sm:flex-row sm:space-y-0 sm:space-x-3">
    {%# 左 %}
    <div class="flex items-center flex-grow w-full space-x-5">
      <div class="flex flex-col w-full space-y-1">
        <h1 class="text-xl font-bold lg:text-3xl flex items-center space-x-5">{{ space.name_with_icon }}</h1>
        <p class=" line-clamp-1">{{ space.description }}</p>
      </div>
    </div>
    {%# 右 %}
    {% render 'space_actions', space: space %}
  </div>

  {%# banner %}
  {% assign banner_url = 'images/event_space.png' | asset_url %}
  <div class="flex flex-col justify-between overflow-hidden bg-center bg-cover shadow bg-surface text-content-subdued sm:rounded-lg" style="background-image:url({{ space.banner_url | default: banner_url }})">
    <div class="p-6 text-white ">
      <div class="p-10">
        <h2 class="mb-5 text-4xl font-semibold">春风十里</h2>
        <p class="text-base">不如见你，等待你的参与！</p>
      </div>
    </div>
  </div>

  {%# 帖子列表 %}
  {% assign space_posts = posts | posts_of_space: space %}
  <section class="">
    <div class="py-4 mx-auto max-w-screen-xl md:py-5">
      {% paginate_tag space_posts, per: 5, page: params.page %}
        <div class="grid gap-5 md:grid-cols-2">
          {% for post in space_posts %}
            <article class="p-4 space-y-5 bg-white border border-gray-200 rounded-lg dark:bg-gray-800 dark:border-gray-700">
              {%# 封面 %}
              <img
                class="rounded-lg"
                src="{{ 'images/article_cover.png' | asset_url }}"
                alt="{{ post.title }}" />
              {%# 标题 %}
              <h2 class="text-2xl font-bold tracking-tight text-gray-900 dark:text-white break-all">
                <a href="{{ post.path }}">{{ post.title }}</a>
                {% render 'post_status', post: post %}
              </h2>
              <div class="font-light text-gray-500 dark:text-gray-400 line-clamp-3">{{ post.content | strip_html }}</div>
              {%# 活动时间 %}
              <div class="flex items-center space-x-2 font-light text-gray-500">
                <p>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="float-left w-5 h-5"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-6 h-6">
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                  </svg>
                </p>
                <p>{{ post.event_start_time }}</p>
              </div>
              {%# 活动地点 %}
              <div class="flex items-center space-x-2 font-light text-gray-500">
                <p>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="float-left w-5 h-5"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-6 h-6">
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z" />
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z" />
                  </svg>
                </p>

                <p>{{ post.event_location }}</p>
              </div>
              <div class="flex items-center justify-between">
                <div class="flex items-center space-x-4">
                  {% render 'avatar', user: post.author %}
                  <div class="space-y-1">
                    <a
                      class="font-semibold"
                      {% if site.user_detail_enabled %}
                      href="{{ post.author.path }}"
                      {% endif %}>
                      {{ post.author.nick_name }}
                    </a>
                    <p class="">{{ post.created_at | time_ago }}</p>
                  </div>
                </div>
                {%# 报名按钮 %}
                <div class=>
                  {% if post.event_link %}
                    <a
                      href="{{ post.event_link }}"
                      target="_blank"
                      class="btn inline-flex cursor-pointer items-center justify-center rounded-lg px-5 py-2 text-center tracking-wide outline-none transition-all duration-200 focus:outline-none disabled:pointer-events-none h-8 space-x-1.5  bg-green-500 text-xs+ font-medium text-white hover:bg-green-700 focus:bg-green-200 active:bg-green-200/80 dark:bg-navy-500 dark:text-navy-50 dark:hover:bg-navy-450 dark:focus:bg-navy-450 dark:active:bg-navy-450/90">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="h-4.5 w-4.5"
                        fill="none"
                        viewbox="0 0 24 24"
                        stroke="currentColor">
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
                      </svg>
                      <span>{{ post.event_link_text }}
                      </span>
                    </a>
                  {% endif %}
                </div>

              </div>
            </article>
          {% else %}
            <div class="col-span-2">
              {% render 'empty', message: '暂无内容' %}
            </div>
          {% endfor %}
        </div>

        <div class="flex items-center py-8">
          {% render 'paginate', paginate: paginate %}
        </div>
      {% endpaginate_tag %}
    </div>
  </section>
</div>
