<div class="w-full space-y-3 md:space-y-5">
  {%# 如果当前帖子已经被隐藏或者屏蔽, 只有作者能够查看, 则展示提示信息 %}
  {% unless post.active %}
    <div class="text-base bg-error p-2 text-white">当前帖子已被管理员隐藏或屏蔽</div>
  {% endunless %}
  {% if post.locked %}
    <div class="text-base bg-error p-2 text-white">当前帖子已被管理员锁定</div>
  {% endif %}
  <div class="w-full text-base text-black bg-white rounded-lg space-x-3 space-y-3 md:space-y-5 py-5 md:py-8 px-3 md:px-6">
    {%# 顶部 %}
    <div class="w-full justify-between items-center hidden space-x-2 lg:flex">
    {%# 面包屑导航栏 %}
      <ul class="flex-wrap items-center flex">
        <a class="py-2 px-2 rounded-full hover:bg-slate-200" href="javascript:history.back()">
          <svg t="1686125948100" class="icon w-7 h-7 " viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="4084" ><path d="M139.636364 520.067879a31.030303 31.030303 0 0 1 31.030303-31.030303h682.666666a31.030303 31.030303 0 1 1 0 62.060606H170.666667a31.030303 31.030303 0 0 1-31.030303-31.030303z" fill="#8a8a8a" p-id="4085"></path><path d="M471.877818 218.856727a31.030303 31.030303 0 0 1 0 43.876849L214.543515 520.067879l257.334303 257.334303a31.030303 31.030303 0 0 1-43.876848 43.876848l-279.272728-279.272727a31.030303 31.030303 0 0 1 0-43.876848l279.272728-279.272728a31.030303 31.030303 0 0 1 43.876848 0z" fill="#8a8a8a" p-id="4086"></path></svg>
        </a>
        {%# 空间 %}
        <a href="{{ post.space.path }}"><span class="flex items-center py-1 px-4 rounded-full hover:bg-slate-200">{{ post.space.name_with_icon }}</span></a>
      </ul>
      {%# Post DropDown %}
      {% render 'post_actions', post: post %}
    </div>

    {%# 封面 %}
    <div class=" max-h-72 rounded-lg overflow-hidden flex justify-center items-center">
      <img class="" src="{{ 'images/event_post_cover.jpeg' | asset_url }}" />
    </div>

    {%# 文章发布信息 %}
    <div class="flex items-center space-x-2 md:space-x-4">
      {%# 作者 %}
      <div class="flex items-center space-x-2">
        {%# 用户头像 %}
        {% include 'avatar', user: post.author %}
        {%# 用户名 %}
        <p class="mb-1 text-sm font-medium text-gray-900">
          <a class="text-lg"
            {% if site.user_detail_enabled %}
            href="{{ post.author.path }}"
            {% endif %}>
              {{ post.author.nick_name }}
          </a>
        </p>
      </div>
      {%# 发布时间 %}
      <p class="text-sm text-gray-500">
        {%# 只显示日期, 不展示具体时间 %}
        {{ post.created_at | time_ago }}
      </p>
    </div>

    {%# 活动标题 %}
    <div>
      <h1 class="text-2xl font-bold text-gray-900">{{ post.title }}</h1>
    </div>

    {%# 活动时间地点等信息 %}
    <div class="md:flex md:flex-wrap items-center justify-start space-y-2 gap-5 md:space-y-0 ">
      {%# 活动开始时间 %}
      <div class="flex items-center justify-start space-x-2">
        <svg t="1686219371724" class="icon w-5 h-5" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="6164"><path d="M128 384v512h768V192h-128v32a31.146667 31.146667 0 0 1-8.96 23.04 31.146667 31.146667 0 0 1-23.04 8.96 31.146667 31.146667 0 0 1-23.04-8.96 31.146667 31.146667 0 0 1-8.96-23.04V192h-384v32a31.146667 31.146667 0 0 1-8.96 23.04 31.146667 31.146667 0 0 1-23.04 8.96 31.146667 31.146667 0 0 1-23.04-8.96 31.146667 31.146667 0 0 1-8.96-23.04V192H128v128h768V384H128z m192-256h384v-32a31.146667 31.146667 0 0 1 8.96-23.04 31.146667 31.146667 0 0 1 23.04-8.96 31.146667 31.146667 0 0 1 23.04 8.96c5.973333 6.016 8.96 13.696 8.96 23.04V128h160a31.146667 31.146667 0 0 1 23.04 8.96c5.973333 6.016 8.96 13.696 8.96 23.04v768a31.146667 31.146667 0 0 1-8.96 23.04 31.146667 31.146667 0 0 1-23.04 8.96H96a31.146667 31.146667 0 0 1-23.04-8.96 31.146667 31.146667 0 0 1-8.96-23.04v-768a31.146667 31.146667 0 0 1 8.96-23.04 31.146667 31.146667 0 0 1 23.04-8.96H256v-32a31.146667 31.146667 0 0 1 8.96-23.04 31.146667 31.146667 0 0 1 23.04-8.96 31.146667 31.146667 0 0 1 23.04 8.96c5.973333 6.016 8.96 13.696 8.96 23.04V128z m-32 384h64a31.146667 31.146667 0 0 1 23.04 8.96c5.973333 6.016 8.96 13.696 8.96 23.04a31.146667 31.146667 0 0 1-8.96 23.04 31.146667 31.146667 0 0 1-23.04 8.96h-64a31.146667 31.146667 0 0 1-23.04-8.96 31.146667 31.146667 0 0 1-8.96-23.04 31.146667 31.146667 0 0 1 8.96-23.04 31.146667 31.146667 0 0 1 23.04-8.96z m0 192h64a31.146667 31.146667 0 0 1 23.04 8.96c5.973333 6.016 8.96 13.696 8.96 23.04a31.146667 31.146667 0 0 1-8.96 23.04 31.146667 31.146667 0 0 1-23.04 8.96h-64a31.146667 31.146667 0 0 1-23.04-8.96 31.146667 31.146667 0 0 1-8.96-23.04 31.146667 31.146667 0 0 1 8.96-23.04 31.146667 31.146667 0 0 1 23.04-8.96z m192-192h64a31.146667 31.146667 0 0 1 23.04 8.96c5.973333 6.016 8.96 13.696 8.96 23.04a31.146667 31.146667 0 0 1-8.96 23.04 31.146667 31.146667 0 0 1-23.04 8.96h-64a31.146667 31.146667 0 0 1-23.04-8.96 31.146667 31.146667 0 0 1-8.96-23.04 31.146667 31.146667 0 0 1 8.96-23.04 31.146667 31.146667 0 0 1 23.04-8.96z m0 192h64a31.146667 31.146667 0 0 1 23.04 8.96c5.973333 6.016 8.96 13.696 8.96 23.04a31.146667 31.146667 0 0 1-8.96 23.04 31.146667 31.146667 0 0 1-23.04 8.96h-64a31.146667 31.146667 0 0 1-23.04-8.96 31.146667 31.146667 0 0 1-8.96-23.04 31.146667 31.146667 0 0 1 8.96-23.04 31.146667 31.146667 0 0 1 23.04-8.96z m192-192h64a31.146667 31.146667 0 0 1 23.04 8.96c5.973333 6.016 8.96 13.696 8.96 23.04a31.146667 31.146667 0 0 1-8.96 23.04 31.146667 31.146667 0 0 1-23.04 8.96h-64a31.146667 31.146667 0 0 1-23.04-8.96 31.146667 31.146667 0 0 1-8.96-23.04 31.146667 31.146667 0 0 1 8.96-23.04 31.146667 31.146667 0 0 1 23.04-8.96z m0 192h64a31.146667 31.146667 0 0 1 23.04 8.96c5.973333 6.016 8.96 13.696 8.96 23.04a31.146667 31.146667 0 0 1-8.96 23.04 31.146667 31.146667 0 0 1-23.04 8.96h-64a31.146667 31.146667 0 0 1-23.04-8.96 31.146667 31.146667 0 0 1-8.96-23.04 31.146667 31.146667 0 0 1 8.96-23.04 31.146667 31.146667 0 0 1 23.04-8.96z" fill="#8a8a8a" fill-opacity=".96" p-id="6165"></path></svg>
        <p class="text-sm text-gray-500">开始时间: {{ post.event_start_time | date: "%Y-%m-%d %H:%M" }}</p>
      </div>
      {%# 互动结束时间 %}
      <div class="flex items-center justify-start space-x-2">
        <svg t="1686219371724" class="icon w-5 h-5" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="6164"><path d="M128 384v512h768V192h-128v32a31.146667 31.146667 0 0 1-8.96 23.04 31.146667 31.146667 0 0 1-23.04 8.96 31.146667 31.146667 0 0 1-23.04-8.96 31.146667 31.146667 0 0 1-8.96-23.04V192h-384v32a31.146667 31.146667 0 0 1-8.96 23.04 31.146667 31.146667 0 0 1-23.04 8.96 31.146667 31.146667 0 0 1-23.04-8.96 31.146667 31.146667 0 0 1-8.96-23.04V192H128v128h768V384H128z m192-256h384v-32a31.146667 31.146667 0 0 1 8.96-23.04 31.146667 31.146667 0 0 1 23.04-8.96 31.146667 31.146667 0 0 1 23.04 8.96c5.973333 6.016 8.96 13.696 8.96 23.04V128h160a31.146667 31.146667 0 0 1 23.04 8.96c5.973333 6.016 8.96 13.696 8.96 23.04v768a31.146667 31.146667 0 0 1-8.96 23.04 31.146667 31.146667 0 0 1-23.04 8.96H96a31.146667 31.146667 0 0 1-23.04-8.96 31.146667 31.146667 0 0 1-8.96-23.04v-768a31.146667 31.146667 0 0 1 8.96-23.04 31.146667 31.146667 0 0 1 23.04-8.96H256v-32a31.146667 31.146667 0 0 1 8.96-23.04 31.146667 31.146667 0 0 1 23.04-8.96 31.146667 31.146667 0 0 1 23.04 8.96c5.973333 6.016 8.96 13.696 8.96 23.04V128z m-32 384h64a31.146667 31.146667 0 0 1 23.04 8.96c5.973333 6.016 8.96 13.696 8.96 23.04a31.146667 31.146667 0 0 1-8.96 23.04 31.146667 31.146667 0 0 1-23.04 8.96h-64a31.146667 31.146667 0 0 1-23.04-8.96 31.146667 31.146667 0 0 1-8.96-23.04 31.146667 31.146667 0 0 1 8.96-23.04 31.146667 31.146667 0 0 1 23.04-8.96z m0 192h64a31.146667 31.146667 0 0 1 23.04 8.96c5.973333 6.016 8.96 13.696 8.96 23.04a31.146667 31.146667 0 0 1-8.96 23.04 31.146667 31.146667 0 0 1-23.04 8.96h-64a31.146667 31.146667 0 0 1-23.04-8.96 31.146667 31.146667 0 0 1-8.96-23.04 31.146667 31.146667 0 0 1 8.96-23.04 31.146667 31.146667 0 0 1 23.04-8.96z m192-192h64a31.146667 31.146667 0 0 1 23.04 8.96c5.973333 6.016 8.96 13.696 8.96 23.04a31.146667 31.146667 0 0 1-8.96 23.04 31.146667 31.146667 0 0 1-23.04 8.96h-64a31.146667 31.146667 0 0 1-23.04-8.96 31.146667 31.146667 0 0 1-8.96-23.04 31.146667 31.146667 0 0 1 8.96-23.04 31.146667 31.146667 0 0 1 23.04-8.96z m0 192h64a31.146667 31.146667 0 0 1 23.04 8.96c5.973333 6.016 8.96 13.696 8.96 23.04a31.146667 31.146667 0 0 1-8.96 23.04 31.146667 31.146667 0 0 1-23.04 8.96h-64a31.146667 31.146667 0 0 1-23.04-8.96 31.146667 31.146667 0 0 1-8.96-23.04 31.146667 31.146667 0 0 1 8.96-23.04 31.146667 31.146667 0 0 1 23.04-8.96z m192-192h64a31.146667 31.146667 0 0 1 23.04 8.96c5.973333 6.016 8.96 13.696 8.96 23.04a31.146667 31.146667 0 0 1-8.96 23.04 31.146667 31.146667 0 0 1-23.04 8.96h-64a31.146667 31.146667 0 0 1-23.04-8.96 31.146667 31.146667 0 0 1-8.96-23.04 31.146667 31.146667 0 0 1 8.96-23.04 31.146667 31.146667 0 0 1 23.04-8.96z m0 192h64a31.146667 31.146667 0 0 1 23.04 8.96c5.973333 6.016 8.96 13.696 8.96 23.04a31.146667 31.146667 0 0 1-8.96 23.04 31.146667 31.146667 0 0 1-23.04 8.96h-64a31.146667 31.146667 0 0 1-23.04-8.96 31.146667 31.146667 0 0 1-8.96-23.04 31.146667 31.146667 0 0 1 8.96-23.04 31.146667 31.146667 0 0 1 23.04-8.96z" fill="#8a8a8a" fill-opacity=".96" p-id="6165"></path></svg>
        <p class="text-sm text-gray-500">结束时间: {{ post.event_end_time | date: "%Y-%m-%d %H:%M" }}</p>
      </div>
      {%# 活动地点 %}
      <div class="flex items-center justify-start space-x-2">
        <svg t="1686219472252" class="icon w-5 h-5" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="7225"><path d="M505.344 0C332.288 0 192 140.288 192 315.904c0 173.056 169.984 391.68 315.904 569.856 143.36-181.248 315.904-394.24 315.904-569.856C821.248 140.288 680.96 0 505.344 0z m0 524.288C389.12 524.288 296.96 429.568 296.96 315.904 296.96 199.68 391.68 108.032 504.832 108.032c116.224 0 207.872 94.72 207.872 207.872 3.072 116.224-91.136 208.384-207.36 208.384z" fill="#8a8a8a" p-id="7226"></path><path d="M386.56 315.904c0 32.256 13.312 61.952 35.328 83.968C443.392 421.376 476.16 435.2 505.856 435.2c32.256 0 61.952-13.312 83.968-35.328 21.504-21.504 35.328-54.272 35.328-83.968 0-32.256-13.312-61.952-35.328-83.968-21.504-21.504-54.272-35.328-83.968-35.328-32.256 0-61.952 13.312-83.968 35.328-22.016 22.016-35.328 51.712-35.328 83.968zM507.904 1024c-202.752 0-408.064-65.024-408.064-186.368 0-67.584 67.584-124.416 186.368-159.232 21.504-5.632 43.008 5.632 48.64 27.136 5.632 21.504-5.632 43.008-27.136 48.64-89.088 24.064-129.536 59.392-129.536 83.968 0 43.008 129.536 108.032 332.288 108.032s332.288-65.024 332.288-108.032c0-24.064-48.64-61.952-137.728-86.528-21.504-5.632-32.256-27.136-27.136-48.64 5.632-21.504 27.136-32.256 48.64-27.136 124.416 32.256 197.12 91.648 197.12 162.304-7.68 120.832-212.992 185.856-415.744 185.856z" fill="#8a8a8a" p-id="7227"></path></svg>
        <p class="text-sm text-gray-500">活动地点: {{ post.event_location }}</p>
      </div>
    </div>

    <div class="text-base leading-7 dark:text-gray-100 ProseMirror">
      {{ post.content }}
    </div>

    {%# 活动链接 %}
    <div class="text-base flex items-center space-x-2">
      <div class="h-10 w-2 bg-primary/10"></div>
      <div>
        活动链接: <a class=" text-primary" href="{{ post.event_link }}">{{ post.event_link_text }}</a>
      </div>
    </div>

    {%# 互动列表 %}
    <div>
      {% include 'reaction_actions', target: post, post: post %}
    </div>

    <section class="space-y-3 md:space-y-5">
      <div class="my-3 md:my-5 text-lg text-gray-400 flex justify-start items-center space-x-3">
        <span>评论 <span id="post_{{ post.id }}_replies_count">{{ post.replies_count }}</span></span>
        <span class="text-sm">文明上网理性发言，请遵守评论服务协议</span>
      </div>
      {% render 'reply_post_form', target: post %}
      {%# 评论列表 %}
      <div id="post_{{ post.id }}_replies_list">
        {% for reply in post.replies %}
          {% render 'event_reply', reply: reply %}
        {% else %}
          <div class="text-center text-gray-400">
            暂无评论
          </div>
        {% endfor %}
      </div>
    </section>
  </div>
</div>
{% render 'feedback', post: post %}
