{% layout none %}
{% render 'toast', message: '反馈失败', type: 'error' %}
<turbo-stream action="replace" target="feedback_error">
  <template>
    <div id="feedback_error" class="text-red-500 text-xs">
      {% for error in errors %}
        <p>{{ error }}</p>
      {% endfor %}
    </div>
  </template>
</turbo-stream>
