<div class="w-full flex flex-col max-w-full md:max-w-5xl self-center space-y-3 sm:space-y-3.5 md:space-y-4 lg:space-y-5">
  {%# 顶部 %}
  <div class="flex flex-col justify-between overflow-hidden bg-white shadow sm:rounded-t-lg">
    {%# 背景图 %}
    <div class="w-full">
      {% assign banner_url = 'images/idea_space.jpeg' | asset_url %}
      <img src="{{ space.banner_url | default: banner_url }}" class="object-cover w-full h-32 lg:h-48" />
    </div>
    {%# 空间信息及操作 %}
    <div class="w-full px-4 lg:px-8 ">
      <div class="flex flex-col items-center mb-5 space-y-3 sm:flex-row sm:space-y-0 sm:space-x-3">
        {%# 空间图标 %}
        <div class="relative flex -mt-12 sm:-mt-16">
          <div class="flex items-center justify-center w-24 h-24 bg-white rounded-full shadow sm:h-32 sm:w-32">
            <span class="text-3xl">{{ space.icon }}</span>
          </div>
        </div>
        {%# 空间信息 %}
        <div class="mt-5 space-y-3 sm:flex-1 sm:min-w-0 sm:flex sm:items-center sm:justify-end sm:space-x-6 sm:pb-1">
          {%# 空间名称 %}
          <div class="flex-1 min-w-0">
            <h1 class="text-2xl font-bold text-center flex items-center space-x-5 text-gray-900 truncate sm:text-left">
              {{ space.name }}
            </h1>
          </div>
          {%# 操作 %}
          {% render 'space_actions', space: space %}
        </div>
      </div>
    </div>
  </div>

  {% assign space_posts = posts | posts_of_space: space %}

  {% assign space_posts = space_posts | order_by: '-vote_count' %}
  {%# 讨论列表 %}
  <div class="w-full">
    <ul
      id="post"
      role="list"
      class="w-full flex flex-col col-span-1 md:col-span-4 max-w-full justify-self-center space-y-3 sm:space-y-3.5 md:space-y-4 lg:space-y-5">
      {% paginate_tag space_posts, per: 5, page: params.page %}
        {% for post in space_posts %}
          <li class="px-2 py-2 bg-white md:px-5 md:py-5 md:shadow-md">
            <div class="flex justify-between space-x-5">
              {%# 左边 %}
              {% render 'idea_vote', post: post %}
              {%# 右边 %}
              <div class="flex-1 space-y-3">
                <a href="{{ post.path }}" class="text-lg font-medium break-all">
                  {{ post.title }}
                  {% render 'post_status', post: post %}
                </a>
                <div class="text-gray-400 line-clamp-3">{{ post.content | strip_html }}</div>
              </div>
            </div>
          </li>
        {% else %}
          {% render 'empty', message: '暂无内容' %}
        {% endfor %}
        <div class="flex items-center py-8">
          {% render 'paginate', paginate: paginate %}
        </div>
      {% endpaginate_tag %}
    </ul>
  </div>
</div>
