{%# 内容列表 %}
<div class="w-full grid grid-cols-1 md:grid-cols-6 max-w-full md:max-w-8xl self-center gap-3 sm:gap-3.5 md:gap-4 lg:gap-5 ">
  <div class="w-full flex flex-col col-span-1 md:col-span-4 max-w-full justify-self-center space-y-3 sm:space-y-3.5 md:space-y-4 lg:space-y-5 order-1 md:order-1 lg:order-1">
    <ul id="post" role="list" class="w-full flex flex-col col-span-1 md:col-span-4 max-w-full justify-self-center space-y-3 sm:space-y-3.5 md:space-y-4 lg:space-y-5 order-1 md:order-1 lg:order-1">
      {% if params.q.size > 0 %}
        {% assign posts = posts | posts_of_search: params.q %}
        <p>搜索结果</p>
      {% endif %}
      {% for post in posts %}
        {% render 'post', post: post %}
      {% else %}
        {% render "empty", message: "暂无内容" %}
      {% endfor %}
    </ul>
  </div>
  {%# 右侧 %}
  <div class="w-full flex-col col-span-1 sm:col-span-2 max-w-full md:max-w-7xl justify-self-center space-y-3 sm:space-y-3.5 md:space-y-4 lg:space-y-5 md:order-2 lg:order-2 hidden md:flex">
    <div class="w-full flex flex-col max-w-full md:max-w-7xl self-center space-y-3 sm:space-y-3.5 md:space-y-4 lg:space-y-5 p-0 ">
      {%#  render 'profile_card' %}
      {% if current_user %}
        <div class="pb-5 bg-white rounded-lg shadow">
          {%# 背景 %}
          <div class="w-full md:h-20 lg:h-28 xl:h-36 2xl:h-48">
            <img src="{{ 'images/profile-background.jpg' | asset_url }}" class="w-full rounded-tl-lg rounded-tr-lg md:h-20 lg:h-28 xl:h-36 2xl:h-48">
          </div>
          <div class="flex flex-col items-center -mt-10 lg:-mt-12 xl:-mt-16 2xl:-mt-20">
            <div
              class="w-20 h-20 avatar lg:w-24 lg:h-24 xl:w-32 xl:h-32 2xl:w-40 2xl:h-40">
              <img
                class="rounded-full w-full"
                src="{{ current_user.avatar_url }}"
                alt="{{ current_user.nick_name }}" />
            </div>
            <div class="flex items-center mt-2 space-x-2">
              <p class="text-lg lg:text-xl xl:text-2xl">{{ current_user.nick_name }}</p>
              <span class="p-1 bg-blue-500 rounded-full" title="Verified">
                <svg xmlns="http://www.w3.org/2000/svg" class="text-gray-100 h-2.5 w-2.5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="4" d="M5 13l4 4L19 7"></path>
                </svg>
              </span>
            </div>
            <p class="w-full text-sm text-center text-gray-500 line-clamp-1 px-4 mt-2">{{ current_user.description }}</p>
          </div>
        </div>
      {% endif %}

      {% assign posters = site.users | order_by: 'post' | limit: 10 %}
      {% render 'top_posters', users: posters %}

      {%  assign recent_replies = replies | limit: 10 %}
      {% render 'recent_replies', replies: recent_replies %}
    </div>
  </div>
</div>
