{% layout none %}

{% if space.visibility == "public" %}
  {% assign message = '已成功加入空间' %}
{% else %}
  {% assign message = '已成功申请加入空间' %}
{% endif %}


{% render 'toast', type: 'success', message: message %}

{%# 替换空间列表 %}
<turbo-stream action="replace" target="space_{{ space.id }}">
  <template>
    {% render 'space', space: space %}
  </template>
</turbo-stream>

{%# 如果是在空间详情页加入, 则替换顶部操作栏 %}
<turbo-stream action="replace" target="space_{{ space.id }}_actions">
  <template>
    {% render 'space_actions', space: space %}
  </template>
</turbo-stream>


{%# 替换侧边栏空间列表 %}
<turbo-stream action="replace" target="sidebar_spaces">
  <template>
    <div id="sidebar_spaces">
      {% render 'sidebar_spaces', sidebar_spaces: current_user.spaces %}
    </div>
  </template>
</turbo-stream>

<turbo-stream action="replace" target="sidebar_spaces_mobile">
  <template>
    <div id="sidebar_spaces_mobile">
      {% render 'sidebar_spaces', sidebar_spaces: current_user.spaces %}
    </div>
  </template>
</turbo-stream>

{%# 更新header中的空间列表 %}
<turbo-stream action="replace" target="header_spaces">
  <template>
    <ul id="header_spaces">
      {% for space in current_user.spaces %}
        <a href="/posts/new?space={{ space.id }}">
          <li class="pl-5 pr-8 md:pr-10 py-2 text-base hover:bg-slate-100 hover:text-slate-800 focus:bg-slate-100 focus:text-slate-800 dark:hover:bg-navy-600 dark:hover:text-navy-100 dark:focus:bg-navy-600 dark:focus:text-navy-100">
            {{ space.name_with_icon }}
          </li>
        </a>
      {% else %}
        <li class="pl-5 pr-8 md:pr-10 py-2 text-base hover:bg-slate-100 hover:text-slate-800 focus:bg-slate-100 focus:text-slate-800 dark:hover:bg-navy-600 dark:hover:text-navy-100 dark:focus:bg-navy-600 dark:focus:text-navy-100">
          <a href="/spaces">点击加入空间</a>
        </li>
      {% endfor %}
    </ul>
  </template>
</turbo-stream>
