{% if space.visibility == "public" %}
  {% assign message = '已成功加入空间' %}
{% else %}
  {% assign message = '已成功申请加入空间' %}
{% endif %}


{% render 'http_success', title: '操作成功', message: message, link: space.path %}
