<div class="flex flex-col self-center w-full max-w-full space-y-5 md:max-w-5xl sm:space-y-6 md:space-y-7 lg:space-y-8">
  {%# 顶部 %}
  <div class="flex flex-col items-center space-y-3 sm:flex-row sm:space-y-0 sm:space-x-3">
    {%# 左 %}
    <div class="flex items-center flex-grow w-full space-x-5">
      <div class="flex flex-col w-full space-y-1">
        <h1 class="text-xl font-bold lg:text-3xl flex items-center space-x-5">{{ space.name_with_icon }}</h1>
        <p class=" line-clamp-1">{{ space.description }}</p>
      </div>
    </div>
    {%# 右 %}
    {% render 'space_actions', space: space %}
  </div>

  {% assign space_posts = posts | posts_of_space: space %}
  {% if params.q.size > 0 %}
    {% assign space_posts = space_posts | posts_of_search: params.q %}
    <p>搜索结果</p>
  {% endif %}
  {%# 列表 %}
  <section class="">
    <div class="py-4 mx-auto max-w-screen-xl md:py-5">
      {% paginate_tag space_posts, per: 5, page: params.page %}
        <div class="grid gap-5 md:grid-cols-2">
          {% for post in space_posts %}
            <article class="p-6 bg-white border border-gray-200 rounded-lg dark:bg-gray-800 dark:border-gray-700">
                <div class="flex items-center justify-between mb-5 text-gray-500">
                    <span class="bg-primary-100 text-primary-800 text-xs font-medium inline-flex items-center py-0.5 rounded dark:bg-primary-200 dark:text-primary-800">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mr-2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M9 12h3.75M9 15h3.75M9 18h3.75m3 .75H18a2.25 2.25 0 002.25-2.25V6.108c0-1.135-.845-2.098-1.976-2.192a48.424 48.424 0 00-1.123-.08m-5.801 0c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 00.75-.75 2.25 2.25 0 00-.1-.664m-5.8 0A2.251 2.251 0 0113.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m0 0H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V9.375c0-.621-.504-1.125-1.125-1.125H8.25zM6.75 12h.008v.008H6.75V12zm0 3h.008v.008H6.75V15zm0 3h.008v.008H6.75V18z" />
                      </svg>
                        笔记
                    </span>
                    <span class="text-sm">{{ post.created_at | time_ago }}</span>
                </div>
                <h2 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white break-all"><a href="{{ post.path }}">{{ post.title }}</a>{% render 'post_status', post: post %}</h2>
                <div class="mb-5 font-light text-gray-500 dark:text-gray-400 line-clamp-3">{{ post.content | strip_html }}</div>
                <div class="flex items-center justify-between">
                    <div class="flex items-center space-x-4">
                      {% render 'avatar', user: post.author %}
                      <a
                        class="font-medium"
                        {% if site.user_detail_enabled %}
                        href="{{ post.author.path }}"
                        {% endif %}>
                        {{ post.author.nick_name }}
                      </a>
                    </div>
                    <a href="{{ post.path }}" class="inline-flex items-center font-medium text-primary-600 dark:text-primary-500 hover:underline">
                        阅读更多
                        <svg class="w-4.5 h-4.5 ml-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                    </a>
                </div>
            </article>
          {% else %}
            <div class="col-span-2">
              {% render 'empty', message: '暂无内容' %}
            </div>
          {% endfor %}
        </div>
        <div class="flex items-center py-8">
          {% render 'paginate', paginate: paginate %}
        </div>
      {% endpaginate_tag %}
    </div>
  </section>
</div>
