<div class="flex justify-between w-full space-x-5">
  <div class="w-full text-base text-black bg-white rounded-lg">
    {%# 如果当前帖子已经被隐藏或者屏蔽, 只有作者能够查看, 则展示提示信息 %}
    {% unless post.active %}
      <div class="text-base bg-error p-2 text-white">当前帖子已被管理员隐藏或屏蔽</div>
    {% endunless %}
    {% if post.locked %}
      <div class="text-base bg-error p-2 text-white">当前帖子已被管理员锁定</div>
    {% endif %}
    {%# 面包屑导航栏 %}
    <ul class="flex-wrap items-center hidden px-4 py-8 pb-0 space-x-2 md:px-8 lg:flex">
      <li class="flex items-center space-x-2">
        <a href="/" class="transition-colors text-primary hover:text-primary-focus dark:text-accent-light dark:hover:text-accent">首页</a>
        <svg x-ignore="" xmlns="http://www.w3.org/2000/svg" class="w-4.5 h-4.5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
        </svg>
      </li>
      <li class="flex items-center space-x-2">
        <a href="{{ post.space.path }}" class="transition-colors text-primary hover:text-primary-focus dark:text-accent-light dark:hover:text-accent flex items-center space-x-3">{{ post.space.name_with_icon }}</a>
        <svg x-ignore="" xmlns="http://www.w3.org/2000/svg" class="w-4.5 h-4.5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
        </svg>
      </li>

      <li>
        {{ post.title | truncate: 20 }}
      </li>
    </ul>

    {%# 内容信息 %}
    <div class="w-full p-4 mx-auto space-y-4 md:space-y-8 md:px-8">
      {%# 作者信息 %}
      <div class="flex items-center space-x-3">
        {%# 用户头像 %}
        {% include 'avatar', user: post.author %}
        <div class="flex-1 min-w-0">
          {%# 用户名 %}
          <p class="mb-1 text-sm font-medium text-gray-900">
            <a
              class="text-lg"
              {% if site.user_detail_enabled %}
              href="{{ post.author.path }}"
              {% endif %}>
              {{ post.author.nick_name }}
            </a>
          </p>
          <p class="text-sm text-gray-500">
            {%# 只显示日期, 不展示具体时间 %}
            {{ post.created_at | time_ago }}
          </p>
        </div>
        {%# Post DropDown %}
        {% render 'post_actions', post: post %}
      </div>
      <article class=" dark:bg-gray-800 dark:text-gray-50">
        <h1 class="text-xl font-bold md:text-2xl lg:text-3xl xl:text-4xl md:tracking-tight break-all">
          {{ post.title }}
        </h1>

        {%# 标签 %}
        {% assign tags_count = post.tags | size %}
        {% if tags_count > 0 %}
          <div class="flex flex-wrap py-3 md:py-6 space-x-2 border-t border-dashed dark:border-gray-400">
            {% for tag in post.tags %}
              <a
                href="{{ tag.path }}"
                style="background: {{ tag.bg_color }}"
                class="px-3 py-1 text-white rounded-full hover:underline dark:bg-violet-400 dark:text-gray-900"
              >
                {{ tag.name }}
              </a>
            {% endfor %}
          </div>
        {% endif %}

        {%# 内容 %}
        <div class="py-3 md:py-5 text-base leading-7 dark:text-gray-100 ProseMirror">
          {{ post.content }}
        </div>

        <hr class="my-8 border-b" />

        {%# 互动和评论 %}
        {%# 互动列表 %}
        <div class="w-full mb-3">
          {%# 互动按钮 %}
          {% include 'reaction_actions', target: post, post: post %}
        </div>

        {%# 评论数量 %}
        <div class="my-3 md:my-5 text-lg text-gray-400 flex justify-start items-center space-x-3">
            <span>评论 <span id="post_{{ post.id }}_replies_count">{{ post.replies_count }}</span></span>
            <span class="text-sm">文明上网理性发言，请遵守评论服务协议</span>
          </div>

        {%# 添加评论 %}
        <section class="space-y-2 md:space-y-3">
          {% render 'reply_post_form', target: post %}
          {%# 评论列表 %}
          <div id="post_{{ post.id }}_replies_list" class=" space-y-2 md:space-y-3">
            {% for reply in post.replies %}
              {% render 'reply', reply: reply %}
            {% else %}
              <div class="text-center text-gray-400">
                暂无评论
              </div>
            {% endfor %}
          </div>
        </section>
      </article>
    </div>
  </div>
</div>
{% render 'feedback', post: post %}
