{% unless current_user %}
  {%# TODO: 临时显示 %}
  <div class="w-full py-20 text-lg font-extrabold text-center">登录后访问</div>
  {%# 跳转至登录页 %}
  {% assign sign_in_url = "/sign_in" %}
  <script>// window.open("{{ sign_in_url }}")</script>
{% endunless %}

{% render 'user', user: current_user %}
