<div class="flex flex-col self-center w-full max-w-full space-y-5 md:max-w-5xl sm:space-y-6 md:space-y-7 lg:space-y-8">
  {%# 顶部 %}
  <div class="flex flex-col items-center space-y-3 sm:flex-row sm:space-y-0 sm:space-x-3">
    {%# 左 %}
    <div class="flex items-center flex-grow w-full space-x-5">
      <div class="flex flex-col w-full space-y-1">
        <h1 class="text-xl font-bold lg:text-3xl flex items-center space-x-5">{{ space.name_with_icon }}</h1>
        <p class=" line-clamp-1">{{ space.description }}</p>
      </div>
    </div>
    {%# 右 %}
    {% render 'space_actions', space: space %}
  </div>

  {%# banner图 %}
  {% assign banner_url = 'images/question_space.jpg' | asset_url %}
  <div class="flex flex-col justify-between overflow-hidden bg-center bg-cover shadow bg-surface text-content-subdued sm:rounded-lg" style="background-image:url({{ space.banner_url | default: banner_url }})">
    <div class="p-6 text-black">
      <div class="p-10">
        <h2 class="mb-5 text-4xl font-semibold">遇到疑问？</h2>
        <p class="text-base">众人拾柴火焰高，快来提问吧！</p>
      </div>
    </div>
  </div>

  {% assign space_posts = posts | posts_of_space: space %}
  {% if params.q.size > 0 %}
    {% assign space_posts = space_posts | posts_of_search: params.q %}
    <p>搜索结果</p>
  {% endif %}
  {%# 问答列表 %}
  <div>
    <div x-data="{activeTab:'tabLatest'}" class="flex flex-col tabs">
      {%# Tab %}
      <div class="overflow-x-auto is-scrollbar-hidden">
        <div class="flex tabs-list">
          <button
            @click="activeTab = 'tabLatest'"
            :class="activeTab === 'tabLatest' ? 'border-slate-300' : 'border-transparent'"
            class="px-3 py-2 font-medium border-b-2 rounded-none btn shrink-0">
            最新
          </button>
          <button
            @click="activeTab = 'tabUnresolved'"
            :class="activeTab === 'tabUnresolved' ? 'border-slate-300' : 'border-transparent'"
            class="px-3 py-2 font-medium border-b-2 rounded-none btn shrink-0">
            未解决
          </button>
          <button
            @click="activeTab = 'tabResolved'"
            :class="activeTab === 'tabResolved' ? 'border-slate-300' : 'border-transparent'"
            class="px-3 py-2 font-medium border-b-2 rounded-none btn shrink-0">
            已解决
          </button>
        </div>
      </div>

      {%# 问答列表 %}
      <div class="pt-4 tab-content">
        <div
          x-show="activeTab === 'tabUnresolved'"
          x-transition:enter="transition-all duration-500 easy-in-out"
          x-transition:enter-start="opacity-0 [transform:translate3d(1rem,0,0)]"
          x-transition:enter-end="opacity-100 [transform:translate3d(0,0,0)]">
          {% assign unresolved_posts = space_posts | posts_of_unresolved %}
          {% render 'question', posts: unresolved_posts %}
        </div>
        <div
          x-show="activeTab === 'tabResolved'"
          x-transition:enter="transition-all duration-500 easy-in-out"
          x-transition:enter-start="opacity-0 [transform:translate3d(1rem,0,0)]"
          x-transition:enter-end="opacity-100 [transform:translate3d(0,0,0)]">
          {% assign resolved_posts = space_posts | posts_of_resolved %}
          {% render 'question', posts: resolved_posts %}
        </div>
        <div
          x-show="activeTab === 'tabLatest'"
          x-transition:enter="transition-all duration-500 easy-in-out"
          x-transition:enter-start="opacity-0 [transform:translate3d(1rem,0,0)]"
          x-transition:enter-end="opacity-100 [transform:translate3d(0,0,0)]">
          {% assign post_by_created = space_posts | order_by: '-created_at' %}
          {% render 'question', posts: post_by_created %}
        </div>
      </div>
    </div>
  </div>
</div>
