{% layout none %}

{% comment %}
互动后需要完成的操作:
1、更新互动列表
2、更新表情列表
3、更新互动数(可能存在)

{% endcomment %}{%# %}

{%# 互动列表 %}
<turbo-stream action="replace" target="reaction_{{ target.id }}_list">
  <template>
    <div class="flex flex-wrap leading-6 justify-start items-center gap-y-5" id="reaction_{{ target.id }}_list">
      {% for reaction in target.reactions %}
        {%# 互动数为0时不显示 %}
        {% if reaction.count == 0 %}
          {% continue %}
        {% endif %}
        {% if reaction.reacted %}
          {% if post.can_reaction %}
            {% assign css_classes = 'cursor-pointer' %}
          {% else %}
            {% assign css_classes = 'cursor-not-allowed' %}
          {% endif %}
          <button
            class="box-border flex flex-row flex-wrap items-center cursor-not-allowed {{ css_classes }} mr-2 md:mr-4"
            {% unless post.can_reaction %}
            disabled
            {% endunless %}
            name="reaction"
            value="{{ reaction.type }}">
            <div class="py-0.5 px-2 hover:bg-primary rounded-3xl bg-primary/10 flex items-center space-x-1">
              <p class="text-xs md:text-base">{{ reaction.type }}</p>
              <p class="text-xs md:text-base">{{ reaction.count }}</p>
            </div>
          </button>
        {% else %}
          <div class="box-border flex flex-row flex-wrap items-center mr-2 md:mr-4">
            <div class="py-0.5 px-2 hover:bg-slate-400 cursor-not-allowed bg-slate-200 rounded-3xl flex items-center space-x-1">
              <p class="text-xs md:text-base">{{ reaction.type }}</p>
              <p class="text-xs md:text-base">{{ reaction.count }}</p>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </template>
</turbo-stream>

{%# 表情列表 %}
<turbo-stream action="replace" target="reaction_{{ target.id }}_action_list">
  <template>
    <div class="max-w-md lg:max-w-xl flex flex-wrap leading-6 justify-start items-center gap-y-3 gap-x-2 sm:gap-x-4 px-2 popper-box rounded-md border border-slate-150 bg-white py-1.5 font-inter dark:border-navy-500 dark:bg-navy-700" id="reaction_{{ target.id }}_action_list">
      {% for reaction in target.reactions %}
        {% form_tag 'reaction', target %}
          {% if reaction.reacted %}
            {% assign css_classes = 'bg-primary/10' %}
          {% else %}
            {% assign css_classes = 'bg-slate-100' %}
          {% endif %}
          <input
            name="reaction"
            class="cursor-pointer px-2 py-1 text-lg rounded-md {{ css_classes }}"
            type="submit"
            value="{{ reaction.type }}" />
        {% endform_tag %}
      {% endfor %}
    </div>
  </template>
</turbo-stream>

{%# 互动数量 %}
<turbo-stream action="replace" target="target_{{ target.id }}_reactions_count">
  <template>
    <p class="text-sm text-gray-500" id="target_{{ target.id }}_reactions_count">{{ target.reactions_count }}</p>
  </template>
</turbo-stream>
