<div class="w-full space-y-3 md:space-y-5">
  <div class="w-full text-base text-black bg-white rounded-lg space-x-3 space-y-3 md:space-y-5 py-5 md:py-8 px-3 md:px-6">
    {%# 顶部 %}
    <div class="w-full justify-between items-center hidden space-x-2 lg:flex">
      <ul class="flex-wrap items-center flex">
        <a class="py-2 px-2 rounded-full hover:bg-slate-200" href="javascript:history.back()">
          <svg t="1686125948100" class="icon w-8 h-8 " viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="4084" ><path d="M139.636364 520.067879a31.030303 31.030303 0 0 1 31.030303-31.030303h682.666666a31.030303 31.030303 0 1 1 0 62.060606H170.666667a31.030303 31.030303 0 0 1-31.030303-31.030303z" fill="#8a8a8a" p-id="4085"></path><path d="M471.877818 218.856727a31.030303 31.030303 0 0 1 0 43.876849L214.543515 520.067879l257.334303 257.334303a31.030303 31.030303 0 0 1-43.876848 43.876848l-279.272728-279.272727a31.030303 31.030303 0 0 1 0-43.876848l279.272728-279.272728a31.030303 31.030303 0 0 1 43.876848 0z" fill="#8a8a8a" p-id="4086"></path></svg>
        </a>
        {%# 关键词 %}
        <span class="flex items-center text-lg font-black py-2 px-4 rounded-full hover:bg-slate-200">Results for "{{ keywords }}"</span>
      </ul>
    </div>

    {%# 搜索结果 %}
    <ul role="list" class="w-full flex flex-col col-span-1 md:col-span-4 max-w-full justify-self-center space-y-3 sm:space-y-3.5 md:space-y-4 lg:space-y-5 order-1 md:order-1 lg:order-1">
      {% for post in search_posts %}
        <li class="p-2 md:p-4 flex items-center space-x-2 md:space-x-5 border-b border-slate-100">
          {%# 头像 %}
          {% render 'avatar', user: post.author %}
          <a class="block space-y-2 md:space-y-3" href="{{ post.path }}">
            {%# 发布信息 %}
            <div class="flex items-center space-x-2">
              <span class="text-sm text-gray-500">{{ post.author.nick_name }}</span>
              <span class="text-sm text-gray-500 mx-1">·</span>
              <span class="text-sm text-gray-500">{{ post.created_at | date: "%Y-%m-%d" }}</span>
              <span class="text-sm text-gray-500 mx-1">·</span>
              <span class="text-sm text-gray-500">{{ post.space.name_with_icon }}</span>
            </div>
            {%# 标题 %}
            <p class="text-lg font-semibold line-clamp-1">{{ post.title }}</p>
          </a>
        </li>
      {% else %}
        {% render "empty", message: "暂无内容" %}
      {% endfor %}
    </ul>
  </div>
</div>
