{% layout none %}

<!DOCTYPE html>
<html lang="en">
  <head>
    {% meta_tags %}
    {{ 'javascripts/main.js' | asset_url | script_tag: defer: true, data-turbo-track: 'reload' }}
    <style type="text/css">
      :root {
        {{ site.theme_colors_css }}
      }
    </style>
    <!-- Tailwind -->
    {{ 'javascripts/cdn.tailwindcss.js' | asset_url | script_tag: data-turbo-track: 'reload' }}
    <script>
      window.onload = function(){
        tailwind.config = {
        theme: {
          extend: {
            colors: () => {
              return {
                "primary": 'rgb(var(--theme-color-primary) / <alpha-value>)',
              }
            }
          }
        }
      }
      }
    </script>
  </head>

  <body class="min-h-screen bg-gray-50 dark:bg-gray-900" id="body">
    <div class="flex flex-col items-center justify-center space-y-6 px-6 py-8 mx-auto md:h-screen lg:py-0">
      {%# logo %}
      <a href="#" class="flex items-center text-2xl font-semibold text-gray-900 dark:text-white">
        <img
          class="w-8 h-8 mr-2"
          src="{{ site.logo_url }}"
          alt="logo">
        {{ site.name_with_icon }}
      </a>

      {%# login form %}
      <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
        <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
          <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
            欢迎登录
          </h1>
          {%# sign_in 'new' %}
          {% form_tag 'sign_in' %}{% endform_tag %}
        </div>
      </div>

      <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
        {%# if site.baklib_login_enabled %}
          {%# assign baklib_login_text = site.baklib_login_text %}
          {%# sign_in 'ssb', baklib_login_text %}
        {%# endif %}
        {% form_tag 'sign_in_with_ssb' %}{% endform_tag %}
      </div>
    </div>
  </body>
</html>
