<div class="flex flex-col self-center w-full max-w-full md:max-w-5xl">
  <div class="flex flex-col space-y-3 sm:space-y-3.5 md:space-y-4 lg:space-y-5">
    {%# 顶部 %}
    <div class="bg-white shadow sm:rounded-lg">
      <div class="px-4 py-5 sm:p-6">
        <div class="space-y-3">
          <h1 id="message-heading" class="text-lg font-bold text-gray-900 lg:text-xl xl:text-2xl">社区空间</h1>
          <p class="mt-1 text-sm text-gray-500 truncate">这里展示所有非私密的空间列表，点击浏览每个空间信息。</p>
        </div>
      </div>
    </div>
    {%# 列表 %}
    <div>
      <ul class="grid gap-3 sm:gap-3.5 md:gap-4 lg:gap-5 grid-cols-1 lg:grid-cols-2">
        {% for space in spaces %}
          {% render 'space', space: space, current_user: current_user %}
        {% else %}
          <div class="col-span-2">
            {% render 'empty', message: '暂无公开空间' %}
          </div>
        {% endfor %}
      </ul>
    </div>
  </div>
  </div>
</div>
