{%# 标签详情页 %}
<div class="flex flex-col w-full max-w-screen-xl mx-auto space-x-6 space-y-6 lg:justify-between lg:items-start lg:flex-row">
  <div class="w-full text-base text-black rounded-lg space-y-3 md:space-y-5 py-5 md:py-8 px-3 md:px-6">
    {%# 顶部 %}
    <div class="bg-white rounded-lg shadow-md space-y-5 pb-5">
      <div class="h-5 rounded-t-md" style="background: {{ tag.bg_color }}"></div>
      <div class="text-xl font-black px-3">
        {{ tag.name }}
      </div>
    </div>
    {%# 列表 %}
    <div class="w-full flex flex-col col-span-1 md:col-span-4 max-w-full justify-self-center space-y-3 sm:space-y-3.5 md:space-y-4 lg:space-y-5 order-1 md:order-1 lg:order-1">
      <ul
        id="post"
        role="list"
        class="w-full flex flex-col col-span-1 md:col-span-4 max-w-full justify-self-center space-y-3 sm:space-y-3.5 md:space-y-4 lg:space-y-5 order-1 md:order-1 lg:order-1">
        {% assign tag_posts = tag.posts | order_by: '-created_at' %}
        {% for post in tag_posts %}
          {% render 'post', post: post %}
        {% else %}
          {% render 'empty', message: '暂无内容' %}
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
