{% layout none %}

{% render 'toast', type: 'success', message: '更新密码成功' %}

{%# 清除错误提示 %}
<turbo-stream action="replace" target="edit_password_errors">
  <template>
    <div class="text-xs text-red-500 space-y-2" id="edit_password_errors"></div>
  </template>
</turbo-stream>
