{% layout none %}

{% render 'toast', type: 'success', message: '修改头像成功' %}

{%# 更新头像 %}
<turbo-stream action="replace" target="current_user_avatar">
  <template>
    <div class="w-12 h-12" id="current_user_avatar">
      <img
        class="rounded-full w-12 h-12"
        src="{{ current_user.avatar_url }}"
        alt="avatar" />
    </div>
  </template>
</turbo-stream>

<turbo-stream action="replace" target="current_user_avatar_in_header">
  <template>
    <div class="items-center justify-center flex-shrink-0 w-8 h-8 lg:w-10 lg:h-10 overflow-hidden rounded-full" id="current_user_avatar_in_header">
      <img
        src="{{ current_user.avatar_url }}"
        class="w-8 lg:w-10 h-8 lg:h-10"
        alt="{{ current_user.nick_name }}" />
    </div>
  </template>
</turbo-stream>
