{% layout none %}

{% render 'toast', type: 'error', message: '更新密码失败' %}

{%# 错误信息提示 %}
<turbo-stream action="replace" target="edit_password_errors">
  <template>
    <div class="text-xs text-red-500 space-y-2" id="edit_password_errors">
      {% for error in errors %}
        <p>{{ error }}</p>
      {% endfor %}
    </div>
  </template>
</turbo-stream>
