{% layout none %}

{% render 'toast', type: 'success', message: '更新个人信息成功' %}

{%# 清除错误提示 %}
<turbo-stream action="replace" target="edit_profile_info_errors">
  <template>
    <div class="mt-5" id="edit_profile_info_errors"></div>
  </template>
</turbo-stream>
