{% layout none %}

{% render 'toast', type: 'error', message: '更新个人信息失败' %}

{%# 错误信息提示 %}
<turbo-stream action="replace" target="edit_profile_info_errors">
  <template>
    <div class="mt-5 text-xs text-red" id="edit_profile_info_errors">
      {% for error in errors %}
        <p>{{ error }}</p>
      {% endfor %}
    </div>
  </template>
</turbo-stream>
