<div class="w-full flex flex-col max-w-full md:max-w-5xl self-center space-y-3 sm:space-y-3.5 md:space-y-4 lg:space-y-5 sm:py-3.5 md:py-4 lg:py-5">
  <div class="flex flex-col space-y-5">
    {%# 顶部 %}
    <div class="bg-white shadow sm:rounded-lg">
      <div class="px-4 py-5 sm:p-6">
        <div class="space-y-3">
          <h1 id="message-heading" class="text-lg lg:text-xl xl:text-2xl font-bold text-gray-900">社区成员</h1>
          <p class="mt-1 text-sm text-gray-500 truncate">这里展示所有公开的社区成员，点击查看成员详情。</p>
        </div>
      </div>
    </div>
    {%# 如果公开的社区成员列表为空 %}
    {% unless spaces | count > 0 %}
      {% render "empty", message: "暂无公开的社区成员" %}
    {% endunless %}

    <div>
      {% assign users = site.users | order_by: '-register_time' %}
      {% paginate_tag users, per: 5, page: params.page %}
        <ul class="grid gap-5 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4" role="list">
          {% for user in users %}
            <li class="col-span-1 bg-white shadow sm:rounded-lg">
              <div class="flex flex-col items-center p-4 text-center sm:p-5">
                <div class="w-20 h-20 avatar">
                  <img
                    class="rounded-full"
                    src="{{ user.avatar_url }}"
                    alt="avatar" />
                </div>
                <a
                  {% if site.user_detail_enabled %}
                  href="{{ user.path }}"
                  {% endif %}
                  class="pt-3 text-lg font-medium text-slate-700 dark:text-navy-100">
                  {{ user.nick_name }}
                </a>
                <p class="text-xs+ line-clamp-1">
                  {{ user.description }}
                </p>
              </div>
            </li>
          {% endfor %}
        </ul>
        <div class="flex items-center py-8">
          {% render 'paginate', paginate: paginate %}
        </div>
      {% endpaginate_tag %}
    </div>
  </div>
</div>
